<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first, :value => @contact.FirstName %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last, :value => @contact.LastName  %>
  </div>
  <div class="field">
    <%= f.label :street1 %><br />
    <%= f.text_field :street1, :value => @contact.MailingStreet %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :value => @contact.MailingCity %>
  </div>
  <!-->
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :value => @contact.MailingState %>
  </div>
  -->
  <select id="user_state" name="user[state]" size="1">
	<option value="<%=@contact.MailingState%>"><%=@contact.MailingState%></option>
	<option value="AK">AK</option>
	<option value="AL">AL</option>
	<option value="AR">AR</option>
	<option value="AZ">AZ</option>
	<option value="CA">CA</option>
	<option value="CO">CO</option>
	<option value="CT">CT</option>
	<option value="DC">DC</option>
	<option value="DE">DE</option>
	<option value="FL">FL</option>
	<option value="GA">GA</option>
	<option value="HI">HI</option>
	<option value="IA">IA</option>
	<option value="ID">ID</option>
	<option value="IL">IL</option>
	<option value="IN">IN</option>
	<option value="KS">KS</option>
	<option value="KY">KY</option>
	<option value="LA">LA</option>
	<option value="MA">MA</option>
	<option value="MD">MD</option>
	<option value="ME">ME</option>
	<option value="MI">MI</option>
	<option value="MN">MN</option>
	<option value="MO">MO</option>
	<option value="MS">MS</option>
	<option value="MT">MT</option>
	<option value="NC">NC</option>
	<option value="ND">ND</option>
	<option value="NE">NE</option>
	<option value="NH">NH</option>
	<option value="NJ">NJ</option>
	<option value="NM">NM</option>
	<option value="NV">NV</option>
	<option value="NY">NY</option>
	<option value="OH">OH</option>
	<option value="OK">OK</option>
	<option value="OR">OR</option>
	<option value="PA">PA</option>
	<option value="RI">RI</option>
	<option value="SC">SC</option>
	<option value="SD">SD</option>
	<option value="TN">TN</option>
	<option value="TX">TX</option>
	<option value="UT">UT</option>
	<option value="VA">VA</option>
	<option value="VT">VT</option>
	<option value="WA">WA</option>
	<option value="WI">WI</option>
	<option value="WV">WV</option>
	<option value="WY">WY</option>
	<option value="AS">AS</option>
	<option value="FM">FM</option>
	<option value="GU">GU</option>
	<option value="MH">MH</option>
	<option value="MP">MP</option>
	<option value="PR">PR</option>
	<option value="PW">PW</option>
	<option value="VI">VI</option>
	<option value="AA">AA</option>
	<option value="AE">AE</option>
	<option value="AP">AP</option>
	<option value="AB">AB</option>
	<option value="BC">BC</option>
	<option value="MB">MB</option>
	<option value="NB">NB</option>
	<option value="NL">NL</option>
	<option value="NS">NS</option>
	<option value="NT">NT</option>
	<option value="NU">NU</option>
	<option value="ON">ON</option>
	<option value="PE">PE</option>
	<option value="QC">QC</option>
	<option value="SK">SK</option>
	<option value="YT">YT</option>
	<option value="None">None</option>
  </select>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :value => @contact.MailingPostalCode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
