<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<p id="notice"><%= notice %></p>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Account</h2>
		<p>Manage your personal information, name, address, spouse, login info and communication preferences.</p>
		<div class="tanWrapper">
			<h3 style="width:600px;">Your Information</h3>
			<p style="margin-top:-20px; margin-right:40px;" class="buttonSquareGreen alignRight"><a href="/users/<%= current_user.id%>/edit">Edit</a></p>
			<div class="clearfix"></div>
				<p><span class="alignLeft mymohLabel"><strong>Name: </strong></span> <span class="alignLeft"><%= @account.Name %></span></p>
					<div class="clearfix"></div>
				<p><span class="alignLeft mymohLabel"><strong>Address:</strong></span> <span class="alignLeft"><%= @account.MailingStreet %><br /><%=@account.MailingCity %>, <%=@account.MailingState %>, <%=@account.MailingPostalCode %></span></p>
					<div class="clearfix"></div>
				<p><span class="alignLeft mymohLabel"><strong>Phone:</strong></span> <span class="alignLeft"><%= @account.HomePhone %></span></p>
					<div class="clearfix"></div>
				<p><span class="alignLeft mymohLabel"><strong>Email:</strong></span> <span class="alignLeft"><%= @account.Email %></span></p>
					<div class="clearfix"></div>
				<% if @spouse %>
					<p><span class="alignLeft mymohLabel"><strong>Spouse:</strong></span> <span class="alignLeft"><%=@spouse.Name%></span></p>
				<% end %>
			<div class="clearfix"></div>
			
			<h3>Your Communication Preferences</h3>
			<p style="margin-top: 8px; font-size: 12px;">Below is a list of postal mail and email communication that Mission of Hope sends. Please uncheck the box next to any communication from Mission of Hope you no longer wish to receive.</p>
			<h4>Postal Mail Preferences</h4>
			<ul>
				<li>Newsletter: <input type="checkbox" disabled <%=@account.Newsletter__c ? "checked" : ""%> /></li>
				<li>Important Announcements: <input type="checkbox" disabled <%=@account.Important_Announcements__c ? "checked" : ""%> /></li>
				<li>Monthly Gift Statements: <input type="checkbox" disabled <%=@account.Monthly_Gift_Statements__c ? "checked" : ""%> /></li>
				<li>Campaign Updates: <input type="checkbox" disabled <%=@account.Campaign_Updates__c ? "checked" : ""%> /></li>
			</ul>
			<% if @interests %>
				<h4>Email Preferences</h4>
				<ul>
					<li>eNewsletter: <input type="checkbox" disabled <%= (@interests.include? "1021") ? "checked" : "No" %> /></li>
					<li>Important Announcements & Prayer Requests: <input type="checkbox" disabled <%= (@interests.include? "1041") ? "checked" : "" %> /></li>
					<li>Campaigns: <input type="checkbox" disabled <%= (@interests.include? "1042") ? "checked" : "" %> /></li>
				</ul>
			<% end %>
		</div>
	</div>

	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div>
</div>
