
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			Account</h1>
			
			<ul>
				<li>Name: <%= @account.Name %></li>
				<li>Address: <%= @account.MailingStreet %></li>
				<li>Phone: <%= @account.HomePhone %></li>
				<li>Email: <%= @account.Email %></li>
			</ul>	
			<a href="/users/<%=current_user.id%>/edit">Edit your information</a>
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
