
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		What's Going On With Us</h2>
		<p>
			View the latest news and updates from the projects and villages you are following.
		</p>
		<div id="contentLeft560">
			<h3>Blog Posts</h3>
			<% unless @posts.empty? %>	
				<% @posts.each do |post| %>
					<div class="update560">
						<div class="updateDate">
							<span class="month"><%=post.postdate.strftime('%b')%></span>
							<br />
							<span class="date"><%=post.postdate.strftime('%m')%></span>
							<br />
							<span class="year"><%=post.postdate.strftime('%Y')%></span>
						</div>
						<div class="updatePost560">
							<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
							<p>
								 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
							</p>
							<p class="meta">
								 Update from: <%=post.author%></p>
						</div>
						<div class="clearfix"></div>
					</div>
				<% end %>
			<% else %>
				Couldn't find any relevant blog posts.
			<% end %>
			<h3>Updates</h3>
			<% unless @updates.empty? %>	
				<% @updates.each do |post|%>
					<div class="update560">
						<div class="updateDate">
							<span class="month"><%=post.postdate.strftime('%b')%></span>
							<br />
							<span class="date"><%=post.postdate.strftime('%m')%></span>
							<br />
							<span class="year"><%=post.postdate.strftime('%Y')%></span>
						</div>
						<div class="updatePost560">
							<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
							<p>
								 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
							</p>
							<p class="meta">
								 Update from: <%=post.author%></p>
						</div>
						<div class="clearfix"></div>
					</div>
				<% end %>
			<% else %>
				We couldn't find any relevant updates.
			<% end %>
				
		</div>

		<div id="contentRight300">
			<h2>Projects You Are Following</h2>
			<ul class="aboutUsNav">
				<% unless @projects.empty? %>
					<% @projects.each do |proj| %>
						<li><a href="/projects?cid=<%=proj.id%>"><%=proj.communityname%> &raquo;</a></li>
					<% end %>
				<% else %>
					<li>Didn't find any projects</li>
				<% end %>
			</ul>
			<h2>Villages You Are Following</h2>
			<ul class="aboutUsNav">
				<% unless @villages.empty? %>
					<% @villages.each do |vil| %>
						<li><a href="/villages/<%=vil.id%>"><%=vil.communityname%> &raquo;</a></li>
					<% end %>
				<% else %>
					<li>Didn't find any villages</li>
				<% end %>
			</ul>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
