
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2>What's Going at Mission of Hope</h2>
		<div id="contentLeft560">
			
			<% unless @villages.empty? %>
				<% @villages.each do |village| %>
					<h3>Recent Activity for <%=village.communityname%></h2>
					<% v_posts = @posts.select{ |post| post.communities.include? village }.first(3) %>	
					<% v_updates = @updates.select{ |update| update.communities.include? village }.first(3) %>	
					<h4>Blog Posts</h4>
					<% unless v_posts.empty? %>
						<% v_posts.each do |post| %>
							<div class="update560">
								<div class="updateDate">
									<span class="month"><%=post.postdate.strftime('%b')%></span>
									<br />
									<span class="date"><%=post.postdate.strftime('%m')%></span>
									<br />
									<span class="year"><%=post.postdate.strftime('%Y')%></span>
								</div>
								<div class="updatePost560">
									<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
									<p>
										<% unless post.assets.last.nil? %>
											<img src="<%= post.assets.last.asset.url(:thumb)%>" />
										<% end %>
										<%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(b) %>
										 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
									</p>
									<p class="meta">
										<% if post.author && !post.author.empty? %><p class="meta">Update from: <%=post.author%></p><% end %>
								</div>
								<div class="clearfix"></div>
							</div>
						<% end %>
					<% else %>
						No blog posts found.
					<% end %>
					
					<h4>Updates</h4>
					<% unless v_updates.empty? %>
						<% v_updates.each do |post| %>
							<div class="update560">
								<div class="updateDate">
									<span class="month"><%=post.postdate.strftime('%b')%></span>
									<br />
									<span class="date"><%=post.postdate.strftime('%m')%></span>
									<br />
									<span class="year"><%=post.postdate.strftime('%Y')%></span>
								</div>
								<div class="updatePost560">
									<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
									<p>
										<% unless post.assets.last.nil? %>
											<img src="<%= post.assets.last.asset.url(:thumb)%>" />
										<% end %>
										<%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(b) %>
										 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
									</p>
									<% if post.author && !post.author.empty? %><p class="meta">Update from: <%=post.author%></p><% end %>
								</div>
								<div class="clearfix"></div>
							</div>
						<% end %>
					<% else %>
						No updates found.
					<% end %>
				<% end %>
			<% end %>
			
			
			<% unless @projects.empty? %>
				<% @projects.each do |project| %>
					<h3>Recent Activity for <%=project.projectname%></h2>
					<% p_posts = @posts.select { |post| post.communities.include? project } %>	
					<% p_updates = @updates.select { |update| update.communities.include? project } %>	
					<h4>Blog Posts</h4>
					<% unless p_posts.empty? %>
						<% p_posts.each do |post| %>
							<div class="update560">
								<div class="updateDate">
									<span class="month"><%=post.postdate.strftime('%b')%></span>
									<br />
									<span class="date"><%=post.postdate.strftime('%m')%></span>
									<br />
									<span class="year"><%=post.postdate.strftime('%Y')%></span>
								</div>
								<div class="updatePost560">
									<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
									<p>
										<% unless post.assets.last.nil? %>
											<img src="<%= post.assets.last.asset.url(:thumb)%>" />
										<% end %>
										<%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(b) %>
										 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
									</p>
									<p class="meta">
										<% if post.author && !post.author.empty? %><p class="meta">Update from: <%=post.author%></p><% end %>
								</div>
								<div class="clearfix"></div>
							</div>
						<% end %>
					<% else %>
						No blog posts found.
					<% end %>
					
					<h4>Updates</h4>
					<% unless p_updates.empty? %>
						<% p_updates.each do |post| %>
							<div class="update560">
								<div class="updateDate">
									<span class="month"><%=post.postdate.strftime('%b')%></span>
									<br />
									<span class="date"><%=post.postdate.strftime('%m')%></span>
									<br />
									<span class="year"><%=post.postdate.strftime('%Y')%></span>
								</div>
								<div class="updatePost560">
									<h4><a href="/blog/<%=post.id%>"><%=post.title%></a></h4>
									<p>
										<% unless post.assets.last.nil? %>
											<img src="<%= post.assets.last.asset.url(:thumb)%>" />
										<% end %>
										<%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(b) %>
										 <a href="/blog/<%=post.id%>">Read More &raquo;</a>
									</p>
									<% if post.author && !post.author.empty? %><p class="meta">Update from: <%=post.author%></p><% end %>
								</div>
								<div class="clearfix"></div>
							</div>
						<% end %>
					<% else %>
						No updates found.
					<% end %>
				<% end %>
			<% end %>
		</div>

		<div id="contentRight300">
			<!--
			<div class="rightBox">
				<h3 style="color: #079367;">Projects You're Following</h3>
			<ul>
				<% unless @projects.empty? %>
					<% @projects.each do |proj| %>
						<li><a href="/projects/<%=proj.id%>"><%=proj.projectname%> &raquo;</a></li>
					<% end %>
				<% else %>
					<li>You aren't following any projects.</li>
					<li><a href="/projects">Follow a project &raquo;</a></li>
				<% end %>
			</ul>
			</div>
			<div class="rightBox">
				<h3 style="color: #079367;">Villages You're Following</h3>
				<ul>
					<% unless @villages.empty? %>
						<% @villages.each do |vil| %>
							<li><a href="/villages/<%=vil.id%>"><%=vil.communityname%> &raquo;</a></li>
						<% end %>
					<% else %>
						<li>You aren't following any villages.</li>
						<li><a href="/villages">Follow a village &raquo;</a></li>
					<% end %>
				</ul>
			</div>
			-->
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
