
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			Giving</h1>
			
			<h2>Your Account Summary</h2>
			<ul>
				<li>Account: <%=@account.Account__c %></li>
				<li>Lifetime Donations: $<%= @account.cv__summary_lifetime_gift_amount__c.to_int || 0 %></li>
				<li>Address: <%= @account.MailingStreet %></li>
				<li>Name: <%=@account.Name %></li>
				<li>City, State: <%= @account.MailingCity %>, <%=@account.MailingState%></li>
				<li>Phone: <%=@account.Phone %></li>
				<li>Email: <%=@account.Email %></li>
				<li>Lifetime Gifts: <%= @account.cv__summary_lifetime_gift_count__c.to_int || 0 %></li>
				<li>YTD Donations: $<%= @account.cv__summary_ytd_gift_amount__c.to_int || 0 %></li>
				<li>YTD Gifts: <%= @account.cv__summary_ytd_gift_count__c.to_int || 0 %></li>
				<li>Last Year Donations: $<%= @account.cv__summary_last_year_gift_amount__c.to_int || 0 %></li>
				<li>Last Year Gifts: <%= @account.cv__summary_last_year_gift_count__c.to_int || 0 %></li>
				<li>Most Recent Donation Amount: $<%= @account.cv__Last_Gift_Amount__c.to_int || 0 %></li>
			</ul>	
			
			<% unless @recurring == nil %>
			<h3>Recurring Gift</h3>
			<ul>
				<li>Amount: $<%= @recurring.cv__Recurring_Amount__c.to_int %></li>
				<li>Start Date: <%= @recurring.cv__Start_Date__c %></li>
				<li>Card Number: <%= @recurring.cv__Card_Number__c %></li>
				<li>Card Type: <%= @recurring.cv__Credit_Card_Type__c %></li>
			</ul>
			<% end %>
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
