<div id="wrapper">

	<div id="content" style="padding-top:50px;">

		<h1>My MOH</h1>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		Gift Receipt</h2>

			<% @totalgifted = 0 %>
			<% if @donation %>
			<% @donation.each do |don| %>
				<% @ddr = Cv__Donation_Designation_Relationship__c.find_by_cv__Opportunity__c(don.Id) %>
				<% @designation = Cv__Designation__c.find_by_Id(@ddr.cv__Designation__c)%>
				
				<br/>Reference ID: <%=don.Id%>
				<br/>Date Charged: <%=don.CloseDate.strftime("%b %-d, %Y")%>
				<br/>Type of Gift: <%=don.Type%>
				<br/>Designation: <%=@designation.Name %>
				<br/>Description: <%=don.Description%>
				<br/>Amount: $<%=don.Amount.to_int || "N/A" %>
			<% end %>
			<% else %>
					We're sorry--we can't find that gift, or you're not authorized to view it.
			<% end %>
		</table>
	</div>