<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">

		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		Full Giving History</h2>

		<table class="mygiving" width="100%" border="0">
			<tr>
				<th colspan="5"><h2>History</h2></th>
			</tr>
			<tr>
				<th valign="top"><h3>Date</h3></th>
				<th valign="top"><h3>Type</h3></th>
				<th valign="top"><h3>Designation</h3></th>
				<th valign="top"><h3>Description</h3></th>
				<th valign="top"><h3>Amount</h3></th>
			</tr>
			<% @totalgifted = 0 %>
			<% if @donations %>
				<% @donations.each do |don| %>
					<% @ddr = Cv__Donation_Designation_Relationship__c.find_by_cv__Opportunity__c(don.Id) %>
					<% @designation = Cv__Designation__c.find_by_Id(@ddr.cv__Designation__c)%>
					<tr>
						<td><a href="/mymoh/giving/receipt/<%=don.Id%>"><%=don.CloseDate.strftime("%b %-d, %Y")%></a></td>
						<td><%=don.Type%></td>
						<td><%=@designation.Name %></td>
						<td><%=don.Description%></td>
						<td>$<%=don.Amount.to_int || "N/A" %></td>
					</tr>
					<% @totalgifted += don.Amount.to_int %>
				<% end %>
				<tr>
					<td colspan=4>Total Amount Gifted</td>
					<td>$<%=@totalgifted%></td>
				</tr>
			<% else %>
				<tr>
					<td colspan=5>No gifts found to display for select time period.</td>
				</tr>
			<% end %>
		</table>
		<div class="clearfix" style="height:40px;">
		Filter By Date:
		<form method="POST" action="/mymoh/giving/history">
			Start: <input class="datepicker1" type="text" name="start_date" />
			<br/>
			End: <input class="datepicker2" type="text" name="end_date" />
			<br/>
			<input type="submit" />
		</form>
		<div class="clearfix"><!--x--></div>
			<!--x-->
		</div>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script>
$(".datepicker1").datepicker({dateFormat: "yy-mm-dd"}).datepicker("setDate", "<%=@start_date%>");
$(".datepicker2").datepicker({dateFormat: "yy-mm-dd"}).datepicker("setDate", "<%=@end_date%>");
</script>
