<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">

		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br /><a href="/mymoh/giving">My Giving</a> &raquo; My Recurring Gifts</h2>

		<% unless (@recurring == nil) || @recurring.empty? %>
			<% @recurring.each do |rec| %>
				<h2>Recurring Payment</h2>
				<form action="" method="POST">
					<input type="hidden" name="gift_id" value="<%= rec.Id %>" />
					<div class="field">
						<label>Description:</label><br>
						<%= rec.cv__Recurrence_Description__c || "N/A"%>
					</div>
					<div class="field">
						<label>Amount:</label><br>
						<input type="text" name="gift_amount" value="<%= rec.cv__Recurring_Amount__c %>" />
					</div>
					<div class="field">
						<label>Last Payment:</label><br>
						<%= rec.cv__Last_Payment_Date__c ? rec.cv__Last_Payment_Date__c : "N/A"%>
					</div>
					<div class="field">
						<label>Next Payment:</label><br>
						<input type="text" name="gift_next_date" value="<%= rec.cv__Next_Payment_Date__c%>" />
					</div>
					<div class="field">
						<label>Payment Day of the Month:</label><br>
						<input type="text" name="gift_day_of_month" value="<%= rec.cv__RecurrenceDayOfMonth__c.to_i %>" />
					</div>
					<div class="field">
						<label>Gift Status:</label><br/>
						<select name="gift_status">
							<option value="Active" <%= rec.cv__Recurring_Gift_Status__c == "Active" ? "selected" : "" %>>Active</option>
							<option value="Paused" <%= rec.cv__Recurring_Gift_Status__c == "Paused" ? "selected" : "" %>>Paused</option>
							<option value="Written Off - Donor Canceled" <%= rec.cv__Recurring_Gift_Status__c == "Written Off - Donor Canceled" ? "selected" : "" %>>Canceled</option>
						</select>
					</div>
					<div class="actions">
						<input type="Submit" value="Submit" />
					</div>
				</form>
				<br/>
			<% end %>
		<% else %>
			<p>We can't find any recurring donations to edit!</p>
		<% end %>
		
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
