<% if @recurring.empty? and @donations.empty? and (@account.cv__Lifetime_Combined_Credit_Amount__c.nil? or @account.cv__Lifetime_Combined_Credit_Amount__c < 1) %>
	<script>
		window.location = "http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1";
	</script>
<% end %>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">

		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Giving</h2>

		<p>
			View your account summary, recurring gifts and gift history with Mission of Hope, Haiti.
		</p>
		<p>
			Mission of Hope Haiti, Inc. is a not for profit, 501(c)3 organization. Charitable gifts and payments may or may not be tax deductible. Please consult your tax advisor.
		</p>
		<p>
If you are a Canadian Donor and would like to receive a tax-deductible receipt, please give through our Canadian partner, <a href="http://www.speroway.com/our-partners/international-partners/mission-of-hope" target="_blank">Speroway</a>.</p>
		<table class="mygiving" width="100%" border="0">
			<tr>
				<th colspan="3" class="label"><h2>Most Recent Donation Status</h2></th>
			</tr>
			<tr>
				<td><span class="label"><%= @gift_status if @gifts %></span></td>
			</tr>
		</table>
		
		<table class="mygiving" width="100%" border="0">
			<tr>
				<th colspan="3" class="label"><h2>My Account Summary</h2></th>
			</tr>
			<tr>
				<td><span class="label">Account</span><span class="data"><%= @account.Account__c %></span></td>
				<td><span class="label">Lifetime Donations</span>$<%= @account.cv__Lifetime_Combined_Credit_Amount__c ? currency_convert(@account.cv__Lifetime_Combined_Credit_Amount__c) : 0 %></span></td>
			</tr>
			<tr>
				<td><span class="label">Name</span><span class="data"><%= @account.Name %></span></td>
				<td><span class="label">Lifetime Gifts</span><span class="data"><%= @account.cv__Lifetime_Combined_Credit_Count__c ? @account.cv__Lifetime_Combined_Credit_Count__c.to_int : 0 %></span></td>
			</tr>
			<tr>
				<td><span class="label">Most Recent Donation</span><span class="data">$<%= @account.cv__Last_Gift_Amount__c ? currency_convert(@account.cv__Last_Gift_Amount__c) : 0 %></span></td>
				<td><span class="label">Last Year's Donations</span><span class="data">$<%= @account.cv__Last_Year_Combined_Credit_Amount__c ? currency_convert(@account.cv__Last_Year_Combined_Credit_Amount__c) : 0 %></span></td>
			</tr>
			<tr>
				<td><span class="label">This Year's Donations</span><span class="data">$<%= @account.cv__YTD_Combined_Credit_Amount__c ? currency_convert(@account.cv__YTD_Combined_Credit_Amount__c) : 0 %></span></td>
				<td><span class="label">Last Year's Number of Gifts</span><span class="data"><%= @account.cv__Last_Year_Combined_Credit_Count__c ? @account.cv__Last_Year_Combined_Credit_Count__c.to_i : 0 %></span></td>
			</tr>
			<tr>
				<td><span class="label">This Year's Number of Gifts</span><span class="data"><%= @account.cv__YTD_Combined_Credit_Count__c ? @account.cv__YTD_Combined_Credit_Count__c.to_int : 0 %></span></td>
				<td><span class="label">&nbsp;</span></td>
			</tr>
		</table>
		<div class="buttonWrapper" style="width:660px; margin:auto;">
			<div class="buttonSquareOrange" style="width:280px; margin: auto; margin-bottom: 50px;">
				<a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Give Now</a>
			</div>
		</div>

		<% unless @recurring == nil %>
		<table class="mygiving" width="100%" border="0">
			<tr>
				<th colspan="7"><h2>My Recurring Gifts</h2></th>
			</tr>
			<tr>
				<th><h3>Description</h3></th>
				<th><h3>Recurring Amount</h3></th>
				<th><h3>Last Gift Amount</h3></th>
				<th><h3>Last Gift Date</h3></th>
				<th><h3>Amt Ahead/(Behind)</h3></th>
				<th><h3>Next Gift Date</h3></th>
				<th><h3>Gift Amount Needed</h3></th>
			</tr>
			
			<% @recurring.each do |rec| %>
				<% if rec.cv__Recurring_Gift_Status__c == "Active" %>
					<tr>
						<td style="min-width: 200px;"><%= rec.Name || "N/A"%></td>
						<td>$<%= currency_convert(rec.cv__Recurring_Amount__c) %></td>
						<td>$<%= currency_convert(rec.cv__Last_Payment_Amount__c) || 0 %></td>
						<td><%= rec.cv__Last_Payment_Date__c ? rec.cv__Last_Payment_Date__c.strftime("%b %-d, %Y") : "N/A"%></td>
						<td>$<%= rec.AheadBeahind__c < 0 ? "(" + rec.AheadBeahind__c.abs.to_i.to_s + ")" : rec.AheadBeahind__c.to_i %></td>
						<td><%= rec.cv__Next_Payment_Date__c ? rec.MOH_Bill_Date__c.strftime("%b %-d, %Y") : "N/A"%></td>
						<td>$<%= currency_convert(rec.cv__Next_Payment_Amount__c) || "N/A"%></td>
					</tr>
				<% end %>
			<% end %>
		</table>
		<div class="buttonWrapper" style="width:660px; margin:auto;">
			<div class="buttonSquareOrange" style="width:480px; margin: auto;">
				<!--<a href="/mymoh/giving/edit">Manage Recurring Gifts</a>-->
				<!--<a href="http://mohh.convio.net/site/ServiceCenter?pg=list">Manage Recurring Gifts</a>-->
				Need help managing your recurring gift? Call 512-256-0835.
			</div>
			<!--<label style="margin-top:10px;"><br/>(Note: Links to our donation management site. Use your myMOH login if you are prompted.)</label>-->
			<div class="clearfix" style="height:80px;"></div>
		</div>
		<% end %>


		<table class="mygiving" width="100%" border="0">
			<tr>
				<th colspan="5"><h2>My Giving History - <%=Date::MONTHNAMES[Date.today.month]%></h2></th>
			</tr>
			<tr>
				<th valign="top"><h3>Date</h3></th>
				<th valign="top"><h3>Type</h3></th>
				<th valign="top"><h3>Designation</h3></th>
				<th valign="top"><h3>Description</h3></th>
				<th valign="top"><h3>Amount</h3></th>
			</tr>
			<% @totalgifted = 0 %>
			<% if @donations.length > 0 %>
				<% @donations.each do |don| %>
					<% if (Date.today - don.CloseDate) < 30 %>
						<% @ddr = Cv__Donation_Designation_Relationship__c.find_by_cv__Opportunity__c(don.Id) %>
						<% if @ddr %>
						<% @designation = Cv__Designation__c.find_by_Id(@ddr.cv__Designation__c)%>
						<% end %>
						<tr>
							<td><a href="/mymoh/giving/receipt/<%=don.Id%>"><%=don.CloseDate.strftime("%b %-d, %Y")%></a></td>
							<td><%=don.Type%></td>
							<td><% if @designation %><%=@designation.Name %><% end %></td>
							<td><%=don.Description%></td>
							<td>$<%=don.Amount.to_int || "N/A" %></td>
						</tr>
						<% @totalgifted += don.Amount.to_int %>
					<% end %>
				<% end %>
				<tr>
					<td colspan=4>Total Amount Gifted</td>
					<td>$<%=@totalgifted%></td>
				</tr>
			<% else %>
				<tr>
					<td colspan=5>
						We cannot find any donations given this month. If you have given, they may be associated with another account in your household.
					</td>
				</tr>
			<% end %>
			
		</table>
		<div class="buttonSquareOrange" style="width:280px; margin: auto; margin-bottom: 50px;">
				<a href="/mymoh/giving/history">See Complete History</a>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
