<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">

		<h1>My MOH</h1>

		<%= render 'layouts/mymohNav'%>
		<div class="loginWrapper">
			<div class="loginLeft">
				<h2>My Account</h2>
				<p>
					Manage your personal information, name, address, spouse,
					login information, and communication preferences.
				</p>

				<h2>My Fundraising</h2>
				<p>
					Create a personal fundraising page to raise funds for
					a mission of hope program or project.
				</p>

				<h2>Projects &amp; Villages</h2>
				<p>
					Subscribe to projects and villages to see feeds of blog posts,
					updates and progress of what is happening.
				</p>
			</div>
			<div class="loginRight">
				<h2>Sign In</h2>
				<%= form_tag sessions_path do %>
				<p>
					<%= label_tag :email %>
					<br />
					<%= text_field_tag :email, params[:email] %>
				</p>
				<p>
					<%= label_tag :password %>
					<br />
					<%= password_field_tag :password %>
				</p>
				<p>
					<a href="">Forget your login info?</a>
				</p>

				<p>
					<%= submit_tag("Sign In", :class => "buttonSquareOrange") %>
				</p>
				<% end %>
				<p class="buttonSquareGreen">
					<a href="">Create Account</a>
				</p>
			</div>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
