<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Sponsorships</h2>
		<p>
			View your sponsored children, send them gifts or write them a letter!
		</p>
		<% unless @children.empty? %>
		<% @children.each do | child |%>
		<div class="sponsoredWrap">
			<div class="sponsoredPhoto">
				<%= child.LastModifiedById.html_safe %>
			</div>
			<div class="sponsoredProfile">
				<h3><%= child.Name__c %></h3>
				<p>
					<strong>Child Code:</strong> <%= child.Student_Code__c %>
				<p>
					<strong>Favorite Activity:</strong> <%= child.Favorite_Activity__c%>
					<br>
					<strong>Favorite Class:</strong> <%= child.Favorite_Class__c%>
					<br>
					<strong>Wants to Be:</strong> <%= child.Future_Occupation__c%>
				</p>
				<div class="buttonSquareOrange" style="width: 200px; float:left; margin-right:20px;">
					<a href="/write_my_child"><img src="/assets/icon-pencil.png" /> Write to <%= child.First_Name__c %></a>
				</div>
				<div class="buttonSquareOrange" style="width: 200px; float:left;">
					<a href="http://mohh.convio.net/site/Ecommerce?store_id=1221"><img src="/assets/icon-gift.png" /> Give <%= child.First_Name__c %> a gift</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<% end %>
		<% else %>
		<!--No Sponsorships-->
		<p>
			We didn't find any sponsorships associated with your account.
		</p>
		<% end %>

		<div class="tanWrapper">
			<div class="buttonSquareGreen alignRight">
				<h3><a href="https://mohhaiti.secure.force.com/sponsorship">Sponsor Another Child</a></h3>
			</div>
			<% if false %>
			<% if @otherchildren && (@otherchildren.length > 0)%>
			<% end %>
				<div class="sponsorChild">
					<% @otherchildren.each do |child|%>
					<div class="child">
						<a href="http://mohhaiti.force.com/sponsorship/ChildPortal_Search?id=<%=child.Id%>"><%= @photo = Picture__c.find_by_Child__c(child.Id).Photo__c.html_safe %></a>
					</div>
					<% end %>
				</div>
			<% else %>
				<!-- display something here for when there's no kids -->
				<div class="sponsorChild">
					<div class="child">
						<a href="/child-sponsorship"><img src="/assets/mymoh-sponsor-another.jpg" style="width: 500px; height: 197px;"/></a>
					</div>
				</div>
			<% end %>
			<div class="clearfix"></div>

		</div>
		<% unless @related_result.nil? %>
		<% if !@related_result.empty? %>
		<h2>What We've Been Up To Lately</h2>
		<% @related_result[1..15].each do |related|%>
		<!--time: it's month, day, year -->
		<!--<%=related.postdate.strftime("%b")%> <%=related.postdate.strftime("%d")%>, <%=related.postdate.strftime('%Y')%>-->
		<div class="update960" style="line-height: 1.3em; height=120px;">
			<div class="updateDate">
			<span class="month"><%=related.postdate.strftime("%b")%></span><br />
			<span class="date"><%=related.postdate.strftime("%d")%></span><br />
			<span class="year"><%=related.postdate.strftime('%Y')%></span>
			</div>
			<div class="updatePost960">
			<h4><a href="/updates/<%= related.id%>"><%= related.title%></a> 
			<br/>
			</h4>
			<% unless related.assets.last.nil? %>
			<img src="<%= related.assets.last.asset.url(:thumb)%>" />
			<%end %>
			<%= related.body %>
			</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
		<% end%>
		<!--</h3>-->
		<% end %>
		<%end%>
	</div>


	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div><!--end clearfix-->
</div>
