
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			Sponsorships</h1>
			
			<h3>Children</h3>
			<% unless @children.empty? %>
				<% @children.each do | child |%>
					<ul>
						<li>Child: <%= child.Name__c %><br>
							ID: <%=child.Student_Code__c.to_int %><br>
							<%= child.LastModifiedById.html_safe %><br>
							Favorite Activity: <%= child.Favorite_Activity__c%><br>
							Favorite Class: <%= child.Favorite_Class__c%><br>
							Wants to Be: <%= child.Future_Occupation__c%><br>
							<a href="/write_my_child">Write to <%= child.First_Name__c %></a><br>
							<a href="/gift_store">Give <%= child.First_Name__c %> a gift</a><br>
						</li>
					</ul>
				<% end %>
			<% else %>
				<!--No Sponsorships-->	
				<p>We didn't find any sponsorships associated with your account.</p>
			<% end %>
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
