
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			Trip</h1>
			
			<h4><%=@trip.Trip_Name__c%></h4>
			<% #if @trip.Start_Date__c > Date.today %>	
			<% if Date.tomorrow > Date.today %>	
				<!-- This Trip hasn't started yet-->
				<p>Leaving <%=Date.tomorrow%></p>
				<p>Informative videos</p>
				<p>Trip packets</p>
				<p>Bible Study Plans</p>
				<p>Checklist for trip prep</p>
				<p>Tips on raising support</p>
				<p>Learn about MOH "feature"</p>
				<p>Survey link to share skills</p>
				<p>Link to personal fundraising portal</p>
				<% unless @sponsorship.nil? %>
					<p>Tell <a href="mailto:mail@contact.email">main@contact.email</a> that you sponsor <%= @child.Name %> so you can meet them on your trip!</p>
				<% end %>
			<% else %>
				<!-- This Trip started already-->
				<p>Started <%= Date.yesterday %></p>
				<p>Thank you message</p>
				<p>Sponsor a child link</p>
				<p>Survey link</p>
				<p>Share your experience link</p>
				<p>Turn your Mission Trip fundraising page into a MOH fundraising page link</p>
		    <% end %>
			
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
