<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Mission Trips</h2>
		<% if (!@trip.Haiti_Arrival_Date__c || @trip.Haiti_Arrival_Date__c > Date.today)%>
		<% #if Date.today > Date.tomorrow %>
		<!-- This Trip hasn't started yet-->

		<div class="tanWrapper">
			<h3><!--<%= @trip.Trip_Name__c%>--><%= @trip.Name%></h3>
			<div class="alignLeft">
				<h4>Trip Starts: <%= @trip.Haiti_Arrival_Date__c || "Unknown" %></h4>
				<h4>Trip Ends: <%= @trip.Haiti_Departure_Date__c || "Unknown" %></h4>
			</div>
			<div class="alignRight" style="color:#E4D4B9; background-color:#078E60; padding:15px; margin-right:20px; margin-top:-20px;">
				<h4 class="center"><strong>Days Till Trip: </strong>
				<br />
				<%if @trip.Haiti_Arrival_Date__c%>
					<%=@trip.Haiti_Arrival_Date__c - Date.today%> days
				<%else%>Unknown
				<%end%></h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<!---trip participant list-->
		<div id="contentLeft560">
			<h3>Pre-Trip Checklist</h3>
			<ul class="checklist">
				<li>
					Read the MOH Commitment Packet &amp; Departure Packet. It’s critical to
					read and familiarize yourself with the MOH trip packets. They will answer
					most of your basic questions and provide you with insight on what to expect
					at MOH.
				</li>
				<li>
					Get familiar with MOH. Check out what God is doing through MOH on the
					website (www.mohhaiti.org) before you travel to Haiti!
				</li>
				<li>
					Prepare yourself culturally. It is great to read through some Haitian history
					to prepare yourself culturally. Below are some suggested reading materials
					from our staff.
				</li>
				<li>
					Ask your family and friends to pray. Be sure to ask your friends and family
					to pray for your trip, for your team and for Mission of Hope, Haiti.
				</li>
				<li>
					Double-check your packing list. Read over the Packing List in the
					Departure Packet to make sure you aren't forgetting anything.
				</li>
				<li>
					The Dress Code section of the Departure Packet has some great advice on what to wear
					and how to pack.
				</li>
				<li>
					Turn in payment/funds raised to your trip leader. Your leader is
					responsible for submitting all payments for your team to Mission of Hope,
					Haiti.
				</li>
				<li>
					Turn in all required documentation to your trip leader. This includes
					your application information and Medical Release Form.
				</li>
			</ul>

			<!--leader checklist-->
			<!--<ul class="checklist">
			<li><strong>Food List:</strong> Purchase and divide up the required Food List items amongst
			your team members. </li>
			<li><strong>Needs List:</strong> Print out the Needs List and highlight the items you are bringing
			to donate to the mission. If you are bringing donations not listed on the
			Needs List, please create a typed list of what you are bringing and give it to
			your stateside Mission Trip Coordinator. </li>
			<li><strong>Application Form:</strong> The Mission Trip Application form is to be filled out
			completely, with all team members listed, no later than 30 days before your
			trip. This should be submitted to your stateside Mission Trip Coordinator.</li>
			<li> <strong>Medical Release Forms:</strong> Please have all Medical Release forms signed and
			submitted to your stateside Mission Trip Coordinator. </li>
			<li><strong>Flight Itinerary:</strong> Please email your team’s flight itinerary, including any
			team members who will be flying separately, to your stateside Mission Trip
			Coordinator.</li>
			<li><strong>Trip Payment:</strong> Payment for all team members is due in full one month
			before your trip. You can <a href="http:// mohh.convio.net/site/Donation2?df_id=1561&amp;1561.donation=form1">make a payment here</a>.</li>
			<li> <strong>Airport Drop Off & Arrival Plan:</strong> On the day of your departure from your
			hometown, be sure to have an airport drop-off plan in place for your team.
			Make the same arrangements for your arrival back to your hometown. </li>
			</ul>-->
			<img src="/assets/contentDiv.png" width="560px"/>
			<h3>Suggested Reading List</h3>
			<div class="bookWrapper">
				<div class="bookPhoto"><img src="/assets/book-foreign-to-familiar.jpg" />
				</div>
				<div class="bookData">
					<p>
						<strong>Title:</strong> Foreign to Familiar
						<br>
						<strong>Author:</strong> Sarah A. Lanier
						<br>
						<strong>Release Date:</strong> October 1st, 2000
					</p>
					<p>
						<strong>Description:</strong>
						<br>
						We suggest reading this one first. This has been called a must-read for anyone who
						is involved in cross-cultural communications or who plans to do work (aid, mission,
						short-term) in a foreign culture!
					</p>

					<div class="buttonSquareOrange alignRight" style="width:150px;">
						<a href="http://www.amazon.com/Foreign-Familiar-Understanding-Climate-Cultures/dp/1581580223" target="_blank">Buy this book!</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="bookWrapper">
				<div class="bookPhoto"><img src="/assets/book-helping-hurts.jpg" />
				</div>
				<div class="bookData">
					<p>
						<strong>Title:</strong> When Helping Hurts
						<br>
						<strong>Author:</strong> Steve Corbett and Brian Fikkert
						<br>
						<strong>Release Date:</strong> April 20, 2012
					</p>
					<p>
						<strong>Description:</strong>
						<br>
						When Helping Hurts begins by establishing a solid Biblical foundation for
						understanding the nature of poverty and its alleviation. This is more than an
						academic exercise, because a person’s understanding of poverty shapes the
						strategies he or she uses to minister to poor people. Building upon this foundation,
						the book then outlines several general principles for all poverty alleviation efforts,
						including: the importance of distinguishing between relief, rehabilitation, and
						development; the difference between asset-based and needs-based strategies;
						and the advantages of participatory over blueprint approaches. These general
						principles are then applied to short-term missions’ efforts and to various economic
						development strategies appropriate for North American and international contexts,
						including jobs training, financial literacy, individual development accounts, and
						micro-enterprise development.
					</p>

					<div class="buttonSquareOrange alignRight" style="width:150px;">
						<a href="http://www.amazon.com/When-Helping-Hurts-Alleviate-Yourself/dp/0802457061" target="_blank">Buy this book!</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="bookWrapper last">

				<div class="bookPhoto"><img src="/assets/book-haiti-tumultuous-history.jpg" />
				</div>
				<div class="bookData">
					<p>
						<strong>Title:</strong> Haiti: The Tumultuous History – From Pearl of the Caribbean to Broken
						Nation
						<br>
						<strong>Author:</strong> Philippe Girard
						<br>
						<strong>Release Date:</strong> September 14, 2010
					</p>
					<p>
						<strong>Description:</strong>
						<br>

						Why has Haiti been plagued by so many woes? Why have multiple U.S. efforts to
						create a stable democracy in Haiti failed so spectacularly? Philippe Girard answers
						these and other questions, examining how colonialism and slavery have left a
						legacy of racial tension, both within Haiti and internationally, and why Haitians
						remain deeply suspicious of white foreigners' motives, many of whom doubt
						the Haitians' ability to govern themselves. He also examines how Haiti's current
						political instability is merely a continuation of political strife that began during the
						War of Independence (1791-1804). Finally, Girard explores poverty's devastating
						impact on contemporary Haiti and argues that Haitians--particularly home-grown
						dictators--bear a big share of the responsibility for their nation's troubles.
					</p>

					<div class="buttonSquareOrange alignRight" style="width:150px;">
						<a href="http://www.amazon.com/Haiti-Tumultuous-History-Caribbean-Broken/dp/0230106617" target="_blank">Buy this book!</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<img src="/assets/contentDiv.png" width="560px"/>

			<h3>Fundraising Ideas For Your Trip</h3>
			<h4>Small-Medium Ideas:</h4>
			<ul>
				<li>
					Garage sale
				</li>
				<li>
					Bake sale
				</li>
				<li>
					Live auctions (auction off services or items)
				</li>
				<li>
					Street performances
				</li>
				<li>
					Fraternity/sorority competitions
				</li>
				<li>
					Fasting from your favorite thing for a month (or least favorite)
				</li>
				<li>
					Collect trash and recycle for profit
				</li>
				<li>
					Dinner Party
				</li>
				<li>
					Save change or change collection jar (“change makes cents”)
				</li>
				<li>
					Lemonade/Hot Chocolate/Pancake Stand
				</li>
				<li>
					High End Hugging Booth
				</li>
				<li>
					Mow lawns
				</li>
				<li>
					Babysit for Haiti
				</li>
				<li>
					eBay/craigslist for Haiti
				</li>
				<li>
					Indentured Servant for a Day
				</li>
				<li>
					_________ Wash (Car, Dog, Clothes....Bring anything and we'll wash it)
				</li>
				<li>
					Raffle tickets
				</li>
				<li>
					Draw caricatures
				</li>
				<li>
					Bike taxi around campus
				</li>
				<li>
					Puppet shows
				</li>
				<li>
					Poetry/Short Story Slam
				</li>
				<li>
					Moon Jump/Gladiator Contest
				</li>
				<li>
					Host a movie night for an admission fee
				</li>
				<li>
					Bingo night
				</li>
				<li>
					Obscure Tournaments (Trivia, Chess/Checkers, Spelling Bee, Nerts, Spades,
					<br>
					Poker....)
				</li>
				<li>
					Charge $ to swing a sledgehammer at a junk car
				</li>
			</ul>
			<h4>Big Event Ideas:</strong></h4>
			<ul>
				<li>
					Gala/Benefit Dinner
				</li>
				<li>
					Dance Party
				</li>
				<li>
					Fashion Show
				</li>
				<li>
					College Idol Talent Show
				</li>
				<li>
					So You Think You Can ________ (Dance, Sing, Rap, Craft, Jam, etc.)
				</li>
				<li>
					Benefit Concert
				</li>
				<li>
					Art Show (paintings, photos, origami etc.)
				</li>
				<li>
					Auction (Items, Dates, Art)
				</li>
				<li>
					Sports Tournaments (Flag football, basketball, 3v3 soccer, corn-hole, ping pong, footrace 1 legged for prosthetics etc...)
				</li>
			</ul>

			<% unless @sponsorship.nil? %>
			<!--<p>
			Tell <a href="mailto:mail@contact.email">main@contact.email</a> that you sponsor <%= @child.Name %> so you can meet them on your trip!
			</p>-->

		</div>

		<div id="contentRight300">
			<h3 class="myMOHRight">Important Downloads</h3>
			<div class="rightBox">
				<p>
					<strong>Info Packet:</strong> This packet provides an overview of a short-term mission trip with
					Mission of Hope. You will find an introduction, pricing, and flight requirements.
					Please read through this before deciding whether or not taking a trip with Mission
					of Hope is right for you.
					<br />
					<a href=""><strong>DOWNLOAD &raquo;</strong></a>
				</p>
			</div>
			<div class="rightBox">
				<p>
					<strong>Commitment Packet:</strong> This packet will tell you how to prepare for your trip to Haiti,
					including general health information, immunization requirements, and how to pay
					for your trip. Please read this information upon making a reservation, as it provides
					you with critical first steps in the trip-planning process.
					<br />
					<a href=""><strong>DOWNLOAD &raquo;</strong></a>
				</p>
			</div>
			<div class="rightBox">
				<p>
					<strong>Departure Packet:</strong> This packet really prepares you for coming to Haiti, with foreign
					airport information, packing tips, and dress code requirements. You will also find
					the emergency contact numbers for MOH stateside and Haiti staff members. Please
					read through this thoroughly at least one month before you travel with us!
					<br />
					<a href=""><strong>DOWNLOAD &raquo;</strong></a>
				</p>
			</div>
			<div class="rightBoxGreen">
				<h2>Child Sponsorship</h2>
				<p>
					If you currently sponsor a student with Mission of Hope, please let your trip
					leader know, so the Mission of Hope team can arrange for you to meet with your
					child while you’re in Haiti. This is not guaranteed and is based on several factors,
					including the time of year and the child’s location and availability.
				</p>
			</div>
			<div class="rightBoxGreen">
				<h2>Did You Know?</h2>
				<p>
					Did you know that you can view every project MOH is currently working on in
					Haiti?
				</p>
				<div class="buttonSquareOrange alignRight" style="width:50px; margin-top:10px;">
					<a href="/projects">Go</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% end %>
		<% else %>

		<!-- This Trip started already-->
		<div class="tanWrapper">
			<h3 style="display:none;"><!--<%= @trip.Trip_Name__c%>--><%= @trip.Name%></h3>
			<p style="display: none;">
				<strong>Trip Date:</strong> <%= Date.today %>
			</p>
			<h4 style="line-height: 1.5em;"> We are so thankful you were able to join us in Haiti and partner with us to bring life
			transformation to the people of Haiti. Now that you’ve returned home, our hope is
			that God has moved your heart and that you’ll continue to work with us to see the
			Gospel brought to every man, woman & child in Haiti! </h4>
		</div>
		<div id="contentLeft560">
			<h3 style="padding-bottom:20px;">HOW YOU CAN PARTNER WITH MOH</h3>
			<img class="alignLeft" src="/assets/icon-fundraising.png" />
			<h4>Start a Fundraising Page</h4>
			<div class="clearfix"></div>

			<p>
				God probably spoke to your heart in many different ways while you were in Haiti.
				You may have been touched by playing with the children at the Village of Hope
				orphanage or inspired by seeing the ladies at 3 Cords find new hope through having
				meaningful employment. By starting a fundraising page, you can help us continue
				to bring new hope to the people of Haiti. Choose a ministry or project that you’re
				passionate about and get started today!
			</p>
			<div class="buttonSquareOrange" style="width:300px;">
				<a href="http://mohh.convio.net/site/TR?fr_id=1060&pg=entry">Start your fundraising page now!</a>
			</div>
			<div style="padding:40px 0;"><img src="/assets/contentDiv.png" width="560px"/>
			</div>
<img class="alignLeft" src="/assets/icon-child-sponsorship.png" />
			<h4>Sponsor a Child</h4>
			<div class="clearfix"></div>

			<p>
				For just $35/month, you can help provide a child with Nutrition, Education & Hope
				for a Future!
			</p>
			<div class="buttonSquareOrange" style="width:300px;">
				<a href="/child-sponsorship">Sponsor a child now!</a>
			</div>
			<div style="padding:40px 0;"><img src="/assets/contentDiv.png" width="560px"/>
			</div>

			<img class="alignLeft" src="/assets/icon-partner-hope-sm.png" />
			<h4>Become a Partner of Hope</h4>
			<div class="clearfix"></div>

			<p>
				Partners of Hope are individuals who commit to donating to Mission of Hope's
				general fund on a recurring basis. Donations to this fund are used where and when
				the money is most needed. Essential to our daily operations, Partners of Hope also
				enable MOH to be responsive and efficient in our efforts when unexpected needs
				arise in our community.
			</p>
			<div class="buttonSquareOrange" style="width:300px;">
				<a href="http://mohh.convio.net/site/Donation2?df_id=1520&1520.donation=form1">Partner with Us</a>
			</div>
			<div style="padding:40px 0 20px 0;"><img src="/assets/contentDiv.png" width="560px"/>
			</div>

		</div>

		<div id="contentRight300">
			<h2>Post-TRIP ACTION ITEMS</h2>

			<div class="rightBox">
				<h3 style="color: #079367;">Tell Us How Your Trip Was</h3>
				<p>
					We want to know what you thought about your mission trip with Mission of Hope,
					Haiti. This helps us continue to develop and improve our Mission Trips Program.
				</p>
				<p><a href="http://mohh.convio.net/site/Survey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=1461">Take the survey now &raquo;</a></p>
			</div>

			<div class="rightBox">
				<h3 style="color: #079367;">Share Your Experience With Others</h3>

				<p>
					While you were in Haiti, we know that you experienced some pretty astounding
					“God-Moments”. We want to hear about them and so do others! Take time to share
					them right now while the memories are fresh!
				</p>
				<p><a href="/experiences/new/">Share your experience now &raquo;</a></p>
			</div>

			<div class="rightBox">
				<h3 style="color: #079367;">Share Your Photos</h3>

				<p>
					Mission of Hope is always developing new materials to help our supporters see
					the Life Transformation happening in Haiti. If you are a professional or amateur
					photographer, and you captured the beauty of Haiti’s people while staying with
					us, please consider sharing your photos with MOH for use in our web and print
					materials. You can share your photos by joining our Flickr group and uploading your
					photos!
				</p>
				<p><a href="http://www.flickr.com/groups/mohsnapback/">Upload your photos &raquo;</a></p>
			</div>

		</div>
		<% end %>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
