<script type="text/javascript" src="insertYourPath/tinymce/jscripts/tiny_mce/tiny_mce.js" ></script >
<script type="text/javascript" >
tinyMCE.init({
        mode : "textareas",
        theme : "simple"   //(n.b. no trailing comma, this will be critical as you experiment later)
});
</script >

<%= form_for(@content, :url=>'/contents/' + @content.id.to_s()) do |f| %>


  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %><br />
    <%= f.label :content %><br />
    <%= f.text_area :content %><br />
    <%= f.label :headline %><br />
    <%= f.text_field :headline %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
