<h1>Listing contents</h1>



<% @contents.each do |content| %>
  <div>
    <td><%= content.url %></td>
	<td><%= content.headline %></td>
	<td><%= content.content %></td>
    <td><a href="/<%=content.url%>">View this Page</a></td>&nbsp;
   
  </div>
<% end %>

<br />

<%= link_to 'New Content', new_content_path %>
