<!-- content show -->
<%if !@content.nil? && !@content.heroimage.nil? && @content.heroimage != '' %>
	<div id="bgHero" >
		<%if !@content.nil? && !@content.heroimage.nil? && @content.heroimage != '' %>
			<div id="heroCommunitiesImg" style="background: url(/assets/<%=@content.heroimage%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
				<!--x-->
			</div>
		<%else%>
			<div id="heroCommunitiesImg">
			<!--x-->
			</div>
		<%end%>
	</div>
<% end %>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
	<%if !@content.nil? && !@content.heroimage.nil? && @content.heroimage != '' %>
		<div id="content" style="padding-top:500px;">
	<% else %>
		<div id="content" style="padding-top:50px;">
	<% end %>
		<% if @content && !@content.heroimage.nil? && @content.heroimage != '' && !@content.herotext.nil? && !(@content.herotext == "") %>
			<div id="heroContent">
				<h1 style="top:-158px;"><span class="greenTransBG"><span style="font-size: 2.5em;"><%=@content.herotext%></span></span></h1>
			</div>
		<% end %>
		<p id="notice"><%= notice %></p>

		<div id="contentLeft560">
			<% if @content %>
				<%=@content.content.html_safe%>
			<% else %>
				<h1>Page Not Found</h1>
			<% end %>
			<% if !@user.nil? && @user.is_admin == 1 %><div class="smallLink"><%= link_to 'Back', contents_path %> | <a href="/contents/<%=@content.id%>/edit">Edit</a></div><% end %>
		</div>


		<div id="contentRight300" style="padding-top: 38px;">
			<% if @content %>
				<%if !@content.navbar.nil? %>
					<%= render ("layouts/" + @content.navbar) %>
				<% else %>
					<%= render "layouts/aboutNav" %>
				<% end%>
			<% end %>
		</div>
		<div class="clearfix">
			<!--x-->
		</div>

	
	</div>
</div>
