<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
	<h1><span class="eyebrow">Mission of Hope</span><br />Stay Connected</h1>
	<div id="contentLeft560">
		<h2>Recent Blog Posts</h2>
		<% @posts.each do |post| %>
			<div class="postsPage">
  				<div class="updateDate" style="margin-top:20px;">
					<span class="month"><%= post.postdate.strftime("%b")%></span><br />
					<span class="date"><%= post.postdate.strftime("%d")%></span><br />
					<span class="year"><%= post.postdate.strftime("%Y")%></span>	
				</div>
    			<h3 style="padding-bottom:0;">
    				<a href="/posts/<%= post.id %>"> <%= post.title %></a>
    			</h3>
    			<h4 style="clear:both;"></h4>
    			<div style="margin-left:60px; margin-top:-20px; border-bottom:1px dotted #0F483B;">
    				<%if !post.author.nil? && post.author != ''%>
    				<p>By <%= post.author %></p>
    				<%end%>
    				<%if post.categories.count > 0%>
    		Categories: 
    		<%post.categories.each do |cat|%>
    		<a href="/posts/?cid=<%=cat.id%>"><%=cat.categoryname%></a>
    		<%end%>
    	<%end%>
    			<p><%= truncate(post.body,:length=>170,:separator=>' ').html_safe %> <%= link_to 'Read More', post %></p>
    			<p><%= post.imagelink %></p>
    			   </div>

    			<% if !@user.nil? && @user.is_admin?%>
    				<p class="editPostsLink">
    					<%= link_to 'Edit', edit_post_path(post) %> |
    					<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    				</p>
    			<% end %>
    		</div>
		<% end %>
		<h3><a href="/posts">See All Blog Posts >></a></h3>
	</div>
	<div id="contentRight300">
		<h2>Recent Updates</h2>
		<div class="rightBoxGreen">
			<% @updates.each do |update| %>
				<h2><a href="/updates/<%=update.id%>" style="color:#dbcaa8;"><%=update.title%></h2></a>
					<p><br /><%=update.body%></p>

			<% end %>
		</div>
		<div class="contentDiv"></div>
		<div class="contentRightWrapper">	
			<h3>Featured Videos</h3>
			<% @videos.each do |video| %>
				<p><a href="/videos/<%=video.id%>"><b><%=video.title%></b></a></p>

			<% end %>
		</div>
	</div>
	
		<div class="clearfix"><!--x--></div>

	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>
</div>