<div id="bgHero">
	<div id="heroConnectedImg">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content">
			

	<h1><span class="eyebrow">Mission of Hope</span><br />Stay Connected</h1>
	<div id="contentLeft560" style="position:relative;">
		<h2>Recent Blog Posts</h2>
		<div class="speechBubble" style="position: absolute; top: -29px; right: -55px;"><p>latest posts</p></div>
		<% @posts.each do |post| %>
			<div class="postsPage">
  				<div class="updateDate" style="margin-top:20px;">
					<span class="month"><%= post.postdate.strftime("%b")%></span><br />
					<span class="date"><%= post.postdate.strftime("%d")%></span><br />
					<span class="year"><%= post.postdate.strftime("%Y")%></span>	
				</div>
    			<h3 style="padding-bottom:0;">
    				<a href="/posts/<%= post.id %>"> <%= post.title %></a>
    			</h3>
    			<div style="margin-left:60px; border-bottom:1px dotted #0F483B;">
    				<%if !post.author.nil? && post.author != ''%>
    				<p class="meta">By <%= post.author %> | 
    				<%end%>
    				<%if post.categories.count > 0%>
    		Categories: 
    		<%post.categories.each do |cat|%>
    		<a href="/posts/?cid=<%=cat.id%>"><%=cat.categoryname%></a></p>
    		<%end%>
    	<%end%>
    			<p><%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(img) %> <%= link_to 'Read More »', post %></p>
    			<p><%= post.imagelink %></p>
    			   </div>

    			<% if !@user.nil? && @user.is_admin?%>
    				<p class="editPostsLink">
    					<%= link_to 'Edit', edit_post_path(post) %> |
    					<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    				</p>
    			<% end %>
    		</div>
		<% end %>
		<div class="blogNav"><a href="/posts">Read all blog posts from Mission of Hope &raquo;</a></div>
	</div>
	<div id="contentRight300">
			<div class="updatesWrapper" style="margin-top:20px;">
		<h3>MOH in Action</h3>
		<div class="speechBubble" style="position: absolute; top: -71px; right: 39px;"><p>latest updates</p></div>
		<%@updates.each do |update|%>
			<div class="update300">
			<p class="meta">	<% 
					created = update.postdate 
				%>
				<%= created.strftime("%b")%> <%=created.strftime("%d")%>, <%=created.strftime("%Y")%>
			</p>
			<div class="updatePost300">
				<h3><a href="/updates/<%=update.id%>"><%=update.title%></a></h3>

				<p><%=truncate(update.body,:length=>100,:separator=>' ')%> <a href="/updates/<%=update.id%>">Read More &raquo;</a></p>
				<% @cat = update.categories.order("categoryname asc").limit(1)%>
				<p class="meta">
					<%unless @cat.count==0%>Related Category: <a href="/updates/?cid=<%=@cat.first.id%>"><%=@cat.first.categoryname%></a><%end%> <%if !update.author.nil? && !update.author.blank?%><%unless @cat.count==0%>| <%end%>Update from: <%=update.author%><%end%></p>
				
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<%end%>
		<div class="updateNav"><a href="/updates">Read all updates from Mission of Hope &raquo;</a></div>
	</div>
		

		<div class="contentRightWrapper">	
			<h3>Featured Videos</h3>
			<% @videos.each do |video| %>
				<% if !video.thumblink.nil? && video.thumblink != '' %>
				<p><%=video.thumblink.html_safe%></p>
				<%end%>
				<p><a href="/videos/<%=video.id%>"><b><%=video.title%></b></a></p>

			<% end %>
		</div>

		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This Page: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
	</div>
	
		<div class="clearfix"><!--x--></div>

	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>
</div>