<html>
	<head><title>Church Partner Inquiry</title></head>
	<body>
		<h1>You've got an email from the Church Partnership page!</h1>
		<p>Name: <%=@txtname%></p>
		<p>Phone: <%=@txtphone%></p>
		<p>Email: <%=@txtemail%></p>
		<p>Address: <%=@txtaddress%></p>
		<p>City: <%=@txtcity%></p>
		<p>State: <%=@txtstate%></p>
		<p>Zip: <%=@txtzip%></p>
		<p>----------------------------------------</p>
		<p>Church Name: <%=@txtchurchname%></p>
		<p>Address: <%=@txtchurchaddress%></p>
		<p>City: <%=@txtchurchcity%></p>
		<p>State: <%=@txtchurchstate%></p>
		<p>Zip: <%=@txtchurchzip%></p>
		<p>Website: <%=@txtchurchwebsite%></p>
		<p>----------------------------------------</p>
		<p>Pastor Name: <%=@txtpastorname%></p>
		<p>Pastor Phone: <%=@txtpastorphone%></p>
		<p>----------------------------------------</p>
		<p>Mission Contact Name: <%=@txtmissionname%></p>
		<p>Mission Contact Phone: <%=@txtmissionphone%></p>
		<p>----------------------------------------</p>
		<p>Partnership Interests: <%=@txtprefs%></p>
		
		<p>Comments: <%=@txtcomments%></p>
	</body>
</html>
