<html>
	<head><title>Contact Us Message</title></head>
	<body>
		<h1>You've got an email from the MOH Contact Us page!</h1>
		<p>Name: <%=@name%></p>
		<p>Phone: <%=@phone%></p>
		<p>Email: <%=@fromaddress%>
		<p>Topic: <%=@subject%></p>
		<p>Message: <%=@body%></p>
	</body>
</html>
