<html>
	<head><title>Contact Us Message</title></head>
	<body>
		<h1>Child Sponsorship Inquiry</h1>
		<p>Name: <%=@fname%></p>
		<p>Phone: <%=@phone%></p>
		<p>Email: <%=@fromaddress%></p>
		<p>Address: <%=@streetaddress%>, <%=@city%>, <%=@state%> <%=@zip%>  </p>
		<p>Child Preferences: <%=@childpreferences%></p>
	</body>
</html>

