<html>
	<head><title>Vision Trip Interest Message</title></head>
	<body>
		<h1>Vision Trip Interest</h1>
		<p>First name: <%=@txtfirst%></p>
		<p>Last name: <%=@txtlast%></p>
		<p>Phone: <%=@txtphone%></p>
		<p>Email: <%=@txtemail%></p>
		<p>Church: <%=@txtchurch%></p>
		<p>City: <%=@txtcity%></p>
		<p>State: <%=@txtstate%></p>
		<p>Zip: <%=@txtzip%></p>
		<p>Dates Interested: <%=@txtdatesinterested%></p>
		<p>Message: <%=@txtmessage%></p>
	</body>
</html>

