<html>
	<head><title>Contact Us Message</title></head>
	<body>
		<h1>Sponsored Child Letter</h1>
		<p>Sponsoree: <%=@fname%></p>
		<p>Phone: <%=@phone%></p>
		<p>Email: <%=@fromaddress%></p>
		<p>Child Name: <%=@childname%></p>
		<p>Child Number: <%=@childnumber%></p>
		<p>Letter: <%=@bodym%></p>
	</body>
</html>

