<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <% if (@user.email == nil) %>
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>
  <% end %>
  <% unless current_user == nil %>
	  <div class="field">
	    <%= f.label :first %><br />
	    <%= f.text_field :first, :value => @contact ? @contact.FirstName : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :last %><br />
	    <%= f.text_field :last, :value => @contact ? @contact.LastName : ""  %>
	  </div>
	  <div class="field">
	    <%= f.label :street1 %><br />
	    <%= f.text_field :street1, :value => @contact ? @contact.MailingStreet : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city, :value => @contact ? @contact.MailingCity : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :state %><br />
	    <%= f.text_field :state, :value => @contact ? @contact.MailingState : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :value => @contact ? @contact.MailingPostalCode : "" %>
	  </div>
	  <% if @contact %>
	  	Newsletter: <input name="comm_newsletter" type="checkbox" <%=@contact.Newsletter__c ? "checked" : "" %>/><br/>
	  	Important Announcements: <input name="comm_important" type="checkbox" <%=@contact.Important_Announcements__c ? "checked" : "" %>/><br/>
	  	Monthly Gift Receipts: <input name="comm_monthlygifts" type="checkbox" <%=@contact.Monthly_Gift_Statements__c ? "checked" : "" %>/><br/>
	  	Campaign Updates: <input name="comm_campaign" type="checkbox" <%=@contact.Campaign_Updates__c ? "checked" : "" %>/><br/>
	  <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
