<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <% if (@contact.Email == nil) %>
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>
  <% end %>
  <% unless current_user == nil %>
	  <div class="field">
	    <%= f.label :first %><br />
	    <%= f.text_field :first, :value => @contact.FirstName %>
	  </div>
	  <div class="field">
	    <%= f.label :last %><br />
	    <%= f.text_field :last, :value => @contact.LastName  %>
	  </div>
	  <div class="field">
	    <%= f.label :street1 %><br />
	    <%= f.text_field :street1, :value => @contact.MailingStreet %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city, :value => @contact.MailingCity %>
	  </div>
	  <div class="field">
	    <%= f.label :state %><br />
	    <%= f.text_field :state, :value => @contact.MailingState %>
	  </div>
	  <div class="field">
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :value => @contact.MailingPostalCode %>
	  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
