<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <% if (@user.email == nil) %>
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>
  <% end %>
  <% unless current_user == nil %>
	  <div class="field">
	    <%= f.label :first %><br />
	    <%= f.text_field :first, :value => @contact ? @contact.FirstName : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :last %><br />
	    <%= f.text_field :last, :value => @contact ? @contact.LastName : ""  %>
	  </div>
	  <div class="field">
	    <%= f.label :street1 %><br />
	    <%= f.text_field :street1, :value => @contact ? @contact.MailingStreet : "" %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city, :value => @contact ? @contact.MailingCity : "" %>
	  </div>
	  <div class="field">
	    <select id="user_state" name="user[state]" size="1">
			<option value="<%=@contact.MailingState%>"><%=@contact.MailingState%></option>
			<option value="AK">AK</option>
			<option value="AL">AL</option>
			<option value="AR">AR</option>
			<option value="AZ">AZ</option>
			<option value="CA">CA</option>
			<option value="CO">CO</option>
			<option value="CT">CT</option>
			<option value="DC">DC</option>
			<option value="DE">DE</option>
			<option value="FL">FL</option>
			<option value="GA">GA</option>
			<option value="HI">HI</option>
			<option value="IA">IA</option>
			<option value="ID">ID</option>
			<option value="IL">IL</option>
			<option value="IN">IN</option>
			<option value="KS">KS</option>
			<option value="KY">KY</option>
			<option value="LA">LA</option>
			<option value="MA">MA</option>
			<option value="MD">MD</option>
			<option value="ME">ME</option>
			<option value="MI">MI</option>
			<option value="MN">MN</option>
			<option value="MO">MO</option>
			<option value="MS">MS</option>
			<option value="MT">MT</option>
			<option value="NC">NC</option>
			<option value="ND">ND</option>
			<option value="NE">NE</option>
			<option value="NH">NH</option>
			<option value="NJ">NJ</option>
			<option value="NM">NM</option>
			<option value="NV">NV</option>
			<option value="NY">NY</option>
			<option value="OH">OH</option>
			<option value="OK">OK</option>
			<option value="OR">OR</option>
			<option value="PA">PA</option>
			<option value="RI">RI</option>
			<option value="SC">SC</option>
			<option value="SD">SD</option>
			<option value="TN">TN</option>
			<option value="TX">TX</option>
			<option value="UT">UT</option>
			<option value="VA">VA</option>
			<option value="VT">VT</option>
			<option value="WA">WA</option>
			<option value="WI">WI</option>
			<option value="WV">WV</option>
			<option value="WY">WY</option>
			<option value="AS">AS</option>
			<option value="FM">FM</option>
			<option value="GU">GU</option>
			<option value="MH">MH</option>
			<option value="MP">MP</option>
			<option value="PR">PR</option>
			<option value="PW">PW</option>
			<option value="VI">VI</option>
			<option value="AA">AA</option>
			<option value="AE">AE</option>
			<option value="AP">AP</option>
			<option value="AB">AB</option>
			<option value="BC">BC</option>
			<option value="MB">MB</option>
			<option value="NB">NB</option>
			<option value="NL">NL</option>
			<option value="NS">NS</option>
			<option value="NT">NT</option>
			<option value="NU">NU</option>
			<option value="ON">ON</option>
			<option value="PE">PE</option>
			<option value="QC">QC</option>
			<option value="SK">SK</option>
			<option value="YT">YT</option>
			<option value="None">None</option>
		  </select>
	  </div>
	  <div class="field">
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :value => @contact ? @contact.MailingPostalCode : "" %>
	  </div>
	  <% if @contact %>
	  	<h3>Your Communication Preferences</h3>
	  	<br/>
	  	<h4>Postal Mail Preferences</h4>
	  	Newsletter: <input name="comm_newsletter" type="checkbox" <%=@contact.Newsletter__c ? "checked" : "" %>/><br/>
	  	Important Announcements: <input name="comm_important" type="checkbox" <%=@contact.Important_Announcements__c ? "checked" : "" %>/><br/>
	  	Monthly Gift Receipts: <input name="comm_monthlygifts" type="checkbox" <%=@contact.Monthly_Gift_Statements__c ? "checked" : "" %>/><br/>
	  	Campaign Updates: <input name="comm_campaign" type="checkbox" <%=@contact.Campaign_Updates__c ? "checked" : "" %>/><br/>
	  	<br/>
	  	<h4>Email Preferences</h4>
		eNewsletter<br/>
		Important Announcements & Prayer Requests<br/>
		Campaigns<br/>
	  <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit "Save Changes"%>
  </div>
<% end %>
