<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
		<p id="notice">
			<%= notice %>
		</p>
		<h1><span class="eyebrow">Mission of Hope Haiti </span>
		<br />
		Videos</h1>
		<div class="videoPostsWrapper">
		<div class="videoSingle">
			<h4><%= @video.title %></h4>
			<div class="videoPostSingle">
				<%= @video.link.html_safe %>
			</div>
			</div>
			<div class="videoDescription">
<p>
				<%= @video.description %>
			</p>
			<% if !@user.nil? && @user.is_admin?%>
			<p class="editPostsLink">
				<%= link_to 'Edit', edit_video_path(@video) %> |
				<%= link_to 'Back', videos_path %>
			</p>
			<% end %>
		
<div class="clearfix">
				&nbsp;
			</div>
			</div>
	</div>
</div>
