<div id="bgHero">
	<div id="heroImg"><!--x--></div>
	
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>
<div id="superContent">
	<div id="heroContent">
		<h1 style="margin-top:110px;"><span class="giantText">Hope</span><br /><span class="largeText1">for every</span><br /><span class="largeText3">man, woman</span><br /><span class="largeText1">and child</span></h1>
		<div id="heroRibbon" style="display:none;">
			<h2>See what we've done today!</h2>
			<% if @updates != nil && @updates.count > 0
				@topupdate = @updates.first(1)
			%>
				<%@topupdate.each do |m|%>
					<p class="news">
						<a href="/updates/">
						<%=truncate(m.body,:length=>40,:separator=>' ').html_safe %></a></p> 
				<%end%>
			<%end%>
		</div>
	</div>
	<div class="superColumn">
		<div class="churchAdvancement"><a href="/church_advancement">&nbsp;</a></div>
		<h2><a href="/church_advancement">Church<br />Advancement</a></h2>
		<p>Your church can join other North American churches partnering intentionally through Mission of Hope with the Church in Haiti.</p>
		<h3 class="CTA"><a href="/church_advancement">Advance the Church</a> <img src="/assets/arrowRight.png" /></h3>
	</div>
	<div class="superColumn">
		<div class="studentSponsorship"><a href="/child-sponsorship">&nbsp;</a></div>
		<h2><a href="/child-sponsorship">Student<br />Sponsorship</a></h2>
		<p>Give hope to a student in Haiti by sponsoring them to receive a Christ-centered quality education, a hot meal and an invitation to change Haiti!
			</p>
		<h3 class="CTA"><a href="/child-sponsorship">Sponsor a Student</a> <img src="/assets/arrowRight.png" /></h3>
	</div>
	<div class="superColumn">
		<div class="missionTrips"><a href="/mission_trips">&nbsp;</a></div>
		<h2><a href="/mission_trips">Mission<br />Trips</a></h2>
		<p>Always wanted to have a life-changing experience? Come work alongside and see first hand how the gospel is transforming lives in Haiti.
			</p>
		<h3 class="CTA"><a href="/mission_trips">Take a Mission Trip</a> <img src="/assets/arrowRight.png" /></h3>
	</div>
<div class="clearfix"><!--x--></div>
</div>

<div id="content" style="padding-top:0">
	<h3 id="missionStatement"><strong>OUR VISION:</strong> As an organization following Jesus Christ, Mission of Hope seeks to bring life transformation to every man, woman, and child in Haiti.
</h3>
	<div id="contentLeft">
		<h3><span class="mediumText">Life Transformation</span><br />in Haiti</h3>
		<div id="statsWrapper">
			<div class="statsBox"><span class="statsNumber">60,000</span><br />children & students fed each day</div>
			<div class="statsBox last"><span class="statsNumber">3,000</span><br />children provided education</div>
			<div class="clearfix"><!--x--></div>
			<div class="statsBox"><span class="statsNumber">300</span><br />families provided with long-term housing</div>
			<div class="statsBox last"><span class="statsNumber">6,000</span><br />children attended VBS</div>
		<div class="clearfix"><!--x--></div>
		</div>
		<div id="promoWrapper">
			<img src="/assets/promoTemp.png" />
			<div class="buttonSquareOrange"><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Donate Today</a></div>
		</div>
	</div>
	<div id="contentRight">
		
	<div class="updatesWrapper">
		<h3><span class="mediumText">Mission of Hope</span><br />in Action</h3>
		<div class="speechBubble"><p>action updates</p></div>
		<%@updates.each do |m|%>
			<div class="update">
			<div class="updateDate">
				<% 
					created = m.created_at 
					creator = "-"
					if m.user.blank?
						creator = '-'
					else
						creator = m.user.first
					end
				%>
				<span class="month"><%= created.strftime("%b")%></span><br />
				<span class="date"><%=created.strftime("%d")%></span><br />
				<span class="year"><%=created.strftime("%Y")%></span>
			</div>
			<div class="updatePost">
				<h4><a href="/updates/<%=m.id%>"><%=m.title%></a></h4>
				<p><%=truncate(m.body,:length=>100,:separator=>' ').html_safe %> <a href="/updates/<%=m.id%>">Read More &raquo;</a></p>
				<p class="meta">Projects: Project Name | Posted by: <%=creator%></p>
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<%end%>
		<div class="updateNav"><a href="/stay-connected">Read all updates from Mission of Hope &raquo;</a></div>
	</div>
	</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
</div>