<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;  padding-bottom: 240px;">
		<div id="heroContent">
			<div id="heroContentOrphan">
				
			</div>
		</div>
		
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span><br>Events</h1>
			

<% @events.each do |event| %>
    <div style="border-bottom:1px dotted #0F483B;">
    	<div class="updateDate" style="margin-top:20px;">
    	<span class="month"><%= event.eventdate.strftime("%b")%></span><br />
			<span class="date"><%= event.eventdate.strftime("%d")%></span><br />
			<span class="year"><%= event.eventdate.strftime("%Y")%></span>	
			</div><!-- End DateUpdate -->
    <h3><a href="/events/<%=event.id%>"><%= event.eventname %></a></h3>
    <p><%= event.description.html_safe %></p>
    <p><%= link_to 'View details...', event %></p>
    <% if @isadmin %>
    	<p class="eventsAdminShow"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></p>
    <% else %>
    	<p></p>
    <%end%>
	</div>
<% end %>

<%if @isadmin%>
	<h3><%= link_to 'Add New Event', new_event_path %></h3>
<%end%>
		</div>

		<div id="contentRight300" style="padding-top: 50px;">
			<%= render '/layouts/takeActionNav' %>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
		</div><!-- End Content Right -->
		<div id="clearfix" style="height: 40px;"></div>
	</div><!-- End Content -->
	<div id="clearfix" style="height: 40px;"></div>
</div><!-- End Wrapper -->
