<div id="bgHero">
	<div id="advancementHeroImg"><!--x--></div>
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentOrphan">
				
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span><br>Events</h1>
			

<% @events.each do |event| %>
<div class="updateDate">
	<span class="month"><%= event.postdate.strftime("%b")%></span><br />
			<span class="date"><%= event.postdate.strftime("%d")%></span><br />
			<span class="year"><%= event.postdate.strftime("%Y")%></span>	
	</div>
    <h2><a href="/events/<%=event.id%>"><%= event.eventname %></a></h2>
    <p><%= link_to 'Read more...', event %></p>
    <% if @isadmin %>
    	<p class="eventsAdminShow"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></p>
    <% else %>
    	<p></p>
    <%end%>
  </tr>
<% end %>

<%if @isadmin%>
	<h3><%= link_to 'Add New Event', new_event_path %></h3>
<%end%>
		</div>

		<div id="contentRight300" style="padding-top: 50px;">
			
			</div>
			<div class="clearfix" style="height:40px;">
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>