<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;  padding-bottom: 90px;">
		<div id="heroContent">
			<div id="heroContentOrphan">
				
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span><br>Events</h1>
			

<% @events.each do |event| %>
    <div style="border-bottom:1px dotted #0F483B;">
    	<div class="updateDate" style="margin-top:20px;">
    	<span class="month"><%= event.eventdate.strftime("%b")%></span><br />
			<span class="date"><%= event.eventdate.strftime("%d")%></span><br />
			<span class="year"><%= event.eventdate.strftime("%Y")%></span>	
			</div><!-- End DateUpdate -->
    <h3><a href="/events/<%=event.id%>"><%= event.eventname %></a></h3>
    <p><%= event.description %></p>
    <p><%= link_to 'View details...', event %></p>
    <% if @isadmin %>
    	<p class="eventsAdminShow"><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></p>
    <% else %>
    	<p></p>
    <%end%>
	</div>
<% end %>

<%if @isadmin%>
	<h3><%= link_to 'Add New Event', new_event_path %></h3>
<%end%>
		</div>

		<div id="contentRight300" style="padding-top: 50px;">
			<%= render '/layouts/takeActionNav' %>
		</div><!-- End Content Right -->
		<div id="clearfix" style="height: 40px;"></div>
	</div><!-- End Content -->
	<div id="clearfix" style="height: 40px;"></div>
</div><!-- End Wrapper -->
