<h1>Listing events</h1>

<table>
  <tr>
    <th>Eventname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.eventname %></td>
    <td><%= link_to 'Show', event %></td>
    <% if @isadmin %>
    	<td><%= link_to 'Edit', edit_event_path(event) %></td>
    	<td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    	<td></td>
    	<td></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%if @isadmin%>
	<%= link_to 'Add New Event', new_event_path %>
<%end%>
