<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<p>
	<div id="contentLeft560">
<h1><span class="eyebrow">Mission of Hope Haiti Events</span><br /><%= @event.eventname %></h1>
</p>
<p>
	<%if @event.enddate.nil?%>
		<strong>Date:</strong> <%= @event.eventdate.strftime("%b")%> <%= @event.eventdate.strftime("%d")%>, <%= @event.eventdate.strftime("%Y")%>
	<%else%>
		<strong>Dates:</strong> <%= @event.eventdate.strftime("%b")%> <%= @event.eventdate.strftime("%d")%> - <%= @event.enddate.strftime("%b")%> <%= @event.enddate.strftime("%d")%>, <%= @event.enddate.strftime("%Y")%>
	<%end%>
</p>
<p>
	<strong>Details:</strong> <%= @event.description %>
</p>
<p>
	<strong>Location:</strong> <%= @event.location %>
</p>

<%if @isadmin%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to 'Back', events_path %>
</div>

<div id="contentRight300" style="padding-top: 50px;">
			<div class="rightBoxGreen">
			<h2>How You Can Take Action</h2>
			<ul class="aboutUsNav">
				<li><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Make a Donation &raquo;</a></li>
				<li><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Become a Partner of Hope &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<li><a href="/downloads">Downloads &raquo;</a></li>
			</ul>
			</div><!-- End Green Box -->
		</div><!-- End Content Right -->
		<div id="clearfix" style="height: 40px;"></div>

			
			

</div>
		<div id="clearfix" style="height: 40px;"></div>

</div>
