<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<p>
<h2><a href="/events/<%=@event.id%>"><%= @event.eventname %></a></h2>
</p>
<p>
<h2><%= @event.description %></h2>
</p>
<p>
<h2><%= @event.location %></h2>
</p>
<p>
<h2><%= @event.eventdate %></h2>
</p>
			
			
<%if @isadmin%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to 'Back', events_path %>
</div>
</div>
