<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<p>
<h1><span class="eyebrow">Mission of Hope Haiti Events</span><br /><%= @event.eventname %></h1>
</p>
<p>
	<strong>Date:</strong> <%= @event.eventdate %>
</p>
<p>
	<strong>Details:</strong> <%= @event.description %>
</p>
<p>
	<strong>Location:</strong> <%= @event.location %>
</p>

			
			
<%if @isadmin%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to 'Back', events_path %>
</div>
</div>
