<div id="bgHero">
	<div id="missionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="position:absolute; top:-400px; left:0px;"><span class="topMissionTrip  greenTransBG">Work with us</span></h1>
			<h1 style="position:absolute; top:-350px; left:0px;"><span class="middleMissionTrip  greenTransBG">Work for Christ</span></h1>
			<h1 style="position:absolute; top:-280px; left:0px; margin-top:10px;"><span class="largeText1  greenTransBG" style="padding-right: 7px;">Bring Change<br />to a Nation</span></h1>
			<!-- <div class="buttonSquareOrange" style="position:absolute; top:-120px; left:188px; width:280px"><a href="/take_a_trip">Learn About Our Mission Trips</a></div> -->
		</div>

<div class="contentHeader">
			<div class="contentHeaderLeft">
				<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Mission Trips</h1>
				<p>
					Every year, Mission of Hope houses thousands of Mission Trip participants at our Central Campus in Titanyen, as well as our North Campus in Bercy.  These volunteers come from around the globe to be a part of what God is already doing in Haiti.  We have also seen God work in amazing ways in the lives of the volunteers that join us, sending them home with a new passion for seeing life transformation in their own lives.  Whether you are an individual or a person looking to lead a team, serving with MOH in Haiti is a great way to be a part of what God is doing!
				</p>

				<ul>
					<li>Trips are either Saturday-Saturday or Wednesday-Wednesday</li>
					<li>Cost includes international travel insurance</li>
					<li>The Mobilization team at MOH will handle all logistics once the team has arrived in Haiti</li>
					<li>Lodging will be at the facilities at one of our campuses</li>
					<li>Each team will work with an assigned “focus village” for the whole week, serving the local church and its people in that community</li>
					<li>Weekly activities are planned out by the leaders in these local communities</li>
					<li>Each team will have the chance to worship with the Church of Hope on Sunday morning</li>
					<li>Your trip includes a day at one of Haiti’s beautiful beaches</li>
					<li>There are also opportunities for construction and medical trips</li>
				</ul>
				
<br/>
<p>The benefit of a week-long trip to Mission of Hope is three-fold:</p>
<ol style="list-style: decimal; margin-left: 50px; line-height:1.2em;">
	<li style="padding-bottom: 10px;">Volunteers are able to serve the mission and surrounding communities through work projects and ministry.</li>
	<li style="padding-bottom: 10px;">Volunteers are able to catch a glimpse of the need in Haiti, and see first-hand how Mission of Hope is responding.</li>
	<li style="padding-bottom: 10px;">Volunteers are able to return to their home-country with tools necessary to impact the needs of their own community.</li>
</ol>
<p>
Regardless of your skills, there are ways for you to serve at Mission of Hope. Once you arrive on the ground, we’ll plan your week for you, aware of your skill set. Trips will include village ministry to our surrounding community and light, construction ministry.
If you have a medical team that wants to lead a medical mission trip to Haiti, we can speak with you about leading/participating in a Mobile Clinic to our surrounding communities. Click here to learn more.
</p>
<div class="buttonSquareOrange" style="margin:20px 0; width:280px"><a href="/request_info">Request More Information &raquo;</a></div>
			</div>
		<div class="contentHeaderRight">
			<%= render 'layouts/missionTripNav'%>
		</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="singleCol">
			<h2>The Mission Trip Experience</h2>
			<div style="width:975px; height:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.summary,:alt=>experience.summary  %>
  			<p><span class="experienceAuthor">Posted by <%= experience.author%>:</span><br />
  			<%= experience.description %></p>
			<% if !@user.nil? && @user.is_admin? %>
  			<%= link_to 'Edit', edit_experience_path(experience)%>
			<%end%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
			<div class="clearfix"></div>
			<div class="buttonSquareOrange clearfix" style="margin-top:40px; float:left;width:400px;"><a href="/experiences">See More Mission Trip Experiences &raquo;</a></div>
			<div class="buttonSquareOrange" style="width:400px; float:right; margin-bottom: 15px; margin-top:40px;"><a href="/experiences/new/">Share your Mission Trip Experiences &raquo;</a></div>
		</div>

				<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
	</div>
