<div id="bgHero">
	<div id="missionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="position:absolute; top:-400px; left:0px;"><span class="topMissionTrip  greenTransBG">Work with us</span></h1>
			<h1 style="position:absolute; top:-350px; left:0px;"><span class="middleMissionTrip  greenTransBG">Work for Christ</span></h1>
			<h1 style="position:absolute; top:-280px; left:0px; margin-top:10px;"><span class="largeText1  greenTransBG" style="padding-right: 7px;">Bring Change<br />to a Nation</span></h1>
			<!-- <div class="buttonSquareOrange" style="position:absolute; top:-120px; left:188px; width:280px"><a href="/take_a_trip">Learn About Our Mission Trips</a></div> -->
		</div>

<div class="contentHeader">
			<div class="contentHeaderLeft">
				<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Mission Trips</h1>
				<p>
					Every year, Mission of Hope hosts thousands of Mission Trip participants from around the world at our two campuses. They participate in bringing life transformation to every man, woman, and child in Haiti, while personally experiencing God’s transformation in their own lives, and taking that vision back to their own spheres of influence. Whether you are an individual or a person looking to lead a team, serving with MOH in Haiti is a great way to be a part of what God is doing!
					</p>

				
<p>
Regardless of your skills or experience, there are ways for you to serve at Mission of Hope. Your week will include intentional ministry opportunities and evangelism outreach led by local Haitian leadership, or you can choose to fund and participate in Church Advancement projects, chosen by the church leaders in those villages as what could most help bring life transformation to every man, woman, and child in that specific village. <!-- Visit <link> for a sample list of village projects and associated costs.--> If you have medically licensed professionals, their week can be scheduled for a medical outreach focus. You are also encouraged to let your mission trip coordinator know of specific skill sets amongst your team members. Click <a href="/request_info"> here</a> to request more information. 
</p>
<div class="buttonSquareOrange" style="margin:20px 0; width:280px"><a href="/request_info">Request More Information &raquo;</a></div>
			</div>
		<div class="contentHeaderRight">
			<%= render 'layouts/missionTripNav'%>
		</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="singleCol">
			<h2>The Mission Trip Experience</h2>
			<div style="width:975px; height:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.summary,:alt=>experience.summary  %>
  			<p><span class="experienceAuthor">Posted by <%= experience.author%>:</span><br />
  			<%= experience.description %></p>
			<% if !@user.nil? && @user.is_admin? %>
  			<%= link_to 'Edit', edit_experience_path(experience)%>
			<%end%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
			<div class="clearfix"></div>
			<div class="buttonSquareOrange clearfix" style="margin-top:40px; float:left;width:400px;"><a href="/experiences">See More Mission Trip Experiences &raquo;</a></div>
			<div class="buttonSquareOrange" style="width:400px; float:right; margin-bottom: 15px; margin-top:40px;"><a href="/experiences/new/">Share your Mission Trip Experiences &raquo;</a></div>
		</div>

				<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
	</div>
