<div id="bgHero">
	<div id="orphanHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentOrphan">
				<h1><span class="orpahanTop">There are over</span>
				<br />
				<span class="orphanLarge">400,000</span>
				<br>
				<span class="orphanChildrenText">children</span>
				<br>
				<span class="orphanParentsText">without parents</span>
				<br>
				<span class="orphanHaitiText">in haiti</span></h1>
				<a href="#"><img src="/assets/donateButton.png" /></a>
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Haiti's Need for</span>
			<br />
			Orphan Care</h1>
			<!--This is how you do the posts, updates, etc. -->
			<%@posts.each do |post|%>
				<p>Post: <%=post.body%></p>
			<%end%>
			<%@projects.each do |project|%>
				<p>Project: <%=project.projectname%></p>
			<%end%>
			<%@updates.each do |update|%>
				<p>Update: <%=update.title%></p>
			<%end%>
			<p>
				There are over 400,000 children without parents in Haiti.  Despite these staggering numbers, we believe God has a plan to give every child a hope and a future.  The question to us as North Americans is this: Will we assume responsibility – the ability to respond – or will we allow God’s children to carry these burdens alone?
			</p>
			<h2>What We’re doing now</h2>
			<p>
				At the end of 2010, the children at our Hope House orphanage moved into the new Village of Hope.  The village consists of 6 quads (6 buildings with 4 homes each = 24 total homes), as well as a new kitchen/dining area, playground, and sports pavilion.
			</p>
			<p>
				There are over 63 wonderful children currently at the Village of Hope orphanage, ranging in age from infant to young adult. Children are provided 24-hour care by “mommies” who live on campus. Each mommy takes care of about 6 children, which provides the feeling of family and ensures each child is given attention. Pastors act as the spiritual fathers of these children, mentoring and discipling them alongside the mothers to provide a godly example of manhood and sonship. The children come in hopeless, and through Jesus, they now have great hope, both for this life and all eternity.
			</p>
			<h2>Our plans for 2015</h2>
			<p>
				The Bible is very clear on our responsibility to care for the fatherless.  Therefore, Mission of Hope is determined to care for at least 150 orphans by 2015, giving them a quality home, a Christ-centered education, and a loving church community. It is our desire to be an agent and facilitator of transformation in as many of these children’s lives as possible, serving as the hands of Christ to protect, redeem and transform His children and teaching local churches to take on this biblical call as well. Mission of Hope aims to help the orphans through the Village of Hope orphanage as well as partnerships with other orphanages throughout Haiti.
			</p>
			
			<%= render 'layouts/pup'%>
			
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				Increase current care being provided for 63 orphans to 150 orphans.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$150,00 to expand the House of Hope.
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
					Donate to the Village of Hope.  Help us expand our village to be able to provide for 150 orphans by 2015.
				</p>
				</div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:20px; width:150px"><a href="">Donate Today &raquo;</a></div>

			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
