<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			

			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Press</h1>
				<% @press.each do |news|%>
				<h2> <a href="/news/<%=news.id%>"><%=news.headline%> </a> </h2>
				
				<p><%=news.bodycontent.html_safe %></p>
				

			 <% if !@user.nil? && @user.is_admin?%>
    	<p class="editPostsLink">
    		<%= link_to 'Edit', edit_news_path(news) %> |
    		<%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %>
    	</p>
    	<h4 style="clear:both;"><%= link_to 'New News', new_news_path %></h4>
    <% end %>
    <% end %>
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
				<h2>Media Contact:</h2>
				<p></p>
				 <p>Lindsey Rubino <br />
				 (Cell) 239-404-1366 <br />
				 (Office) 239-791-8125 <br />
				 (Email) Lindsey@mohhaiti.org</p>
			</div>
			<%= render 'layouts/aboutNav'%>
			</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>

		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
