<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 30px;background-image:none;">
	<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope Haiti</span><br />
		Press</h1>
<% @press.each do |post| %>
  <div class="postsPage">
  	<div class="updateDate" style="margin-top:20px;">
	<span class="month"><%= post.postdate.strftime("%b")%></span><br />
			<span class="date"><%= post.postdate.strftime("%d")%></span><br />
			<span class="year"><%= post.postdate.strftime("%Y")%></span>	
	</div>
    <h3 style="padding-bottom:30px;"><a href="/news/<%=post.id%>"><%= truncate(post.headline, :length=>75, :separator=>" ") %></a></h3>
    <div style="margin-left:60px; margin-top:-20px; border-bottom:1px dotted #0F483B;">
    	<p class="meta" style="margin-top: -45px;"></p>
    <p style="margin-top: 20px;"><%= sanitize truncate(post.bodycontent,:length=>500,:separator=>' '), :tags => %w(img) %> <a href="/news/<%=post.id%>">Read More </a></p>
   </div>
    </div>
<% end %>

</div><!-- End Content left -->

		<div id="contentRight300">
			<div class="rightBoxGreen">
				<h2>Media Contact:</h2>
				<p></p>
				 <p>Lindsey Rubino <br />
				 (Cell) 239-404-1366 <br />
				 (Office) 239-791-8125 <br />
				 (Email) Lindsey@mohhaiti.org</p>
			</div>
			<%= render 'layouts/aboutNav'%>
			</div>
</div><!-- End Content Right -->


<div class="clearfix" style="height:40px;"></div>
</div>