<div id="bgHero">
	<div id="threeCordsHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="padding-top:40px;" class="greenTransBG"><span class="giantText1_5">A cord of</span>
			<br />
			<span class="largeText1">three strands
				<br />
			</span><span class="largeText2_5">is not quickly broken</span>
			<br />
			</h1>

		</div>
		<h1><span class="eyebrow">Mission of Hope</span>
		<br />
		3 Cords</h1>
		<p>
		<img class="alignRight" src="/assets/icon-3Cords-med.png" />	3 Cords is a small business initiative that started in 2010 after the devastating earthquake left many people without limbs and without jobs.
3 Cords employs amputee women and mothers of amputee children, giving them hope that they are still whole, valuable, and precious. Our vision is to love and serve these women, teach them valuable skills, and provide them with dignity that they can still work and provide for their families. In Haiti, many people do not believe amputees can do anything, let alone work. 3 Cords is disproving this cultural stigma for sure!
</p>
		
		<div class="buttonSquareOrange" style="margin:20px auto; width:280px">
			<a href="http://3cordshaiti.com" target="_blank">Visit 3 Cords</a>
		</div>
		<img src="/assets/contentDiv.png" />
		<div id="contentLeft560">
<h2>Where does the name 3 Cords come from?</h2>

<p>One reason is that our main product is a braided headband. However, the main reason can be understood from Ecclesiastes 4:9-12.
"Two are better than one...If either of them falls down, one can help the other up. But pity anyone who falls and has no one to help them up...Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken."</p>
 		<img src="/assets/contentDiv-560.png" />

<div class="updatesWrapper"><!--Posts-->
	<h3><span class="eyebrow"><%=@category.categoryname%></span><br />Posts</h3>
	<div class="speechBubble"><p>latest posts</p></div>	
	<% if @posts.count > 0%>
		<%@posts.each do |m|%>
			<div class="update560">
			<div class="updateDate">
				<% 
					created = m.postdate 
					creator = "-"
					if m.user.blank?
						creator = '-'
					else
						creator = m.user.first
					end
				%>
				<span class="month"><%= created.strftime("%b")%></span><br />
				<span class="date"><%=created.strftime("%d")%></span><br />
				<span class="year"><%=created.strftime("%Y")%></span>
			</div>
			<div class="updatePost560">
				<h4><a href=""><%=m.title%></a></h4>
				<p><%=truncate(m.body,:length=>100,:separator=>' ')%> <a href="">READ MORE</a></p>
				<p class="meta">Projects: Project Name | Posted by: <%=creator%></p>
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<%end%>
		<div class="updateNavRight"><a href="/posts/?cid=<%=@category.id%>">View All Posts &raquo;</a></div>
		<%else%>
			<div class="update560">No <%=@category.categoryname%> Blog Posts</div>
		<%end%>
</div>

		</div>
		<div id="contentRight300">
			<div class="contentRightWrapper">
				<h3>
				Featured Artist</h3>
				<img class="featuredImage" src="/assets/3cords-artist-gernise.jpg" />
				<h4>GERNISE PETIT-FRERE</h4>
				<p>Her smile is captivating and her love, overflowing.  Gernise is a gentle and quiet spirit, and an amazing seamstress.  
					Demonstrated by her willingness to trudge 3 hours to and from work everyday, Gernise is a faithful worker that you would undoubtedly fall in love with if you met her. </p>
			</div>
		
		</div>
		<div class="clearfix">
			<!--x-->
		</div>

	</div>
	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div>
