<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:0px;">
<div class="postsPage">
<h1>Listing news</h1>

<% @news.each do |news| %>
<div class="updateDate" style="margin-top:20px;">
	<span class="month"><%= news.postdate.strftime("%b")%></span><br />
			<span class="date"><%= news.postdate.strftime("%d")%></span><br />
			<span class="year"><%= news.postdate.strftime("%Y")%></span>	
	</div>
    <h2><a href="/news/<%=news.id%>"><%= news.headline %></a></h2>
    <p style="clear:both;"><%= news.bodycontent.html_safe %></p>
    <% if !@user.nil? && @user.is_admin?%>
    	<p class="editPostsLink">
    		<%= link_to 'Edit', edit_news_path(news) %> |
    		<%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %>
    	</p>
    <% end %>
<% end %>

<br />
<% if !@user.nil? && @user.is_admin?%>
<h4 style="clear:both;"><%= link_to 'New News', new_news_path %></h4>
<%end%>
</div><!-- End posts Page -->
</div><!-- End wrapper -->
</div><!-- End Content -->