<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectname %><br />
    <%= f.text_field :projectname %>
  </div>
  <div class="field">
    Hero Image (Filename Only)<br />
    <%= f.text_field :heroimage %>
  </div>
  <div class="field">
  	Goal: <br /><%= f.text_field :goal %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
  	Percent Complete:<br /> <%= f.text_field :percentcomplete%>
  </div>
  <div class="field">
  	Funds Needed:<br /> <%= f.text_field :fundsneeded%>
  </div>
   <div class="field">
  	Funds Raised:<br /> <%= f.text_field :fundsraised%>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :completion %><br />
    <%= f.date_select :completion %>
  </div>
  
  <div>
  	Select Stage:<br /><%= select( "project", "stage", { "Planning" => "Planning", "Fundraising" => "Fundraising","Construction" => "Construction", "Operational" => "Operational"}) %>
  </div>
  <p><br /></p>
  <div>
  	Select Category:<br /> <%= collection_select 'project', 'category_ids', Category.order("categoryname asc"), :id, :categoryname, { :include_blank => 'None'}, { :multiple => true, :categoryname =>'project[category_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Village:<br /> <%= collection_select 'project', 'community_ids', Community.order("communityname asc"), :id, :communityname, { :include_blank => 'None'}, { :multiple => true, :communityname =>'project[community_ids][]',:selected => 0 } %>
  </div>
  <p><br /></p>
  <div>Add image(s):<br />Images must be resized to 300px x 200px for optimal display.
  <div id="imagestatus" style="color: red"></div>
  <p><input id="fileupload" type="file" name="files[]" data-url="/page/image_submit.json"></p>
  <script src="/assets/javascript/jquery.ui.widget.js"></script>
  <script src="/assets/javascript/jquery.iframe-transport.js"></script>
  <script src="/assets/javascript/jquery.fileupload.js"></script>
  <script>
	$(function () {
	    $('#fileupload').fileupload({
	        dataType: 'json',
	        add: function (e, data) {
            	data.context = $('#imagestatus').html('Uploading...<br />');
            	data.submit();
        	},
	        done: function (e, data) {
	        	//$('#imagestatus').append('<img src="http://s3.amazonaws.com/MOH/assets/116/thumb/' + data.files[0].name + '"/><br/>');
	        	console.log(data.result.url);
	            $('#imglist').append('<p><img src="' + data.result.url.replace("original", "thumb") + '"/></p>');
	            $('#imagestatus').html('');
	        	/*
	            $.each(data.result, function (index, file) {
	                $('#imagestatus').append('<img src="' + file.asset + '"/><br/>');
	            });
	            */
	        }
	    });
	});
  </script>  	
  	
  <div id="imglist">
  <%= f.fields_for :assets do |asset_fields| %>
  	<% if asset_fields.object.new_record? %>
  		<p style="display:none;">
  			<%= asset_fields.file_field :asset%>
  		</p>
  	<% end%>
  <% end %>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% unless asset_fields.object.new_record? %>
  		<p>
  			<%= link_to image_tag(asset_fields.object.asset.url(:thumb)),asset_fields.object.asset.url(:large)%>
  			<%= asset_fields.check_box :_destroy %> Remove Image
  		</p>
  	<% end %>
  <% end %>
  </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
