<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projectname %><br />
    <%= f.text_field :projectname %>
  </div>
  <div class="field">
  	Goal: <%= f.text_field :goal %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
  	Percent Complete: <%= f.text_field :percentcomplete%>
  </div>
  <div class="field">
  	Funds Needed: <%= f.text_field :fundsneeded%>
  </div>
   <div class="field">
  	Funds Raised: <%= f.text_field :fundsraised%>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :completion %><br />
    <%= f.date_select :completion %>
  </div>
  
  <div>
  	Select Stage:<%= select( "project", "stage", { "Planning" => "Planning", "Fundraising" => "Fundraising","Construction" => "Construction", "Operational" => "Operational"}) %>
  </div>
  <p><br /></p>
  <div>
  	Select Category: <%= collection_select 'project', 'category_ids', Category.order("categoryname asc"), :id, :categoryname, { :include_blank => 'None'}, { :multiple => true, :categoryname =>'project[category_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Village: <%= collection_select 'project', 'community_ids', Community.order("communityname asc"), :id, :communityname, { :include_blank => 'None'}, { :multiple => true, :communityname =>'project[community_ids][]',:selected => 0 } %>
  </div>
  <p><br /></p>
  <div>Add image(s):
  <%= f.fields_for :assets do |asset_fields| %>
  	<% if asset_fields.object.new_record? %>
  		<p>
  			<%= asset_fields.file_field :asset%>
  		</p>
  	<% end%>
  <% end %>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% unless asset_fields.object.new_record? %>
  		<p>
  			<%= link_to image_tag(asset_fields.object.asset.url(:thumb)),asset_fields.object.asset.url(:large)%>
  			<%= asset_fields.check_box :_destroy %> Remove Image
  		</p>
  	<% end %>
  <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
