

<div id="gridWrapperProjects">
			<h1><span class="eyebrow">Mission of Hope</span><br />Projects </h1>
	<% @categories.each do |category| %>
		<% if @itemCount.modulo(2) == 0 %>
			<div class="grid2x2Left">
				<div class="gridImage projectsMed" style="background-image: none;')"><a href="/projects?cid=<%=category.id%>" style="background-image: url('/assets/<%=category.categoryicon%>')"></a></div>
				<div class="gridText">
					<h2><a href="/projects?cid=<%=category.id%>"><%=category.categoryname%> Projects</a></h2>
					<p><%=category.categorydesc%></p>
					<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen"><%=category.projects.count%></span><a class="alignRight" href="/projects?cid=<%=category.id%>">View All &raquo;</a></h3>
				</div>
			</div>
		<%else%>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed" style="background-image: none;')"><a href="/projects?cid=<%=category.id%>" style="background-image: url('/assets/<%=category.categoryicon%>')"></a></div>
				<div class="gridText">
					<h2><a href="/projects?cid=<%=category.id%>"><%=category.categoryname%> Projects</a></h2>
					<p><%=category.categorydesc%></p>
					<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen"><%=category.projects.count%></span><a class="alignRight" href="/projects?cid=<%=category.id%>">View All &raquo;</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>		
		<%end%>
		<% @itemCount = @itemCount + 1 %>
	<%end%>
	
</div>
