<h1> <span class="eyebrow">Mission of Hope</span><br /><%=@category.categoryname%> Projects</h1>
<div id="gridWrapperProjects">
	<% @projects.each do |project| %>
		<% if @itemCount.modulo(2) == 0 %>
			<div class="grid2x2Left">
				<div class="gridImage">
					<%unless project.assets.first.nil?%>
						<img style="border:1px solid #C2B092" src="<%=project.assets.first.asset.url(:thumb)%>" />
					<%end%></div>
				<div class="gridText">
					
					<h2><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h2>
					<p><%=project.goal%></p>
					<h3 class="projectDetailButton">Village Served <span class="darkGreen"><%=project.communities.first.communityname unless project.communities.first.nil? %></span></h3>
					<h3 class="projectDetailButton">Project Stage <span class="darkGreen"><%=project.stage%></span></h3>
					<h3 class="projectDetailButton"><a href="/projects/<%=project.id%>">View Project Details &raquo;</a></h3>
				</div>
			</div>
		<%else%>
			<div class="grid2x2Right">
				
				<div class="gridText">
					<%unless project.assets.first.nil?%>
						<p><img src="<%=project.assets.first.asset.url(:thumb)%>" /></p>
					<%end%>
					<h2><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h2>
					<p><%=project.goal%></p>
					<h3 class="projectDetailButton">Village Served <span class="darkGreen"><%=project.communities.first.communityname unless project.communities.first.nil?%></span></h3>
					<h3 class="projectDetailButton">Project Stage <span class="darkGreen"><%=project.stage%></span></h3>
					<h3 class="projectDetailButton"><a href="/projects/<%=project.id%>">View Project Details &raquo;</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>		
		<%end%>
		<% @itemCount = @itemCount + 1 %>
	<%end%>
	
</div>
