<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style alignRight">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<h1> <span class="eyebrow">Mission of Hope</span><br /><%=@category.categoryname%> Projects</h1>
<div id="gridWrapperProjects">
	<% @projects.each do |project| %>
		<% if @itemCount.modulo(2) == 0 %>
			<div class="grid2x2Left">
				<div class="gridImage">
					<%unless project.assets.first.nil?%>
						<img style="border:1px solid #C2B092" src="<%=project.assets.first.asset.url(:thumb)%>" />
					<%end%></div>
				<div class="gridText">
					
					<h2><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h2>
					<p><%=project.goal%></p>
					<h3 class="projectDetailButton">Village Served <span class="darkGreen"><%=project.communities.first.communityname unless project.communities.first.nil? %></span></h3>
					<h3 class="projectDetailButton">Project Stage <span class="darkGreen"><%=project.stage%></span></h3>
					<h3 class="projectDetailButton"><a href="/projects/<%=project.id%>">View Project Details &raquo;</a></h3>
				</div>
			</div>
		<%else%>
			<div class="grid2x2Right">
				<div class="gridImage">
					<%unless project.assets.first.nil?%>
						<img style="border:1px solid #C2B092" src="<%=project.assets.first.asset.url(:thumb)%>" />
					<%end%></div>
				<div class="gridText">
					<h2><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h2>
					<p><%=project.goal%></p>
					<h3 class="projectDetailButton">Village Served <span class="darkGreen"><%=project.communities.first.communityname unless project.communities.first.nil?%></span></h3>
					<h3 class="projectDetailButton">Project Stage <span class="darkGreen"><%=project.stage%></span></h3>
					<h3 class="projectDetailButton"><a href="/projects/<%=project.id%>">View Project Details &raquo;</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>		
		<%end%>
		<% @itemCount = @itemCount + 1 %>
	<%end%>
	
</div>
