<h1>Projects</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Completion</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.projectname %></td>
    <td><%= project.latitude %></td>
    <td><%= project.longitude %></td>
    <td><%= project.completion %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>

<%= 
	gmaps4rails(@jason) 
%>