<div id="bgHero">
	<div id="mapHeroImg"><%= gmaps4rails(@jason) %></div>
	
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>

<div id="content" style="padding-top:370px;">

	<% if @cid.nil?%>
		<%=render 'projectsAllCats'%>
	<% else %>
		<%=render 'projectsOneCat'%>
	<%end%>
<br />
<% if !@user.nil? && @user.is_admin == 1 %>
	<div style="clear:both; padding:10px 0px 10px 0px;"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>
<div class="clearfix"></div>

</div>
