<div id="content">
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Projects</h1>
<div>
	<%= 
	gmaps4rails(@jason) 
%>
<% @projects.each do |project| %>
  <div class="projectColumn">
    <h3><%= project.projectname %></h3>
    <p>Location: <%= project.latitude %> <%= project.longitude %></p>
    <p>Completion Date: <%= project.completion %></p>
    <p>Description: <%= project.description %></p>
	<br />
	<% if @user.nil? %>
    	<%= link_to 'Show', project %>
    <% elsif @user.is_admin == 1 %>
    	<%= link_to 'Show', project %>
		<%= link_to 'Edit', edit_project_path(project) %>
    	<%= link_to 'Delete', project, confirm: 'Are you sure?', method: :delete %>
    <% else%>
    	<%= link_to 'Show', project %>
    <% end %>
  </div>
<% end %>
</div>

<br />
<% if !@user.nil? && @user.is_admin == 1 %>
	<div style="clear:both; padding:10px 0px 10px 0px;"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>


</div>
