<div style="padding-top:15px;"><h2>Projects</h2></div>
<div>
<% @projects.each do |project| %>
  <div style="padding-bottom:25px;">
    <h3><%= project.projectname %></h3>
    <p>Location: <%= project.latitude %> <%= project.longitude %></p>
    <p>Completion Date: <%= project.completion %></p>
    <p>Description: <%= project.description %></p>
	<br />
    <%= link_to 'Show', project %>
	<%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
  </div>
<% end %>
</div>

<br />
<div style="padding:10px 0px 10px 0px;"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>

<%= 
	gmaps4rails(@jason) 
%>