<div id="bgHero">
	<div id="mapHeroImg"><%= gmaps4rails(@jason) %></div>
	
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>

<div id="content" style="padding-top:370px;">
	<div id="heroContent">
			
		</div>

	<% if @cid.nil?%>
		<%=render 'projectsAllCats'%>
	<% else %>
		<%=render 'projectsOneCat'%>
	<%end%>
<br />
<div class="clearfix"></div>
<% if !@user.nil? && @user.is_admin == 1 %>
	<div class="createNewProject"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>
</div>
