<div id="bgHero">	
	<div id="advancementHeroImg" style="background: url(/assets/<%=@bgimage%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
		<!--x-->
	</div>
</div>
 <div id="wrapper">
 <%=render 'layouts/navBar'%>
 
<div id="content">
	<div id="heroContent">
		<h1>
			<% if @cid.nil?%>
			<span style="font-size:2.5em;">Mission of Hope, Haiti</span><br>
			
				<span style="font-size:4.5em;">Highlighted</span><br>
				<span style="font-size:6em; display: block; padding-bottom: 10px;">Projects</span>
			
		<br>
			<span style="float:left; text-align:center; margin-right:90px;">
				<a href="/projects/12"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-azil-home.jpg" alt="Azil Home"></a>
				<br><p><a href="/projects/12" style="color:#F9F2E7;">Azil Home</a></p></span>
			<span style="float:left; text-align:center; margin-right:90px;">
				<a href="/projects/5"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-blue-to-block.jpg" alt="Blue to Block"></a>
				<br><p><a href="/projects/5" style="color:#F9F2E7;">Blue to Block</a></p></span>
			<span style="float:left; text-align:center; margin-right:90px;">
				<a href="/projects/7"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-tech-school.jpg" alt="Technical School" ></a>
				<br><p><a href="/projects/7" style="color:#F9F2E7;">Technical School</a></p></span>
			<span style="float:left; text-align:center;">
				<a href="/projects/8"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-sports-complex.jpg" alt="Sports Complex" ></a>
				<br><p><a href="/projects/8" style="color:#F9F2E7;">Sports Complex</a></p></span>
		
			<%else%>
				<span style="background-image: url(/assets/greenBG.png); margin-top:80px; width: 80%; font-size:4.5em; display:block;"><%=@category.categoryname%> Projects</span>
			<%end%>
		
		</h1>
		
				
	</div>
	
	<% if @cid.nil?%>
		<%=render 'projectsAllCats'%>
	<% else %>
		<%=render 'projectsOneCat'%>
	<%end%>
<br />
<div class="clearfix"></div>
<% if !@user.nil? && @user.is_admin == 1 %>
	<div class="createNewProject"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>
</div>
