<p id="notice"><%= notice %></p>

<p>
  <b>Projectname:</b>
  <%= @project.projectname %>
</p>
<p>
	Goal: <%= @project.goal%>
</p>
<p>
	Stage: <%=@project.stage%>
</p>
<p>
	Funds Needed: <%= number_to_currency(@project.fundsneeded, :unit => "$") %>
</p>
<p>
	Funds Raised: <%= number_to_currency(@project.fundsraised, :unit => "$") %><%= ", " + number_to_percentage((@project.fundsraised/@project.fundsneeded)*100,:precision=>2) if !@project.fundsneeded.nil? && @project.fundsneeded > 0 %>
</p>
<p>
  <b>Estimated Completion Date:</b>
  <%= @project.completion %>
</p>
<p>Category: <%=@category.categoryname%><img src="/assets/<%=@category.categoryicon%>"></p>
<p>
  <b>Description:</b>
  <%= simple_format(@project.description) %>
</p>
<div id="divImgThumbs">
	<div id="gallery" class="ad-gallery">
		<div class="ad-image-wrapper">
			<div class="ad-image"></div>
		</div>
		<div class="ad-controls"></div>
		<div class="ad-nav">
			<div class="ad-back"></div>
			<div class="ad-thumbs">
						&nbsp;
						<ul class="ad-thumb-list">
							<% if @assets.count > 0 
								@counter = 0
								@assets.each do |photo| 
									@classname = "image" + @counter.to_s
							%>
									<!--<p><%= image_tag photo.asset.url(:medium) %></p>-->
									<li >
										<a href="<%= photo.asset.url(:medium)%>"><img src="<%= photo.asset.url(:thumb) %>" alt="" title="" longdesc="" class="<%= @classname%>" /></a>
									</li>
									<% @counter = @counter + 1%>
								<% end %>
							<% end %>
						</ul>
			</div>
			<div class="ad-forward"></div>
		</div>
	</div>
</div>
<div class="clear">&nbsp;</div>
<% if @assets.count > 0 %>
	<!--	<h3>My photos</h3> -->
		<% @assets.each do |photo| %>
			<!-- <p><%= image_tag photo.asset.url(:medium) %></p> -->
		<% end %>
	<% end %>
<br />
<div>
<% if @user.nil? %>
	<%= link_to 'Back', projects_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
<% else %>
	<%= link_to 'Back', projects_path %>
<%end%>
</div>