<p id="notice"><%= notice %></p>

<p>
  <b>Projectname:</b>
  <%= @project.projectname %>
</p>
<p>
	Stage: <%=@project.stage%>
</p>
<p>
  <b>Latitude:</b>
  <%= @project.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @project.longitude %>
</p>

<p>
  <b>Completion:</b>
  <%= @project.completion %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<% if @assets.count > 0 %>
		<h3>My photos</h3>
		<% @assets.each do |photo| %>
			<p><%= image_tag photo.asset.url(:medium) %></p>
		<% end %>
	<% end %>

<% if @user.nil? %>
	<%= link_to 'Back', projects_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
<% else %>
	<%= link_to 'Back', projects_path %>
<%end%>
