<div id="bgHero">
  <% if !@project.nil? && !@project.heroimage.nil? && @project.heroimage != '' %>
      <div id="advancementHeroImg" style="background: url(/assets/<%=@project.heroimage%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
        <!--x-->
      </div>
  <% else %>
      <div id="heroCommunitiesImg">
        <!--x-->
      </div>
  <% end %>
</div>

<div id="wrapper">
  <%= render 'layouts/navBar' %>
  <div id="content">
    <div id="heroContent">

      <!-- Project id: 15 is a special case -->
      <% if @project.id == 15 %>
          <div id="heroLeft">
            <h1 style="width:500px !important; margin-left: 400px!important; line-height: 18px !important;">
                <span class="largeText3 greenTransBG" style="margin-bottom:15px !important; padding: 25px 10px !important;">
                  <%= @project.projectname %><br/>
				</span>
                <span class="largeText6 greenTransBG lowercase" style="padding:10px;">
                  <%= @project.goal %>
                </span>
            </h1>

            <div class="buttonSquareOrange" style="position:absolute; top:-250px; left:200px; width:200px; height: 30px; padding-top: 20px; margin-left: 210px;">
              <!--<a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1" style="font-size: 20px;">Donate today!</a OLD DONATE LINK>-->
              <a href="http://mohh.convio.net/site/Donation2?1880.donation=form1&df_id=1880" style="font-size: 20px;">Donate today!</a>
            </div>

            <div class="buttonSquareOrange" style="position:absolute; top:-250px; left:200px; width:260px; height: 30px; padding: 20px 5px 10px 0; margin-left: 440px;">
              <a href="project15extra" style="font-size: 18px;">Meet our young adults</a>
            </div>
          </div>

      <% else %>
          <div id="heroLeft">
            <h1 style="padding-top:40px; width:500px"><span class="largeText4 greenTransBG" style="margin-bottom:15px;"><%= @project.projectname %>
              <br/>
				</span><span class="largeText6 greenTransBG lowercase"><%= @project.goal %></span></h1>

            <div class="buttonSquareOrange" style="position:absolute; top:-250px; left:200px; width:280px">
              <a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Support this
                project &raquo;</a>
            </div>
          </div>
      <% end %>
      <!--<div class="percentComplete">
				<h2>Percent Complete
				<br/>
				<span class="largeText1" style="line-height: 1em;"><%= number_to_percentage(@project.percentcomplete, :precision => 2) %></span></h2>
			</div>-->
    </div>

    <div class="contentHeader" style="background: none;">
      <% if @project.id == 15 %>
          <div class="contentHeaderWide">
      <% else %>
          <div class="contentHeaderLeft">
      <% end %>
        <h1>
          <span class="eyebrow">Mission of Hope Haiti Project</span><br/>
          <%= @project.projectname %>
        </h1>

        <p>
          <%= simple_format(@project.description) %>
        </p>

        <input type="hidden" class="subscribeData" name="project" value="<%= @project.id %>"/>
        <% if [5, 7, 8, 12, 14].include?(@project.id) %>
            <div class="buttonSquareOrange alignLeft" style="cursor: pointer">
              <a href="/assets/project_summary_<%= @project.id %>.pdf" target="_blank"> project summary</a>
            </div>
        <% end %>

      <% if @project.id == 15 %>
          <div class="buttonSquareOrange" style="float: left; width:350px; height: 30px; padding-top: 20px;">
            <a href="project15extra" style="font-size: 20px;">Meet our young adults</a>
          </div>

          <div class="buttonSquareOrange" style="float: left; width:250px; height: 30px; padding-top: 20px; margin-left: 30px;">
            <a href="/MOH_transition_home_project.pdf" target="blank" style="font-size: 20px;">Project Summary</a>
          </div>

          <div class="buttonSquareOrange" style="float: left; width:200px; height: 30px; padding-top: 20px; margin-left: 30px;">
            <a href="http://mohh.convio.net/site/Donation2?1880.donation=form1&df_id=1880" style="font-size: 20px;">Donate Today!</a>
          </div>
      <% else %>


        <% if !@subscribed || @subscribed.empty? %>
            <div class="subscribe buttonSquareOrange alignRight" style="cursor: pointer">
              Follow this project
        <% else %>
            <div class="unsubscribe buttonSquareOrange alignRight" style="cursor: pointer">
              Unfollow this project
        <% end %>
        </div>
        <% if @subscribed %>
            <script>
                $(document).ready(function () {
                    $('.subscribe').live("click", function () {
                        url = "/subscriptions.json";
                        method = "POST";
                        console.log("subscribe");
                        submitSubscription(url, method);
                    });
                    $('.unsubscribe').live("click", function () {
                        console.log("unsubscribe");
                        url = "/subscriptions/<%=@project.id%>.json";
                        method = "DELETE";
                        submitSubscription(url, method);
                    });

                    function submitSubscription(url, method) {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                datatype: "project",
                                sub_id: "<%=@project.id%>",
                                user_id: "<%=@current_user.id%>",
                                _method: method
                            }
                        }).success(function (msg) {
                            console.log("Successful: " + url);
                            if ($(".subscribe").length > 0) {
                                $('.subscribe').text("Unfollow this project");
                                $('.subscribe').addClass("unsubscribe");
                                $('.subscribe').removeClass("subscribe");
                            } else if ($('.unsubscribe').length > 0) {
                                $('.unsubscribe').text("Follow this project");
                                $('.unsubscribe').addClass("subscribe");
                                $('.unsubscribe').removeClass("unsubscribe");
                            }
                        }).fail(function (msg) {
                            alert("There was an error processing your request.");
                        });
                    }
                });
            </script>
        <% end %>
    <% end %>
        </div>
    <% if @project.id != 15 %>
        <div class="contentHeaderRight">

          <h3 class="projectDetailButton" style="padding-top:20px; background-image: url('/assets/gr-<%=@category.categoryicon%>'); background-repeat:no-repeat; background-position:95% 50%; height:60px;">
            Project Type<br/>
            <span class="darkGreenLarge"><a href=""><%= @category.categoryname %></span>
          </h3>

          <h3 class="projectDetailButtonLeft">
            Population<br/>Served<br/>
                  <span class="darkGreenMedium">
                    <%= @population %>
                  </span>
          </h3>

          <h3 class="projectDetailButtonRight">
            Project<br/>Stage<br/>
                    <span class="darkGreenMedium">
                        <%= @project.stage %>
                    </span>
          </h3>

          <div class="clear"></div>

          <% unless @project.fundsneeded.nil? || @project.fundsneeded == '' %>
              <div class="fundsRaised">
                <h3 class="darkGreen">Funds Raised of <%= number_to_currency(@project.fundsneeded, :unit => "$") %>
                  Needed</h3>
                <a href=""><img src="/assets/<%= @fundPercentImage %>"></a>

                <div class="dollarBubble">
                  <span class="darkGreen"><%= number_to_currency(@project.fundsraised, :unit => "$") %>
                    <br/>RAISED </span>
                </div>
              </div>
          <% end %>
          <div class="clearfix"><!--x--></div>
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <h4 style="float:left;">Share This: </h4>
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>

          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
          <!-- AddThis Button END -->
        </div>
        <!--End contentHeaderRight-->
      `<% end %>`
        <% if @project.id != 15 %><div class="clearfix"><!--x--></div><% end %>
      </div>
      <% if @project.id != 15 %>
      <div id="contentLeft560">
        <% if @updates.count > 0 %>
            <div class="updatesWrapper">
              <h3><span class="eyebrow"><%= @project.projectname %></span>
                <br/>
                Updates</h3>

              <div class="speechBubble">
                <p>
                  latest
                  <br/>
                  updates
                </p>
              </div>
              <% if @updates.count == 0 %>
                  <div class="update560">No updates for <%= @project.projectname %></div>
              <% else %>
                  <% @updates.each do |m| %>
                      <div class="update560">
                        <div class="updateDate">
                          <%
                             created = m.postdate
                          %>
                          <span class="month"><%= created.strftime("%b") %></span>
                          <br/>
                          <span class="date"><%= created.strftime("%d") %></span>
                          <br/>
                          <span class="year"><%= created.strftime("%Y") %></span>
                        </div>
                        <div class="updatePost560">
                          <h4><a href="/updates/<%= m.id %>"><%= m.title %></a></h4>

                          <p>
                            <%= truncate(m.body, :length => 100, :separator => ' ') %>
                            <a href="/updates/<%= m.id %>">Read More &raquo;</a>
                          </p>
                          <% @cat = m.categories.order("categoryname asc").limit(1) %>
                          <p class="meta">
                            <% unless @cat.count==0 %>Related Category:
                                <a href="/updates/?cid=<%= @cat.first.id %>"><%= @cat.first.categoryname %></a>
                            <% end %>
                            <% if !m.author.nil? && !m.author.blank? %>
                                <% unless @cat.count==0 %>|
                                <% end %>Update from: <%= m.author %>
                            <% end %></p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                  <% end %>

                  <div class="updateNavRight">
                    <a href="/updates/">View All Updates &raquo;</a>
                  </div>
              <% end %>
            </div>
        <% end %>


        <!--start posts-->

        <div class="updatesWrapper">
          <h3><span class="eyebrow"><%= @project.projectname %></span>
            <br/>
            Blog Posts</h3>

          <div class="speechBubble">
            <p>
              latest
              <br/>
              posts
            </p>
          </div>
          <% @posts.each do |m| %>
              <!--problem start-->
              <div class="update560">
                <div class="updateDate">
                  <%
                     created = m.postdate
                     creator = "-"
                     if m.user.blank?
                       creator = '-'
                     else
                       creator = m.user.first
                     end
                  %>
                  <span class="month"><%= created.strftime("%b") unless created.nil? %></span>
                  <br/>
                  <span class="date"><%= created.strftime("%d") unless created.nil? %></span>
                  <br/>
                  <span class="year"><%= created.strftime("%Y") unless created.nil? %></span>
                </div>
                <div class="updatePost560">
                  <h4><a href="/posts/<%= m.id %>"><%= m.title %></a></h4>

                  <p>
                    <%= truncate(m.metadescription, :length => 100, :separator => ' ') %>
                    <a href="/posts/<%= m.id %>">Read More &raquo;</a>
                  </p>

                  <p class="meta">
                    Posted by: <%= m.author %>
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <!--problemend-->
          <% end %>

          <div class="updateNavRight">
            <a href="/posts/">View All Posts &raquo;</a>
          </div>

        </div>

      </div>
      <div id="contentRight300">
        <% unless @assets.count == 0 %>
            <script>
                jQuery(document).ready(function ($) {
                    $('.lightbox_trigger').click(function (e) {
                        //prevent default action (hyperlink)
                        e.preventDefault();
                        //Get clicked link href
                        var image_href = $('#imghref').attr("href");
                        image_href = image_href.replace("medium", "large");
                        //var image_href = $(this).attr("href");
                        /*
                         If the lightbox window HTML already exists in document,
                         change the img src to to match the href of whatever link was clicked
                         If the lightbox window HTML doesn't exists, create it and insert it.
                         (This will only happen the first time around)
                         */
                        if ($('#lightbox').length > 0) { // #lightbox exists
                            //place href as img src value
                            $('#lightboxcontent').html('<img src="' + image_href + '" />');
                            //show lightbox window - you could use .show('fast') for a transition
                            $('#lightbox').show('fast');
                        }
                        else { //#lightbox does not exist - create and insert (runs 1st time only)
                            //create HTML markup for lightbox window
                            var lightbox =
                                    '<div id="lightbox">' +
                                    '<p>Click to close</p>' +
                                    '<div id="lightboxcontent">' + //insert clicked link's href into img src
                                    '<img src="' + image_href + '" />' +
                                    '</div>' +
                                    '</div>';
                            //insert lightbox HTML into page
                            $('body').append(lightbox);
                        }
                    });
                    //Click anywhere on the page to get rid of lightbox window
                    $('#lightbox').live('click', function () { //must use live, as the lightbox element is inserted into the DOM
                        $('#lightbox').hide('fast');
                    });
                });
            </script>
            <div class="contentRightWrapper">
              <h3><span class="eyebrow"><%= @project.projectname %></span><br/>Photo Album</h3>

              <div id="divImgThumbs">
                <div id="gallery" class="ad-gallery">
                  <div class="ad-image-wrapper lightbox_trigger">
                    <div class="ad-image shadow"></div>
                  </div>
                  <!--wrapper-->
                  <div style="font-size: 8px; text-align: center; width: 100%; margin-top: -10px; margin-bottom: 10px;">
                    <em>Click to enlarge</em></div>
                  <div class="ad-controls"></div>
                  <!--controls-->
                  <div class="ad-nav">
                    <div class="ad-back"></div>
                    <div class="ad-thumbs">
                      &nbsp;
                      <ul class="ad-thumb-list">
                        <% if @assets.count > 0
                             @counter = 0
                             @assets.each do |photo|
                               @classname = "image" + @counter.to_s
                        %>
                                <!--<p><%= image_tag photo.asset.url(:medium) %></p>-->
                                <li>
                                  <a href="<%= photo.asset.url(:medium) %>"><img src="<%= photo.asset.url(:thumb) %>" alt="" title="" longdesc="" class="<%= @classname %>" style="width:65px;"/></a>
                                </li>
                                <% @counter = @counter + 1 %>
                            <% end %>
                        <% end %>
                      </ul>
                    </div>
                    <div class="ad-forward"></div>
                  </div>
                  <!--adnav-->
                </div>
                <!--gallery-->
              </div>
              <!--thumbs-->
            </div>
            <!--contentRightWrapper-->
        <% end %>
      </div>
      <!--contentRight-->
      <% end %>
      <div class="clearfix"><!--x--></div>
      <% if !@user.nil? && @user.is_admin == 1 %>
          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Back', projects_path %>
      <% end %>
    </div>
    <!--content-->
  </div>

