<%= form_for(@experience, :html => { :multipart => true }) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Write a sentence or two about your experience:</h4><br />
    <div class="experienceTextArea"><%= f.text_area :description %></div>
    
  </div>
  <div>
  	<div class="field">
  	<h4>Add your photo:</h4><br />
  	<%= f.file_field :photo %>
  	</div>
  </div>
  <div class="field">
    <h4>Your first name:</h4><br />
    <%= f.text_field :author %>
  </div>
  <% unless @user.nil?%>
  <%= hidden_field_tag 'experience[user_id]', @user.id %>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
