<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top:50px;">

<h1>Editing experience</h1>

<%= render 'form' %>

<%= link_to 'Show', @experience %> | <%= link_to 'Delete', @experience, confirm: 'Are you sure?', method: :delete %> | 
<%= link_to 'Back', experiences_path %>
</div>
</div>
