<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Mission Trip Experiences</h1>
<p>If you've been on a Mission Trip to Mission of Hope, Haiti, chances are you had some pretty amazing experiences and "God moments". We want you to share those experiences with us and others. Just click the "Share your experience" button to get started.
	</p>
<div class="buttonSquareOrange" style="width: 221px;margin-bottom: 15px;"><a href="/experiences/new/">Share your experience &raquo;</a></div>
<div style="width:990px; height:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.description,:alt=>experience.description  %>
  			Posted by <%= experience.author%>:<br />
  			<%= experience.description %>
  			<% if !@user.nil? && @user.is_admin? %>
  				<%= link_to 'Edit', edit_experience_path(experience)%> | <%= link_to 'Delete', experience, confirm: 'Are you sure?', method: :delete %>
  			<%end%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
<br />
<div class="buttonSquareOrange" style="width: 221px;margin-bottom: 15px;"><a href="/experiences/new/">Share your experience &raquo;</a></div>
<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
</div>
</div>
