<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Mission Trip Experiences</h1>
<p>If you've been on a Mission Trip to Mission of Hope, Haiti, chances are you had some pretty amazing experiences and "God moments". We want you to share those experiences with us and others. Just click the "Share your experience" button to get started.
	</p>
<div class="buttonSquareOrange" style="width: 221px;margin-bottom: 15px; float:left; margin-top:30px;"><a href="/experiences/new/">Share your experience &raquo;</a></div>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style alignRight">
<h4 style="float:left;">Share This Page: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<div style="width:990px; height:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.description,:alt=>experience.description  %>
  			<p><span class="experienceAuthor">Posted by <%= experience.author%>:</span><br />
  			<%= experience.description %></p>
  			<% if !@user.nil? && @user.is_admin? %>
  				<p><%= link_to 'Edit', edit_experience_path(experience)%> | <%= link_to 'Delete', experience, confirm: 'Are you sure?', method: :delete %></p>
  			<%end%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
<br />
<div class="buttonSquareOrange" style="width: 221px;margin-bottom: 15px;"><a href="/experiences/new/">Share your experience &raquo;</a></div>

<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
</div>
</div>
