<br />
<h1>Experience Mission of Hope</h1>

<div style="width:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.summary,:alt=>experience.summary  %>
  			<%= experience.summary %>
  			<%= link_to 'Edit', edit_experience_path(experience)%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
<br />
<% if @user != nil %>
	<p>Welcome, <%=@user.first%></p>
<% end %>
<%= link_to 'Share your Experience', new_experience_path,{:style=>"font-size:24px;"} %>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			//containerStyle: { position: 'absolute' },
  			isResizable : true,
  			isAnimated : true,
    		itemSelector : '.item',
    		columnWidth : 1
  		});
	});
</script>
