
<div style="padding-top:30px;">
<p id="notice"><%= notice %></p>


<h1>
  <%= @experience.headline %>
</h1>

<p>
  <%= @experience.summary %>
</p>
<p><br /></p>
<p>
  <%= @experience.description %>
</p>

<br />
<p>
	<% if @projects.count > 0 %>
		<h3>Related Projects:</h3>
		<%	@projects.each do |project| %>
			<p><a href="/projects/<%=project.id%>"><%=project.projectname%></a></p>
		<% end %>
	<%end%>
</p>

<p><br /></p>
<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>

</div>
