<%= form_for(@intern) do |f| %>
  <% if @intern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intern.errors.count, "error") %> prohibited this intern from being saved:</h2>

      <ul>
      <% @intern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  	<h3>General Information</h3>
  	<div class="fieldThirds"><label>Term Desired: <br></label>
		<select id="intern_termdesired" name="intern[termdesired]">
			<option value="Spring">Spring</option>
			<option value="Summer I">Summer I</option>
			<option value="Summer II">Summer II</option>
			<option value="Fall">Fall</option>
		</select>
	</div>
	<div class="fieldThirds"><label>Internship Type:</label> <br>
		<select id="intern_internship_type" name="intern[internship_type]">
			<option value="3Cords">Mobilization/Group Trips</option>
			<option value="Medical">Medical</option>
			<option value="Business Development">Child Sponsorship</option>
			<option value="Church Advancement">Orphanage</option>
		</select>
	</div>
  	<div class="fieldThirds clearfix">
    	<label>First Name:</label><br> 
    	<%= f.text_field :firstname %>
  	</div>
  <div class="fieldThirds">
    <label>Last Name:</label><br> 
    <%= f.text_field :lastname %>
  </div>
  <div class="fieldThirds">
    <label>Age:</label><br> 
    <%= f.text_field :age %>
  </div>
  <div class="fieldThirds shortSelect clearfix">
    <label>Birthday:</label><br>
    <%= f.date_select :birthday,:start_year=>Date.current.year-50,:end_year=>Date.current.year %>
  </div>
  <div class="fieldThirds">
    <label>Gender:</label><br>
    <input id="intern_gender_1" type="radio" name="intern[gender]" value="male"> Male
	<input id="intern_gender_2" type="radio" name="intern[gender]" value="female"> Female
  </div>
  <div class="fieldHalf">
    <label>Street Address:</label><br>
    <%= f.text_field :address %>
  </div>
  <div class="fieldHalf">
    <label>Apartment Number:</label><br>
    <%= f.text_field :address2	 %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_state" name="intern[state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Zip:</label><br>
    <%= f.text_field :zip %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Marital Status:</label><br>
    <input id="intern_marital_status_1" type="radio" name="intern[marital_status]" value="single"> Single
	<input id="intern_marital_status_2" type="radio" name="intern[marital_status]" value="married"> Married
  </div>
  <div class="fieldThirds">
    <label>If married, how long?</label><br>
    <%= f.text_field :how_long_married %>
  </div>
  <div class="fieldThirds">
    <label>Spouse's Name:</label><br>
    <%= f.text_field :spouse_name %>
  </div>
  <div class="fieldHalf clearfix">
    <label>Home Phone Number:</label><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="fieldHalf">
    <label>Cell Phone Number:</label><br>
    <%= f.text_field :cell_phone %>
  </div>
  <div class="fieldHalf clearfix">
    <label>Can we text you?</label><br>
    <%= f.check_box :can_text %> Yes, text me when needed
  </div>
  <div class="fieldHalf">
    <label>Best time to call:</label><br>
    <select id="intern_best_call_time" name="intern[best_call_time]" >
    	<option value="Morning">Morning</option>
    	<option value="Afternoon">Afternoon</option>
    	<option value="Evening">Evening</option>
    </select>
  </div>
  <div class="fieldHalf clearfix">
    <label>Email Address:</label>
    <%= f.text_field :email %>
  </div>
  <div class="fieldThirds">
    <label>T-shirt Size:</label>
    <select id="intern_tshirt_size" name="intern[tshirt_size]" >
    	<option value="Small">Small</option>
    	<option value="Medium">Medium</option>
    	<option value="Large">Large</option>
    	<option value="X-Large">X-Large</option>
    </select>
  </div>
  <div class="fieldHalf clearfix">
    <label>Have you ever been married?</label><br />
    <%= f.check_box :ever_married %> (Check if yes)
  </div>
  <div class="fieldHalf">
     <label>Have you ever had children?</label><br />
    <%= f.check_box :ever_children %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Have you ever been arrested? </label><br>
    <%= f.check_box :ever_arrested %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Have you ever been convicted of a felony or misdemeanor?</label><br>
    <%= f.check_box :ever_criminal_convicted %> (Check if yes)
  </div>
  <div class="field clearfix">
    <label>If you answered "yes" to any of the above, please explain:</label><br>
    <%= f.text_area :ever_explainers, size:"24x6" %>
  </div>
  
  </fieldset>
  <fieldset>
  	<h3>Spirituality</h3>
  <div class="fieldHalf">
    <label>Have you accepted Jesus Christ as your personal Savior?</label><br>
    <%= f.check_box :accepted_Christ %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Have you been baptized in water?</label><br>
    <%= f.check_box :water_baptized %> (Check if yes)
  </div>
  <div class="fieldHalf clearfix">
    <label>Do you attend church regularly?</label><br>
    <%= f.check_box :attend_church %> (Check if yes)
  </div>
  <div class="fieldThirds">
    <label>Are you a member?</label><br>
    <%= f.check_box :church_member %> (Check if yes)
  </div>
  <div class="fieldHalf clearfix">
    <label>Home Church:</label><br>
    <%= f.text_field :home_church %>
  </div>
  <div class="fieldHalf">
    <label>Denomination:</label><br>
    <%= f.text_field :denomination %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :church_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_church_state" name="intern[church_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Phone Number:</label><br>
    <%= f.text_field :church_phone %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Senior Pastor:</label><br>
    <%= f.text_field :senior_pastor %>
  </div>
  <div class="fieldThirds">
    <label>Youth Pastor:</label><br>
    <%= f.text_field :youth_pastor %>
  </div>
  <div class="fieldThirds">
    <label>How long have you attended?</label><br>
    <%= f.text_field :how_long_attended %>
  </div>
  </fieldset>
  <fieldset>
  	<h3>Education</h3>
  <div class="fieldHalf">
    <label>Highest Level of Education Completed:</label><br>
    <select id="intern_highest_education_level" name="intern[highest_education_level]">
    	<option value="GED">GED</option>
		<option value="High School">High School</option>
		<option value="Trade School">Trade School</option>
		<option value="Community College">Community College</option>
		<option value="4 Year University">4 Year University</option>
		<option value="Master's Degree">Master's Degree</option>
		<option value="Other">Other</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>If "Other," please describe:</label><br>
    <%= f.text_field :education_other %>
  </div>
  <div class="fieldThirds clearfix">
    <label>High School Attended:</label><br>
    <%= f.text_field :hs_attended %>
  </div>
  <div class="fieldThirds">
    <label>City:</label><br>
    <%= f.text_field :hs_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_hs_state" name="intern[hs_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds clearfix">
    <label>Did you graduate?</label><br>
    <%= f.check_box :hs_graduate %> (Check if yes)
  </div>
  <div class="fieldThirds">
    <label>Year:</label><br>
    <%= f.text_field :hs_class %>
  </div>
  <div class="fieldThirds clearfix">
    <label>College Attended: </label><br>
    <%= f.text_field :college %>
  </div>
  <div class="fieldThirds">
    <label>Major of Study: </label><br>
    <%= f.text_field :major %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :college_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_college_state" name="intern[college_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds clearfix">
    <label>Did you graduate?</label><br>
    <%= f.check_box :college_graduated %> (Check if yes)
  </div>
  <div class="fieldThirds">
    <label>Dates Attended:</label><br>
    <%= f.text_field :college_dates_attended %>
  </div>
  <div class="fields clearfix">
    <label>Other schools attended, please include pertinent certifications or degrees:</label><br>
    <%= f.text_field :other_schools %>
  </div>
  </fieldset>
  <fieldset>
  	<h3>Experience</h3>
  <div class="field">
    <label>Have you previously been on a mission trip? If yes, with what organization and to where? </label><br>
    <%= f.text_field :mission_experience %>
  </div>
  
  <div class="fieldThirds clearfix">
    <label>Are you currently employed?</label><br> 
    <%= f.check_box :currently_employed %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Current Employer:</label><br>
    <%= f.text_field :current_employer %>
  </div>
  <div class="fieldThirds shortSelect">
    <label>Date Hired:</label><br>
    <%= f.date_select :ce_hired,:start_year=>Date.current.year-30,:end_year=>Date.current.year %>
  </div>
  <div class="fieldHalf">
    <label>Position:</label><br>
    <%= f.text_field :ce_position %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :ce_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_ce_state" name="intern[ce_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Phone:</label><br>
    <%= f.text_field :ce_phone %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Past Employer:</label><br>
    <%= f.text_field :past_employer %>
  </div>
  <div class="fieldThirds">
    <label>Dates Employed:</label><br>
    <%= f.text_field :pe_hired %>
  </div>
  <div class="fieldThirds">
    <label>Position:</label><br>
    <%= f.text_field :pe_position %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :pe_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_pe_state" name="intern[pe_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Phone:</label><br>
    <%= f.text_field :pe_phone %>
  </div>
  </fieldset>
  
  <fieldset>
  	<h3>Family</h3>
  <div class="fieldHalf">
    <label>Father/Guardian First Name: </label><br>
    <%= f.text_field :father_name %>
  </div>
  <div class="fieldHalf">
    <label>Father/Guardian Last Name: </label><br>
    <%= f.text_field :father_last_name %>
  </div>
  <div class="fieldHalf clearfix">
    <label>Address: </label><br>
    <%= f.text_field :father_address %>
  </div>
  <div class="fieldHalf">
    <label>Apartment Number: </label><br>
    <%= f.text_field :father_address_2 %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :father_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_father_state" name="intern[father_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Zip:</label><br>
    <%= f.text_field :father_zip %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Phone:</label><br>
    <%= f.text_field :father_phone %>
  </div>
  <div class="fieldThirds">
    <label>Work Phone:</label><br>
    <%= f.text_field :father_work_phone %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Occupation:</label><br>
    <%= f.text_field :father_occupation %>
  </div>
  <div class="fieldThirds">
    <label>Denominational Preference:</label><br>
    <%= f.text_field :father_denomination %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Has he accepted Christ?</label><br>
    <%= f.check_box :father_accepted_Christ %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Are you applying to this internship with his consent?</label><br>
    <%= f.check_box :father_consent %> (Check if yes)
  </div>
  <div class="fieldThirds clearfix">
    <label>Mother/Guardian First Name:</label><br>
    <%= f.text_field :mother_name %>
  </div>
   <div class="fieldThirds">
    <label>Mother/Guardian Last Name:</label><br>
    <%= f.text_field :mother_last_name %>
  </div>
  <div class="fieldHalf clearfix">
    <label>Address:</label><br>
    <%= f.text_field :mother_address %>
  </div>
  <div class="fieldHalf">
    <label>Apartment Number:</label><br>
    <%= f.text_field :mother_address_2 %>
  </div>
  <div class="fieldThirds clearfix">
    <label>City:</label><br>
    <%= f.text_field :mother_city %>
  </div>
  <div class="fieldThirds">
    <label>State:</label><br>
    <select id="intern_mother_state" name="intern[mother_state]" >
		<option value="AL">Alabama</option>
		<option value="AK">Alaska</option>
		<option value="AZ">Arizona</option>
		<option value="AR">Arkansas</option>
		<option value="CA">California</option>
		<option value="CO">Colorado</option>
		<option value="CT">Connecticut</option>
		<option value="DE">Delaware</option>
		<option value="DC">District Of Columbia</option>
		<option value="FL">Florida</option>
		<option value="GA">Georgia</option>
		<option value="HI">Hawaii</option>
		<option value="ID">Idaho</option>
		<option value="IL">Illinois</option>
		<option value="IN">Indiana</option>
		<option value="IA">Iowa</option>
		<option value="KS">Kansas</option>
		<option value="KY">Kentucky</option>
		<option value="LA">Louisiana</option>
		<option value="ME">Maine</option>
		<option value="MD">Maryland</option>
		<option value="MA">Massachusetts</option>
		<option value="MI">Michigan</option>
		<option value="MN">Minnesota</option>
		<option value="MS">Mississippi</option>
		<option value="MO">Missouri</option>
		<option value="MT">Montana</option>
		<option value="NE">Nebraska</option>
		<option value="NV">Nevada</option>
		<option value="NH">New Hampshire</option>
		<option value="NJ">New Jersey</option>
		<option value="NM">New Mexico</option>
		<option value="NY">New York</option>
		<option value="NC">North Carolina</option>
		<option value="ND">North Dakota</option>
		<option value="OH">Ohio</option>
		<option value="OK">Oklahoma</option>
		<option value="OR">Oregon</option>
		<option value="PA">Pennsylvania</option>
		<option value="RI">Rhode Island</option>
		<option value="SC">South Carolina</option>
		<option value="SD">South Dakota</option>
		<option value="TN">Tennessee</option>
		<option value="TX">Texas</option>
		<option value="UT">Utah</option>
		<option value="VT">Vermont</option>
		<option value="VA">Virginia</option>
		<option value="WA">Washington</option>
		<option value="WV">West Virginia</option>
		<option value="WI">Wisconsin</option>
		<option value="WY">Wyoming</option>
	</select>
  </div>
  <div class="fieldThirds">
    <label>Zip:</label><br>
    <%= f.text_field :mother_zip %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Phone:</label><br>
    <%= f.text_field :mother_phone %>
  </div>
  <div class="fieldThirds">
    <label>Work Phone:</label><br>
    <%= f.text_field :mother_work_phone %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Occupation:</label><br>
    <%= f.text_field :mother_occupation %>
  </div>
  <div class="fieldThirds">
    <label>Denominational Preference:</label><br>
    <%= f.text_field :mother_denomination %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Has she accepted Christ?</label><br>
    <%= f.check_box :mother_accepted_Christ %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Are you applying to this internship with her consent?</label><br>
    <%= f.check_box :mother_consent %> (Check if yes)
  </div>
  <div class="field clearfix">
    <label>How many siblings do you have? Please list names and ages:</label><br> 
    <%= f.text_area :siblings,rows:"4" %>
  </div>
  <div class="field">
    <label>How do your parents feel about you coming into this internship program?</label><br>
    <%= f.text_area :parent_feelings,rows:"6" %>
  </div>
  </fieldset>
  
  
  <fieldset>
  	<h3>Health</h3>
  <div class="fieldThirds">
    <label>Do you have health insurance?</label><br>
    <%= f.check_box :health_insurance %> (Check if yes)
  </div>
  <div class="fieldHalf">
    <label>Insurance Provider:</label><br>
    <%= f.text_field :insurance_provider %>
  </div>
  <div class="field clearfix">
    <label>How would you describe your health?</label><br>
    <%= f.text_field :health_description %>
  </div>
  <div class="field clearfix">
    <label>List any physical limitations:</label><br>
    <%= f.text_area :physical_limitation,rows:"4" %>
  </div>
  <div class="field clearfix">
    <label>List any medications you are currently taking:</label><br>
    <%= f.text_area :medications,rows:"4" %>
  </div>
  <div class="field clearfix">
    <label>Have you ever taken drugs other than prescribed drugs? If yes, what drug and last date used?</label><br>
    <%= f.text_area :drugs,rows:"4" %>
  </div>
  </fieldset>
  
  <fieldset>
  	<h3>Emergency Information</h3>
  <div class="fieldThirds">
    <label>Emergency Contact:</label><br>
    <%= f.text_field :emergency_1_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :emergency_1_relationship %>
  </div>
  <div class="fieldThirds">
    <label>Phone Number:</label><br>
    <%= f.text_field :emergency_1_phone %>
  </div>
  <div class="fieldThirds clearfix">
    <label>Emergency Contact (not parent):</label><br>
    <%= f.text_field :emergency_2_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :emergency_2_relationship %>
  </div>
  <div class="fieldThirds">
    <label>Phone Number:</label><br>
    <%= f.text_field :emergency_2_phone %>
  </div>
  </fieldset>
  
  <fieldset>
  	<h3>Skills</h3>
  <div class="fieldThirds">
    <label>Do you speak a foreign language?</label><br>
    <%= f.check_box :foreign_language %> (Check if yes)
  </div>
  <div class="fieldThirds">
    <label>If yes, which one(s)?</label><br>
    <%= f.text_field :what_languages %>
  </div>
  <div class="fieldThirds">
    <label>Language Proficiency:</label><br>
    <%= f.text_field :language_proficiency %>
  </div>
  <div class="fieldHalf clearfix">
    <label>Do you have certification in the following?<br> Check all that apply.</label><br>
    <%= f.check_box :cpr_cert %> CPR
    <%= f.check_box :firstaid_cert %> First Aid
    <%= f.check_box :other_cert %> Other
  </div>
  <div class="fieldHalf">
    <label>List other certifications:</label><br>
    <%= f.text_field :certifications %>
  </div>
  <div class="field clearfix">
    <label>Do you have experience in dealing with abused, neglected, or abandoned children?</label><br>
    <%= f.check_box :child_experience %> (Check if yes)
  </div>
  <div class="field">
    <label>Do you have any vocational or ministry training? If yes, explain:</label><br>
    <%= f.text_area :ministry_training,rows:"6" %>
  </div>
  <div class="field">
    <label>Do you have any technical skills or training? If yes, explain.</label><br>
    <%= f.text_area :tech_training,rows:"6" %>
  </div>
  </fieldset>
  
  <fieldset>
  	<h3>References</h3>
  	<p>You will need to secure 4 references to complete the application process.  They need to consist of 2 personal references (not former employers or relatives), 1 work or ministry reference, and 1 pastoral reference.  Please list the 4 people that you will be asking to send in references on your behalf.</p>
  <div class="fieldThirds">
    <label>First Name:</label><br>
    <%= f.text_field :ref1_name %>
  </div>
   <div class="fieldThirds">
    <label>Last Name:</label><br>
    <%= f.text_field :ref1_last_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :ref1_rel %>
  </div>
  <div class="fieldThirds">
    <label>First Name:</label><br>
    <%= f.text_field :ref2_name %>
  </div>
   <div class="fieldThirds">
    <label>Last Name:</label><br>
    <%= f.text_field :ref2_last_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :ref2_rel %>
  </div>
  <div class="fieldThirds">
    <label>First Name:</label><br>
    <%= f.text_field :ref3_name %>
  </div>
  <div class="fieldThirds">
    <label>Last Name:</label><br>
    <%= f.text_field :ref3_last_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :ref3_rel %>
  </div>
  <div class="fieldThirds">
    <label>First Name:</label><br>
    <%= f.text_field :ref4_name %>
  </div>
  <div class="fieldThirds">
    <label>Last Name:</label><br>
    <%= f.text_field :ref4_last_name %>
  </div>
  <div class="fieldThirds">
    <label>Relationship:</label><br>
    <%= f.text_field :ref4_rel %>
  </div>
  </fieldset>
  
  <fieldset>
  	<h3>Personal Profile</h3>
  <div class="field">
  		<label>Do you have any previous experience in working with the following types of people or ministries?<br />Check all that apply.</label><br>
  		<div style="float:left; width:300px; padding:10px 0 20px 0;">
    	<%= f.check_box :vbs_experience %> Children - VBS<br>
    	<%= f.check_box :camp_experience %> Children - Overnight Camp<br>
    	<%= f.check_box :other_child_experience %> Children - Other<br>
    	<%= f.check_box :homeless_experience %> Homeless<br>
  		</div>
  		<div style="float:left; width:300px; padding:10px 0 20px 0;">
    	<%= f.check_box :senior_experience %> Senior Citizens<br>
		<%= f.check_box :worship_team_experience %> Worship Team<br>
		<%= f.check_box :lighting_experience %> Sound and Lighting<br>
		<%= f.check_box :photography_experience %> Photography<br>
		</div>
	</div>
  <div class="field clearfix">
  	<label style="padding:20px 0;">Please check all of the following traits which you think describe your personality.</label><br>
  		<div style="float:left; width:300px; padding:10px 0 20px 0;">
    	<%= f.check_box :modest_trait %> Modest<br>
    	<%= f.check_box :mature_trait %> Mature<br>
    	<%= f.check_box :kind_trait %> Kind<br>
    	<%= f.check_box :abrasive_trait %> Abrasive<br>
    	<%= f.check_box :organized_trait %> Organized<br>
    	<%= f.check_box :quiet_trait %> Quiet<br>
    	<%= f.check_box :moody_trait %> Moody<br>
    	<%= f.check_box :teachable_trait %> Teachable<br>
    	<%= f.check_box :self_motivated_trait %> Self-Motivated<br>
    	<%= f.check_box :genuine_trait %> Genuine<br>
    	<%= f.check_box :detail_oriented_trait %> Detail-Oriented<br>
    	</div>
    	<div style="float:left; width:300px; padding:10px 0 20px 0;">
    	<%= f.check_box :loving_trait %> Loving<br>
    	<%= f.check_box :sarcastic_trait %> Sarcastic<br>
    	<%= f.check_box :selfish_trait %> Selfish<br>
    	<%= f.check_box :trustworthy_trait %> Trustworthy<br>
    	<%= f.check_box :tactful_trait %> Tactful<br>
    	<%= f.check_box :compassionate_trait %> Compassionate<br>
    	<%= f.check_box :hard_working_trait %> Hard-Working<br>
    	<%= f.check_box :adaptive_trait %> Adaptive<br>
    	<%= f.check_box :lazy_trait %> Lazy<br>
    	<%= f.check_box :punctual_trait %> Punctual<br>
    	</div>
  		<div style="float:left; width:300px; padding:10px 0 20px 0;">
    		<%= f.check_box :sensitive_trait %> Sensitive<br>
    		<%= f.check_box :socially_awkward_trait %> Socially Awkward<br>
    		<%= f.check_box :patient_trait %> Patient<br>
    		<%= f.check_box :considerate_trait %> Considerate<br>
    		<%= f.check_box :motivated_trait %> Motivated<br>
    		<%= f.check_box :impulsive_trait %> Impulsive<br>
    		<%= f.check_box :relaxed_trait %> Relaxed<br>
    		<%= f.check_box :friendly_trait %> Friendly<br>
    		<%= f.check_box :determined_trait %> Determined<br>
    		<%= f.check_box :leader_trait %> Leader<br>
    	</div>
  </div>
  
  <div class="field clearfix">
    <label>In 75 words or less, how would you present the Gospel to an unbeliever?</label><br>
    <%= f.text_area :describe_the_Gospel,rows:"6" %>
  </div>
  </fieldset>
  <fieldset>
  	<h3>Personal Sketch</h3>
  
  <div class="field">
  	The Mission of Hope Internship Program desires to help its interns in every way possible. In order to do this, it is important for us to have some background information.
    <br><br>
    <label>Provide a description of your Christian experience (past and present).</label><br>
    <%= f.text_area :Christian_experience,rows:"6" %><br><br><br>

    <label>Describe experiences which have significantly influenced your life.</label><br>
    <%= f.text_area :influential_experiences,rows:"6" %><br><br><br>
  
    <label>Provide a statement on why you desire to serve through the Internship Program.</label><br>
    <%= f.text_area :why_intern,rows:"6" %><br><br><br>
 
    <label>Explain why the MOH Internship Program should accept you.</label><br>
    <%= f.text_area :why_moh_wants,rows:"6" %>
    
    <div class="field">
    <label>What are your plans after this internship?</label><br>
    <%= f.text_area :future_plans, size:"24x6" %>
  </div>
  </div>
  </fieldset>
  <fieldset>
  	<h3>Upload a recent picture of yourself</h3>
  	<div class="field" style="margin-top:15px;"><strong>Add image(s):</strong>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% if asset_fields.object.new_record? %>
  		<p>
  			
  			<%= asset_fields.file_field :asset%>
  		</p>
  	<% end%>
  <% end %>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% unless asset_fields.object.new_record? %>
  		<p>
  			<%= link_to image_tag(asset_fields.object.asset.url(:thumb)),asset_fields.object.asset.url(:large)%>
  			<%= asset_fields.check_box :_destroy %> Remove Image
  		</p>
  	<% end %>
  <% end %>
  </div>
  </fieldset>
  <div class="actions">
  	<input name="commit" id="btnFrmSubmit" type="submit" value="Submit my request" />
    <%= #f.submit "Submit my request" 
    %>
    <p><!--x--><br><br><br></p>
  </div>
<% end %>
