<% content_for(:head) do %>
	<%= javascript_include_tag :validate_volunteer %>
<% end %>
<style>

.formsLong {
    background-color: #ccb99a;
    border: 1px solid #c2b092;
    padding-left: 20px;
    padding-right: 47px;
}

.formsLong h3 {
	margin-top:20px;
}

.formsLong label {
	font-size:1.1em;
}
.formsLong input {
	width:80%;
	padding:5px;
	margin-top:5px;
}

.formsLong input[type="radio"], .formsLong input[type="checkbox"], .formsLong input[type="submit"] {
	width:auto;
	margin-top:10px;
} 

.formsLong select {
	width:80%;
	margin-top:5px;
} 

.formsLong textarea {
	margin-top:5px;
}
.formsLong .field {
	margin:20px 0;
}
.fieldHalf {
	float:left;
	width:445px;
	margin:20px 0;
}
.fieldThirds {
	float:left;
	width:297px;
	margin:20px 0;
}

fieldset {
	
}

</style>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
		<h1>Edit Intern Application</h1>
		
<%= render 'form' %>

<%= link_to 'Show', @intern %> |
<%= link_to 'Back', interns_path %>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#intern_termdesired").val("<%=@intern.termdesired%>");
		$("#intern_internship_type").val("<%=@intern.internship_type%>");
		$("#intern_best_call_time").val("<%=@intern.best_call_time%>");
		$("#intern_tshirt_size").val("<%=@intern.tshirt_size%>");
		$("#intern_highest_education_level").val("<%=@intern.highest_education_level%>");
		$("#intern_state").val("<%=@intern.state%>");
		$("#intern_church_state").val("<%=@intern.church_state%>");
		$("#intern_hs_state").val("<%=@intern.hs_state%>");
		$("#intern_college_state").val("<%=@intern.college_state%>");
		$("#intern_ce_state").val("<%=@intern.ce_state%>");
		$("#intern_pe_state").val("<%=@intern.pe_state%>");
		$("#intern_father_state").val("<%=@intern.father_state%>");
		$("#intern_mother_state").val("<%=@intern.mother_state%>");
	});
</script>
