<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<div class="row" style="padding-bottom:25px;">
	<% if @isadmin%>
		<h2><a href="/interns/<%=@intern.id%>.csv">Click to Download Application as CSV File</a></h2>
	<%end%>
</div>

<div class="row">
	<%if @photo%>
		<img src="<%=@photo.asset.url(:medium)%> " />
	<%else%>
		<p><strong>No applicant image uploaded.</strong></p>
	<%end%>
<p>
  <b>Firstname:</b>
  <%= @intern.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @intern.lastname %>
</p>

<p>
  <b>Age:</b>
  <%= @intern.age %>
</p>

<p>
  <b>Birthday:</b>
  <%= @intern.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @intern.gender %>
</p>

<p>
  <b>Termdesired:</b>
  <%= @intern.termdesired %>
</p>

<p>
  <b>Internship type:</b>
  <%= @intern.internship_type %>
</p>

<p>
  <b>Address:</b>
  <%= @intern.address %>
</p>

<p>
  <b>City:</b>
  <%= @intern.city %>
</p>

<p>
  <b>State:</b>
  <%= @intern.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @intern.zip %>
</p>

<p>
  <b>Marital status:</b>
  <%= @intern.marital_status %>
</p>

<p>
  <b>How long married:</b>
  <%= @intern.how_long_married %>
</p>

<p>
  <b>Spouse name:</b>
  <%= @intern.spouse_name %>
</p>

<p>
  <b>Home phone:</b>
  <%= @intern.home_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @intern.cell_phone %>
</p>

<p>
  <b>Can text:</b>
  <%= @intern.can_text %>
</p>

<p>
  <b>Best call time:</b>
  <%= @intern.best_call_time %>
</p>

<p>
  <b>Email:</b>
  <%= @intern.email %>
</p>

<p>
  <b>Tshirt size:</b>
  <%= @intern.tshirt_size %>
</p>

<p>
  <b>Ever married:</b>
  <%= @intern.ever_married %>
</p>

<p>
  <b>Ever children:</b>
  <%= @intern.ever_children %>
</p>

<p>
  <b>Ever arrested:</b>
  <%= @intern.ever_arrested %>
</p>

<p>
  <b>Ever criminal convicted:</b>
  <%= @intern.ever_criminal_convicted %>
</p>

<p>
  <b>Ever explainers:</b>
  <%= @intern.ever_explainers %>
</p>

<p>
  <b>Future plans:</b>
  <%= @intern.future_plans %>
</p>

<p>
  <b>Accepted christ:</b>
  <%= @intern.accepted_Christ %>
</p>

<p>
  <b>Water baptized:</b>
  <%= @intern.water_baptized %>
</p>

<p>
  <b>Attend church:</b>
  <%= @intern.attend_church %>
</p>

<p>
  <b>Church member:</b>
  <%= @intern.church_member %>
</p>

<p>
  <b>Home church:</b>
  <%= @intern.home_church %>
</p>

<p>
  <b>Denomination:</b>
  <%= @intern.denomination %>
</p>

<p>
  <b>Church city:</b>
  <%= @intern.church_city %>
</p>

<p>
  <b>Church state:</b>
  <%= @intern.church_state %>
</p>

<p>
  <b>Church phone:</b>
  <%= @intern.church_phone %>
</p>

<p>
  <b>Senior pastor:</b>
  <%= @intern.senior_pastor %>
</p>

<p>
  <b>Youth pastor:</b>
  <%= @intern.youth_pastor %>
</p>

<p>
  <b>How long attended:</b>
  <%= @intern.how_long_attended %>
</p>

<p>
  <b>Highest education level:</b>
  <%= @intern.highest_education_level %>
</p>

<p>
  <b>Education other:</b>
  <%= @intern.education_other %>
</p>

<p>
  <b>Hs attended:</b>
  <%= @intern.hs_attended %>
</p>

<p>
  <b>Hs city:</b>
  <%= @intern.hs_city %>
</p>

<p>
  <b>Hs state:</b>
  <%= @intern.hs_state %>
</p>

<p>
  <b>Hs graduate:</b>
  <%= @intern.hs_graduate %>
</p>

<p>
  <b>Hs class:</b>
  <%= @intern.hs_class %>
</p>

<p>
  <b>College:</b>
  <%= @intern.college %>
</p>

<p>
  <b>Major:</b>
  <%= @intern.major %>
</p>

<p>
  <b>College city:</b>
  <%= @intern.college_city %>
</p>

<p>
  <b>College state:</b>
  <%= @intern.college_state %>
</p>

<p>
  <b>College graduated:</b>
  <%= @intern.college_graduated %>
</p>

<p>
  <b>College dates attended:</b>
  <%= @intern.college_dates_attended %>
</p>

<p>
  <b>Other schools:</b>
  <%= @intern.other_schools %>
</p>

<p>
  <b>Mission experience:</b>
  <%= @intern.mission_experience %>
</p>

<p>
  <b>Mission city:</b>
  <%= @intern.mission_city %>
</p>

<p>
  <b>Mission state:</b>
  <%= @intern.mission_state %>
</p>

<p>
  <b>Currently employed:</b>
  <%= @intern.currently_employed %>
</p>

<p>
  <b>Current employer:</b>
  <%= @intern.current_employer %>
</p>

<p>
  <b>Ce hired:</b>
  <%= @intern.ce_hired %>
</p>

<p>
  <b>Ce position:</b>
  <%= @intern.ce_position %>
</p>

<p>
  <b>Ce city:</b>
  <%= @intern.ce_city %>
</p>

<p>
  <b>Ce state:</b>
  <%= @intern.ce_state %>
</p>

<p>
  <b>Ce phone:</b>
  <%= @intern.ce_phone %>
</p>

<p>
  <b>Past employer:</b>
  <%= @intern.past_employer %>
</p>

<p>
  <b>Pe hired:</b>
  <%= @intern.pe_hired %>
</p>

<p>
  <b>Pe position:</b>
  <%= @intern.pe_position %>
</p>

<p>
  <b>Pe city:</b>
  <%= @intern.pe_city %>
</p>

<p>
  <b>Pe state:</b>
  <%= @intern.pe_state %>
</p>

<p>
  <b>Pe phone:</b>
  <%= @intern.pe_phone %>
</p>

<p>
  <b>Father name:</b>
  <%= @intern.father_name %>
</p>

<p>
  <b>Father address:</b>
  <%= @intern.father_address %>
</p>

<p>
  <b>Father city:</b>
  <%= @intern.father_city %>
</p>

<p>
  <b>Father state:</b>
  <%= @intern.father_state %>
</p>

<p>
  <b>Father phone:</b>
  <%= @intern.father_phone %>
</p>

<p>
  <b>Father work phone:</b>
  <%= @intern.father_work_phone %>
</p>

<p>
  <b>Father occupation:</b>
  <%= @intern.father_occupation %>
</p>

<p>
  <b>Father denomination:</b>
  <%= @intern.father_denomination %>
</p>

<p>
  <b>Father accepted christ:</b>
  <%= @intern.father_accepted_Christ %>
</p>

<p>
  <b>Father consent:</b>
  <%= @intern.father_consent %>
</p>

<p>
  <b>Mother name:</b>
  <%= @intern.mother_name %>
</p>

<p>
  <b>Mother address:</b>
  <%= @intern.mother_address %>
</p>

<p>
  <b>Mother city:</b>
  <%= @intern.mother_city %>
</p>

<p>
  <b>Mother state:</b>
  <%= @intern.mother_state %>
</p>

<p>
  <b>Mother phone:</b>
  <%= @intern.mother_phone %>
</p>

<p>
  <b>Mother work phone:</b>
  <%= @intern.mother_work_phone %>
</p>

<p>
  <b>Mother occupation:</b>
  <%= @intern.mother_occupation %>
</p>

<p>
  <b>Mother denomination:</b>
  <%= @intern.mother_denomination %>
</p>

<p>
  <b>Mother accepted christ:</b>
  <%= @intern.mother_accepted_Christ %>
</p>

<p>
  <b>Mother consent:</b>
  <%= @intern.mother_consent %>
</p>

<p>
  <b>Siblings:</b>
  <%= @intern.siblings %>
</p>

<p>
  <b>Parent feelings:</b>
  <%= @intern.parent_feelings %>
</p>

<p>
  <b>Health insurance:</b>
  <%= @intern.health_insurance %>
</p>

<p>
  <b>Insurance provider:</b>
  <%= @intern.insurance_provider %>
</p>

<p>
  <b>Health description:</b>
  <%= @intern.health_description %>
</p>

<p>
  <b>Physical limitation:</b>
  <%= @intern.physical_limitation %>
</p>

<p>
  <b>Medications:</b>
  <%= @intern.medications %>
</p>

<p>
  <b>Drugs:</b>
  <%= @intern.drugs %>
</p>

<p>
  <b>Emergency 1:</b>
  <%= @intern.emergency_1_name %>
</p>

<p>
  <b>Emergency 1 relationship:</b>
  <%= @intern.emergency_1_relationship %>
</p>

<p>
  <b>Emergency 1 phone:</b>
  <%= @intern.emergency_1_phone %>
</p>

<p>
  <b>Emergency 2 name:</b>
  <%= @intern.emergency_2_name %>
</p>

<p>
  <b>Emergency 2 relationship:</b>
  <%= @intern.emergency_2_relationship %>
</p>

<p>
  <b>Emergency 2 phone:</b>
  <%= @intern.emergency_2_phone %>
</p>

<p>
  <b>Foreign language:</b>
  <%= @intern.foreign_language %>
</p>

<p>
  <b>What languages:</b>
  <%= @intern.what_languages %>
</p>

<p>
  <b>Language proficiency:</b>
  <%= @intern.language_proficiency %>
</p>

<p>
  <b>Cpr cert:</b>
  <%= @intern.cpr_cert %>
</p>

<p>
  <b>Firstaid cert:</b>
  <%= @intern.firstaid_cert %>
</p>

<p>
  <b>Other cert:</b>
  <%= @intern.other_cert %>
</p>

<p>
  <b>Certifications:</b>
  <%= @intern.certifications %>
</p>

<p>
  <b>Child experience:</b>
  <%= @intern.child_experience %>
</p>

<p>
  <b>Ministry training:</b>
  <%= @intern.ministry_training %>
</p>

<p>
  <b>Tech training:</b>
  <%= @intern.tech_training %>
</p>

<p>
  <b>Ref1 name:</b>
  <%= @intern.ref1_name %>
</p>

<p>
  <b>Ref1 rel:</b>
  <%= @intern.ref1_rel %>
</p>

<p>
  <b>Ref2 name:</b>
  <%= @intern.ref2_name %>
</p>

<p>
  <b>Ref2 rel:</b>
  <%= @intern.ref2_rel %>
</p>

<p>
  <b>Ref3 name:</b>
  <%= @intern.ref3_name %>
</p>

<p>
  <b>Ref3 rel:</b>
  <%= @intern.ref3_rel %>
</p>

<p>
  <b>Ref4 name:</b>
  <%= @intern.ref4_name %>
</p>

<p>
  <b>Ref4 rel:</b>
  <%= @intern.ref4_rel %>
</p>

<p>
  <b>Vbs experience:</b>
  <%= @intern.vbs_experience %>
</p>

<p>
  <b>Camp experience:</b>
  <%= @intern.camp_experience %>
</p>

<p>
  <b>Other child experience:</b>
  <%= @intern.other_child_experience %>
</p>

<p>
  <b>Homeless experience:</b>
  <%= @intern.homeless_experience %>
</p>

<p>
  <b>Senior experience:</b>
  <%= @intern.senior_experience %>
</p>

<p>
  <b>Worship team experience:</b>
  <%= @intern.worship_team_experience %>
</p>

<p>
  <b>Lighting experience:</b>
  <%= @intern.lighting_experience %>
</p>

<p>
  <b>Photography experience:</b>
  <%= @intern.photography_experience %>
</p>

<p>
  <b>Modest trait:</b>
  <%= @intern.modest_trait %>
</p>

<p>
  <b>Mature trait:</b>
  <%= @intern.mature_trait %>
</p>

<p>
  <b>Kind trait:</b>
  <%= @intern.kind_trait %>
</p>

<p>
  <b>Abrasive trait:</b>
  <%= @intern.abrasive_trait %>
</p>

<p>
  <b>Organized trait:</b>
  <%= @intern.organized_trait %>
</p>

<p>
  <b>Quiet:</b>
  <%= @intern.quiet_trait %>
</p>

<p>
  <b>Moody trait:</b>
  <%= @intern.moody_trait %>
</p>

<p>
  <b>Teachable trait:</b>
  <%= @intern.teachable_trait %>
</p>

<p>
  <b>Self motivated trait:</b>
  <%= @intern.self_motivated_trait %>
</p>

<p>
  <b>Genuine trait:</b>
  <%= @intern.genuine_trait %>
</p>

<p>
  <b>Detail oriented trait:</b>
  <%= @intern.detail_oriented_trait %>
</p>

<p>
  <b>Loving trait:</b>
  <%= @intern.loving_trait %>
</p>

<p>
  <b>Sarcastic trait:</b>
  <%= @intern.sarcastic_trait %>
</p>

<p>
  <b>Selfish trait:</b>
  <%= @intern.selfish_trait %>
</p>

<p>
  <b>Trustworthy trait:</b>
  <%= @intern.trustworthy_trait %>
</p>

<p>
  <b>Tactful trait:</b>
  <%= @intern.tactful_trait %>
</p>

<p>
  <b>Compassionate trait:</b>
  <%= @intern.compassionate_trait %>
</p>

<p>
  <b>Hard working trait:</b>
  <%= @intern.hard_working_trait %>
</p>

<p>
  <b>Adaptive trait:</b>
  <%= @intern.adaptive_trait %>
</p>

<p>
  <b>Lazy trait:</b>
  <%= @intern.lazy_trait %>
</p>

<p>
  <b>Punctual trait:</b>
  <%= @intern.punctual_trait %>
</p>

<p>
  <b>Sensitive trait:</b>
  <%= @intern.sensitive_trait %>
</p>

<p>
  <b>Socially awkward trait:</b>
  <%= @intern.socially_awkward_trait %>
</p>

<p>
  <b>Patient trait:</b>
  <%= @intern.patient_trait %>
</p>

<p>
  <b>Considerate trait:</b>
  <%= @intern.considerate_trait %>
</p>

<p>
  <b>Motivated trait:</b>
  <%= @intern.motivated_trait %>
</p>

<p>
  <b>Impulsive trait:</b>
  <%= @intern.impulsive_trait %>
</p>

<p>
  <b>Relaxed trait:</b>
  <%= @intern.relaxed_trait %>
</p>

<p>
  <b>Friendly trait:</b>
  <%= @intern.friendly_trait %>
</p>

<p>
  <b>Determined trait:</b>
  <%= @intern.determined_trait %>
</p>

<p>
  <b>Leader trait:</b>
  <%= @intern.leader_trait %>
</p>

<p>
  <b>Describe the gospel:</b>
  <%= @intern.describe_the_Gospel %>
</p>

<p>
  <b>Christian experience:</b>
  <%= @intern.Christian_experience %>
</p>

<p>
  <b>Influential experiences:</b>
  <%= @intern.influential_experiences %>
</p>

<p>
  <b>Why intern:</b>
  <%= @intern.why_intern %>
</p>

<p>
  <b>Why moh wants:</b>
  <%= @intern.why_moh_wants %>
</p>

<% if @isadmin%>
	<%= link_to 'Edit', edit_intern_path(@intern) %> |
	<%= link_to 'Back', interns_path %>
<%end%>
</div>
</div>
