<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div>
  	Select Category: <%= collection_select 'update', 'category_ids', Category.order("categoryname asc"), :id, :categoryname, { :include_blank => 'None'}, { :multiple => true, :categoryname =>'update[category_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Related Projects: <%= collection_select 'update', 'project_ids', Project.order("projectname asc"), :id, :projectname, { :include_blank => 'None'}, { :multiple => true, :projectname =>'update[project_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Related Villages: <%= collection_select 'update', 'community_ids', Community.order("communityname asc"), :id, :communityname, { :include_blank => 'None'}, { :multiple => true, :communityname =>'update[community_ids][]',:selected => 0 } %>
  </div>
  <div class="field">
    <%= f.label :media %><br />
    <%= f.text_field :media %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
