<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 40px;">
<% if @cid.nil?%>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style alignRight">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Updates</h1>
<% else %>
	<h1><%=@category.categoryname %> Updates</h1>
<% end %>

<div style="width:990px; height:100%;">
	<div id="container" class="transitions-enabled clearfix" style="clear:both;">
		<% @updates.each do |update| %>
			<% @photo = update.assets.last%>
				<div class="item">
					<% unless @photo.nil? %>
			  			<%= image_tag @photo.asset.url(:medium),:title=>update.body,:alt=>update.body  %>
			  		<%end%>
					<h4><a href="/updates/<%=update.id%>"><%= update.title %></a></h4>
					<p><%= update.postdate.strftime("%b %e, %Y") %></p>
			  		
			  		<% unless update.author.blank? or update.author.nil? %>
			  			<p><span class="update">Update from <%= update.author%>:</span></p>
			  		<% end %>
		  			<p><%= update.body %></p>
		  		</div>
		<% end %>
	</div>
</div>
<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>


<br />
<%if @isadmin%>
<%= link_to 'New Update', new_update_path %>
<%end%>
</div>