<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 20px;">
<% if @cid.nil?%>
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Updates</h1>
<% else %>
	<h1><%=@category.categoryname %> Updates</h1>
<% end %>



<% @updates.each do |update| %>
  <div style="padding-top:20px; border-bottom:1px dotted #0F483B;">
  <h3><%= update.created_at.strftime("%b %e, %Y") %> - <%= update.title %></h3>
    <p><%= update.body %></p>
    <p><%= update.media %></p>
    <!--<td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, confirm: 'Are you sure?', method: :delete %></td>-->
  </div>
<% end %>

<br />

<%if @isadmin%>
<%= link_to 'New Update', new_update_path %>
<%end%>
</div>