<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 20px;">
<% if @cid.nil?%>
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Updates</h1>
<% else %>
	<h1><%=@category.categoryname %> Updates</h1>
<% end %>

<div style="width:990px; height:100%;">
	<div id="container" class="transitions-enabled clearfix" style="clear:both;">
		<% @updates.each do |update| %>
			<% @photo = update.assets.last%>
				<div class="item">
					<% unless @photo.nil? %>
			  			<%= image_tag @photo.asset.url(:medium),:title=>update.body,:alt=>update.body  %>
			  		<%end%>
					<h4><a href="/updates/<%=update.id%>"><%= update.title %></a></h4>
					<p><%= update.postdate.strftime("%b %e, %Y") %></p>
			  		
			  		<% unless update.author.blank? or update.author.nil? %>
			  			<p><span class="update">Update from <%= update.author%>:</span></p>
			  		<% end %>
		  			<p><%= update.body %></p>
		  		</div>
		<% end %>
	</div>
</div>
<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
<!--
<% @updates.each do |update| %>
  <div style="padding-top:20px; border-bottom:1px dotted #0F483B;">
  <h3><%= update.postdate.strftime("%b %e, %Y") %> - <a href="/updates/<%=update.id%>"><%= update.title %></a></h3>
    <% if !update.author.blank? && !update.author.nil?%>
    	<p>Update from: <%=update.author%></p>
    <%end%>
    <% @photo = update.assets.last%>
    <%unless @photo.nil?%>
		<p><img src="<%=@photo.asset.url(:thumb)%>" /></p>
	<%end%>
    <p><%= update.body %></p>
    <p><%= update.media %></p>
    <!--<td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, confirm: 'Are you sure?', method: :delete %></td>-->
    
    
 <!--
    <p>
    <% unless update.categories.count == 0%>
		<h3 style="width:295px;" class="projectDetailButton"><strong>Related to: </strong>
			<% @cat=update.categories.order("categoryname asc").limit(1) 
				@cat2=update.categories.order("categoryname asc").offset(1) %>
			<a href="/updates/?cid=<%=@cat.first.id%>"><%= @cat.first.categoryname %></a><% unless @cat2.nil? %><% @cat2.each do |cat2|%>, <a href="/updates/?cid=<%=cat2.id%>"><%= cat2.categoryname%></a><% end%><%end%>
		</h3>
	<% end %>
	</p>
	<% if !@user.nil? && @user.is_admin?%>
  	<%= link_to 'Edit', edit_update_path(update) %> | <%= link_to 'Delete', update, confirm: 'Are you sure?', method: :delete %>
  <% end %>
  </div>
<% end %>

-->

<br />
<%if @isadmin%>
<%= link_to 'New Update', new_update_path %>
<%end%>
</div>