<div><h1>Mission of Hope Updates</h1></div>


<% @updates.each do |update| %>
  <div>
  <tr>
    <td><%= update.title %></td>
    <td><%= update.body %></td>
    <td><%= update.media %></td>
    <td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  </div>
<% end %>

<br />

<%= link_to 'New Update', new_update_path %>
