<div id="wrapper">
	
	<div id="content" style="padding-top: 50px;">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @update.title %>
</p>

<p>
  <b>Body:</b>
  <%= @update.body %>
</p>
<p>Category: <%=@update.categories.first.categoryname%></p>
<p>
  <b>Media:</b>
  <%= @update.media %>
</p>

<%if @isadmin%>
<%= link_to 'Edit', edit_update_path(@update) %> |
<%end%>
<%= link_to 'Back', updates_path %>
</div></div>
