<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 20px;">
<p id="notice"><%= notice %></p>
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Update</h1>
<h3>
  <%= @update.title %>
</h3>
<%unless @update.author.nil? || @update.author.blank?%>
<p>Update from <%=@update.author%></p>
<%end%>
<%unless @photo.nil?%>
<p><img src="<%=@photo.asset.url(:medium)%>" /></p>
<%end%>
<p>
  <%= @update.body %>
</p>
<% unless @update.categories.count == 0%>
	<h3 style="width:295px;" class="projectDetailButton"><strong>Related to: </strong>
		<% @cat=@update.categories.order("categoryname asc").limit(1) 
			@cat2=@update.categories.order("categoryname asc").offset(1) %>
		<a href="/updates/?cid=<%=@cat.first.id%>"><%= @cat.first.categoryname %></a><% unless @cat2.nil? %><% @cat2.each do |cat2|%>, <a href="/updates/?cid=<%=cat2.id%>"><%= cat2.categoryname%></a><% end%><%end%>
	</h3>
<% end %>
<p>
  <%= @update.media %>
</p>

<%if @isadmin%>
<%= link_to 'Edit', edit_update_path(@update) %> |
<%end%>
<%= link_to 'Back', updates_path %>
</div></div>
