<% @title = @update.title + " | Mission of Hope Haiti"%>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 20px;">
	<div class="clearfix"></div>
<p id="notice"><%= notice %></p>
<div id="contentLeft560">
<div class="updateDate" style="margin-top:30px;">
				<span class="month"><%= @update.postdate.strftime("%b")%></span>
				<br />
				<span class="date"><%= @update.postdate.strftime("%d")%></span>
				<br />
				<span class="year"><%= @update.postdate.strftime("%Y")%></span>
			</div>
		<h2>
			<span class="eyebrow">Mission of Hope Haiti Updates</span>
			<br />
			<%= @update.title %>
		</h2>
		<p class="meta" >
    		<%unless @update.author.nil? || @update.author.blank?%>
			<p>Update from <%=@update.author%></p>
			<%end%>
    		<% unless @update.categories.count == 0%>
			Related to:
		<a href="/updates/?cid=<%=@cat.first.id%>"><%= @cat.first.categoryname %></a>
		<% unless @cat2.nil? %>
			<% @cat2.each do |cat2|%>
			, <a href="/updates/?cid=<%=cat2.id%>"><%= cat2.categoryname%></a>
			<% end%>
		<%end%>
<% end %>
    	</p>
    	<div class="clearfix"></div>
<%unless @update.author.nil? || @update.author.blank?%>
<p>Update from <%=@update.author%></p>
<%end%>
<%unless @photo.nil?%>
<p><img src="<%=@photo.asset.url(:large)%>" class="updatesBorder" /></p>
<%end%>
<p>
  <%= @update.body %>
</p>

<% if !@update.media.nil? %>
<p>
  <%= @update.media.html_safe %>
</p>
<% end %>

<%if @isadmin%>
<%= link_to 'Edit', edit_update_path(@update) %> | <%= link_to 'Back', updates_path %>
<%end%>


<% if @related_result %>
	<% if @related_result.length > 1 %>
	<div class="update560"></div>
		<h3>Other <%= @cat.first.categoryname %><%if !@cat2.nil? %><% @cat2.each do |cat2| %>, <%= cat2.categoryname %><%end%><%end%> updates: </h3>
		<!--<h3 class="update560" style="font-size: 1em;">-->
			<% @related_result.each do |related|%>
				<%if related.id != @update.id %>
					<div class="update560" style="line-height: 1.3em; height=120px;">
						<h4 style="padding-bottom: 5px;"><a href="/updates/<%=related.id%>"><%=related.title%></a><br/></h4>
						<% unless related.assets.last.nil? %>
							<img src="<%=related.assets.last.asset.url(:thumb)%>" style="float:left; padding-right: 15px; padding-bottom: 5px;" />
						<%end %>
						<%= related.body %>
					<div class="clearfix"><!--x--></div>
					</div>
				<%end%>
			<% end%>
		<!--</h3>-->
	<% end %>
<%end%>

</div>


<div id="contentRight300"> 
	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-top:40px;">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
	<% if @blogs.count != 0 %>
		<div class="updatesWrapper" style="margin-top:20px;">
			<h3>MOH in Action</h3>
			<div class="speechBubble" style="position: absolute; top: -71px; right: 39px;"><p>latest blogs</p></div>
			<%@blogs.each do |blog|%>
				<div class="update300">
				<p class="meta">	<% 
						created = blog.postdate 
					%>
					<%= created.strftime("%b")%> <%=created.strftime("%d")%>, <%=created.strftime("%Y")%>
				</p>
				<div class="updatePost300">
					<h3><a href="/blog/<%=blog.id%>"><%=blog.title%></a></h3>
	
					<p><%=truncate(strip_tags(blog.body),:length=>110,:separator=>' ').html_safe %> <a href="/blog/<%=blog.id%>">Read Story &raquo;</a></p>
					<% @cat = blog.categories.order("categoryname asc").limit(1)%>
					<p class="meta">
						<%unless @cat.count==0%>Related Category: <a href="/blog/?cid=<%=@cat.first.id%>"><%=@cat.first.categoryname%></a><%end%> <%if !blog.author.nil? && !blog.author.blank?%><%unless @cat.count==0%>| <%end%>Update from: <%=blog.author%><%end%></p>
					
				</div>
				<div class="clearfix"></div>
				</div>
			<%end%>
			<div class="updateNav"><a href="/updates">Read all updates from Mission of Hope &raquo;</a></div>
		</div>
	<% end %>

	
	

<% if @related_projects %>
<% if @related_projects.length > 0 %>
	<h3 style="width:295px;" class="projectDetailButton"><strong>Related Projects: </strong>
	<% @related_projects.each do |related|%>
		<a href="/projects/<%=related.id%>"><%=related.projectname%></a><br>
	<% end%>
	</h3>
<% end %>
<% end%>

<div class="clearfix"></div>
</div>

<div class="clearfix" style="height:40px;"><!--x--></div>

</div></div>
