<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 20px;">
<p id="notice"><%= notice %></p>
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Update</h1>
<h3>
  <%= @update.title %>
</h3>
<p>
  <%= @update.body %>
</p>
<h3 style="width:295px;" class="projectDetailButton"><strong>Project Type:</strong><a href="/projects/?cid=<%=@update.categories.first.id%>"> <%=@update.categories.first.categoryname%></a></h3>
<p>
  <%= @update.media %>
</p>

<%if @isadmin%>
<%= link_to 'Edit', edit_update_path(@update) %> |
<%end%>
<%= link_to 'Back', updates_path %>
</div></div>
