<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Title:<br> <%= f.text_field :title %>
  </div>
  <div class="field">
    Author: <br><%= f.text_field :author %>
  </div>
  <div class="field">
    Posted on: <br><%= date_select :post, :postdate %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div>
  	Select Categories:<br> <%= collection_select 'post', 'category_ids', Category.order("categoryname asc"), :id, :categoryname, { :include_blank => 'None'}, { :multiple => true, :categoryname =>'post[category_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Related Projects: <br><%= collection_select 'post', 'project_ids', Project.order("projectname asc"), :id, :projectname, { :include_blank => 'None'}, { :multiple => true, :projectname =>'post[project_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Related Villages:<br> <%= collection_select 'post', 'community_ids', Community.order("communityname asc"), :id, :communityname, { :include_blank => 'None'}, { :multiple => true, :communityname =>'post[community_ids][]',:selected => 0 } %>
  </div>
  <div class="field">
    <div>Add image(s):
  <%= f.fields_for :assets do |asset_fields| %>
  	<% if asset_fields.object.new_record? %>
  		<p>
  			<%= asset_fields.file_field :asset%>
  		</p>
  	<% end%>
  <% end %>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% unless asset_fields.object.new_record? %>
  		<p>
  			<%= link_to image_tag(asset_fields.object.asset.url(:thumb)),asset_fields.object.asset.url(:large)%>
  			<%= asset_fields.check_box :_destroy %> Remove Image
  		</p>
  	<% end %>
  <% end %>
  	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
