<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 30px;background-image:none;">
	<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope Haiti</span><br />
		<%if !@category.nil?%>
			<%=@category.categoryname%><br />
		<%elsif !@month.nil?%>
			<%=@month.strftime('%B %Y')%><br />
		<%end%>Blog Posts</h1>
<% if !@user.nil? && @user.is_admin == 1%>
<h3><%= link_to 'Write a New Post', new_blog_path %></h3>
<%end%>
<% @posts.each do |post| %>
  <div class="postsPage">
  	<div class="updateDate" style="margin-top:20px;">
		<% if post.postdate %>
			<span class="month"><%= post.postdate.strftime("%b")%></span><br />
			<span class="date"><%= post.postdate.strftime("%d")%></span><br />
			<span class="year"><%= post.postdate.strftime("%Y")%></span>	
		<% end %>
	</div>
    <h3 style="padding-bottom:30px;"><a href="/blog/<%=post.id%>"><%= post.title %></a></h3>
    <h4 style="clear:both;"><%= post.user_id %></h4>
    <div style="margin-left:60px; margin-top:-20px; border-bottom:1px dotted #0F483B;">
    	<p class="meta" style="margin-top: -45px;">
    		<%if !post.author.nil? && post.author != ''%>
    			By <%= post.author %> |
    		<%end%>
    		<%if post.categories.count > 0%>
    			Categories: 
    			<%post.categories.each do |cat|%>
    				<a href="/blog/?cid=<%=cat.id%>"><%=cat.categoryname%></a>
    			<%end%>
    		<%end%>
    	</p>
    <p><%= sanitize truncate(post.body,:length=>500,:separator=>' '), :tags => %w(img) %> <a href="/blog/<%=post.id%>">Read More </a></p>
    <p><%= post.imagelink %></p>
   </div>
    <% if !@user.nil? && @user.is_admin?%>
    	<p class="editPostsLink">
    		<%= link_to 'Edit', edit_post_path(post) %> |
    		<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    	</p>
    <% end %>
    </div>
<% end %>

	<% @older_path = "" %>
	<% if !@page %>
		<% @page = 0%>
	<% end %>
	
	<% @older_path = "?page=" + (@page + 1).to_s %>
	<% @newer_path = "?page=" + (@page - 1).to_s %>
	<% if !@cid.nil? %>
		<% @older_path += "&cid=" + @cid.to_s %>
		<% @newer_path += "&cid=" + @cid.to_s %>
	<% end %>
	
<% if @postcount > @posts_per_page * (@page + 1) %>
	<a href="/blog/<%=@older_path %>">Older Posts</a>
<% end %>
<% if @page > 0 %> | <a href="/blog/<%=@newer_path %>">Newer Posts</a><% end %>


<br />
<% if !@user.nil? && @user.is_admin == 1%>
<h3><%= link_to 'Write a New Post', new_blog_path %></h3>
<%end%>


</div><!-- End Content left -->

<div id="contentRight300">
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
			<%= render('/layouts/archives')%>
		</div>
</div><!-- End Content Right -->


<div class="clearfix" style="height:40px;"></div>
</div>
