<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 30px;">
	<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Blog Posts</h1>
<% if !@user.nil? && @user.is_admin == 1%>
<h3><%= link_to 'Write a New Post', new_post_path %></h3>
<%end%>
<% @posts.each do |post| %>
  <div class="postsPage">
  	<div class="updateDate" style="margin-top:20px;">
	<span class="month"><%= post.postdate.strftime("%b")%></span><br />
			<span class="date"><%= post.postdate.strftime("%d")%></span><br />
			<span class="year"><%= post.postdate.strftime("%Y")%></span>	
	</div>
    <h3 style="padding-bottom:0;"><a href="/posts/<%=post.id%>"><%= post.title %></a></h3>
    <h4 style="clear:both;"><%= post.user_id %></h4>
    <div style="margin-left:60px; margin-top:-20px; border-bottom:1px dotted #0F483B;">
    <p><%= truncate(post.body,:length=>500,:separator=>' ').html_safe %></p>
    <p><%= post.imagelink %></p>
    <p ><%= link_to 'Read More...', post %></p>
   </div>
    <% if !@user.nil? && @user.is_admin?%>
    	<p class="editPostsLink">
    		<%= link_to 'Edit', edit_post_path(post) %> |
    		<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
    	</p>
    <% end %>
    </div>
<% end %>


<br />
<% if !@user.nil? && @user.is_admin == 1%>
<h3><%= link_to 'Write a New Post', new_post_path %></h3>
<%end%>


</div><!-- End Content left -->

<div id="contentRight300">
	<div class="rightBoxGreen">
		See More...
		<%@categories.each do |cat|%>
			<h2><a href="/posts/<%=cat.id%>"><%=cat.categoryname%> Posts</a></h2>
		<%end%>
	</div>

</div><!-- End Content Right -->
<div class="clearfix" style="height:40px;"></div>
</div>
<div class="clearfix" style="height:40px;"></div>
</div>
