<div id="bgHero">
	<div id="advancementHeroImg"><!--x--></div>
	
</div>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content">
	<div id="heroContent">
		<h1 style="padding-top:40px;">
			<span class="advancementTopText">Church<br></span><span class="advancementBottomText">Advancement</span><br />
			<span class="greenTransBG"><span class="advancementTop">An alliance of partners</span><br> <span class="advancementMiddle">working together as</span><br> <span class="advancementLast">the Body of Christ</span></span>
			</h1>
			<div class="buttonSquareOrange" style="position:absolute; top:-150px; left:100px; width:280px"><a href="/church_partner">Become Our Partner Today!</a></div>
		<div class="videoWrapper">
		<iframe src="http://player.vimeo.com/video/48615727" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<h1><span class="eyebrow">Mission of Hope</span><br />What is church advancement?</h1>
<p>Church advancement is the Church of North America partnering with Mission of Hope, Haiti to serve the Church in Haiti. Singularly, or along with other churches. Your church will have the opportunity to partner with an individual village to focus your efforts of Church Advancement. Through this progress, the goal is to see the church in Haiti strengthened, villages changed, the Gospel proclaimed and lives transformed. Church advancement focuses specifically on four areas: Ministry, Education, Haiti 1, and Health Care.</p>
	<p style="text-align:center;"><img style="padding:20px 0;" src="/assets/advanceInfographic.png" /></p>
		<div class="buttonSquareOrange" style="margin:20px auto; width:280px"><a href="/church_partner">Become Our Partner Today!</a></div>
		<img src="/assets/contentDiv.png" />
	<div id="contentLeft560">
		<%= render '/layouts/pup'%>
	
	
	</div>
	<div id="contentRight300">
		<%= render 'layouts/churchNav'%>
		<div class="contentRightWrapper">
			<h3><span class="eyebrow">Learn More About</span><br />Our Reach</h3>
			<p>in the Nation of Haiti</p>
				<h4 class="projectDetailButton iconDetailVillages">Total No. of Villages Served <span class="darkGreen"><%=@villages.count%></span></h4>
				<h4 class="projectDetailButton iconDetailPopulation">Total Population Reached <span class="darkGreen"><%=@villages.sum('population')%></span></h4>
				<h4 class="projectDetailButton iconDetailProjects">Total No. of Projects Under Way <span class="darkGreen"><%=@projects.count%></span></h4>
				<div class="buttonSquareOrange" style="width: 182px; margin-top: 6px;"><a href="/communities">Villages we work in &raquo;</a></div>
		</div>
		<div class="contentDiv"></div>
		<div class="contentRightWrapper">	
			<h3><span class="eyebrow">Learn More About</span><br />Vision Trips</h3>
			<p>Are you considering becoming a partner? The best way to see how you can help is to visit Haiti on a short vision trip.<br /><a href="/vision_trip">Take a Vision Trip &raquo;</p>
		</div>
	</div>
		<div class="clearfix"><!--x--></div>

</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>