<div id="bgHero">
	<div id="advancementHeroImg"><!--x--></div>
	
</div>
<div id="wrapper">
<div id="navBar">
	<div id="logo"><a href=""><img src="/assets/logo.png"></a></div>
	<div id="utilityBar">
		<ul id="utilityNav">
			<li><a href="">About Us</a> // </li>
			<li><a href="">Contact Us</a> // </li>
			<li class="last"><% if current_user %>
    <%= link_to "Logout", log_out_path %>
  <% else %>
    <%= link_to "Login", log_in_path %>
  <% end %>
  </li>
		</ul>
		<div class="buttonRounded donate"><a href="">Donate Today</a></div>
		<div class="myMOH"><a href="">myMOH</a></div>
	</div>
	<div id="mainNav">
		<ul id="nav">
			<li class="active"><a href="/what-we-do">What<br />We Do</a>
				<ul>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/church-advancement">Church Advancement</a></li>
					<li><a href="/orphan_care">Orphan Care</a></li>
					<li><a href="">Education</a></li>
					<li><a href="">Health Care</a></li>
					<li><a href="/haiti_one">HaitiOne</a></li>
					<li><a href="">Nutrition</a></li>
					<li><a href="">3 Cords</a></li>
				</ul>
			</li>
			<li><a href="/church-advancement">Church<br />Advancement</a>
				<ul>
					<li><a href="">Communities Impacted</a></li>
					<li><a href="">Become a Church Partner</a></li>
					<li><a href="">Take a Vision Trip</a></li>
				</ul>
			</li>
			<li><a href="/child-sponsorship">Child<br />Sponsorship</a>
				<ul>
					<li><a href="">Sponsor a Child</a></li>
					<li><a href="">Learn About Sponsorship</a></li>
					<li><a href="">Sponsorship FAQs</a></li>
					<li><a href="">Gift Store</a></li>
					<li><a href="">Write Your Child</a></li>
				</ul>
			</li>
			<li><a href="">Mission<br />Trips</a>
				<ul>
					<li><a href="">Take a Mission Trip</a></li>
					<li><a href="">Medical Mission Trips</a></li>
					<li><a href="">Trip Dates</a></li>
					<li><a href="">Trip Costs</a></li>
					<li><a href="">Trip FAQs</a></li>
					<li><a href="">Preparing for a Trip</a></li>
					<li><a href="">Mission Trip Experiences</a></li>
				</ul>
			</li>
			<li><a href="/take-action">Take<br />Action</a>
				<ul>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/church-advancement">Church Advancement</a></li>
					<li><a href="/orphan_care">Orphan Care</a></li>
					<li><a href="">Education</a></li>
					<li><a href="">Health Care</a></li>
					<li><a href="">HaitiOne</a></li>
					<li><a href="">Nutrition</a></li>
					<li><a href="">3 Cords</a></li>
				</ul>
			</li>
			<li class="last"><a href="/stay-connected">Stay<br />Connected</a>
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Updates</a></li>
					<li><a href="">Videos</a></li>
				</ul>
			</li>

		</ul>
			
		
	</div>
	<div id="pull"><a href="">pull me</a></div>
</div>
<div id="content">
	<div id="heroContent">
		<h1 style="padding-top:40px;">
			<span class="giantText1">Church<br></span><span class="largeText2_5">Advancement</span><br />
			<span class="largeText5 greenTransBG">An alliance of partners<br> working together as<br> the Body of Christ</span>
			</h1>
			<div class="buttonSquareOrange" style="position:absolute; top:-200px; left:100px; width:280px"><a href="">Become Our Partner Today!</a></div>
		<div class="videoWrapper">
		<iframe src="http://player.vimeo.com/video/25459309" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<h1><span class="eyebrow">Mission of Hope</span><br />Church Advancement Defined</h1>
<p>Church advancement is the Church of North America partnering with Mission of Hope, Haiti to serve the Church in Haiti. Singularly, or along with other churches. Your church will have the opportunity to partner with an individual village to focus your efforts of Church Advancement. Through this progress, the goal is to see the church in Haiti strengthened, villages changed, the Gospel proclaimed and lives transformed. Church advancment focuses specifically on four areas: Ministry, Education, Haiti 1, Health Care.</p>
	<p style="text-align:center;"><img style="padding:20px 0;" src="/assets/advanceInfographic.png" /></p>
		<div class="buttonSquareOrange" style="margin:20px auto; width:280px"><a href="">Become Our Partner Today!</a></div>
		<img src="/assets/contentDiv.png" />
	<div id="contentLeft560">
	<div class="updatesWrapper">
		<h3><span class="eyebrow">Church Advancement</span><br />Projects</h3>
		<div class="speechBubble"><p>projects under way</p></div>

			<div class="update560">
			<div class="updateDate">
				<img src="/assets/icon-projects-mini.png" />
			</div>
			<div class="updateProjects560Left">
				<h4><a href="">Project Name</a></h4>
				<h4><a href="">Project Name</a></h4>
				<h4><a href="">Project Name</a></h4>
			</div>
			<div class="updateProjects560Right">
				<h4><a href="">Project Name</a></h4>
				<h4><a href="">Project Name</a></h4>
				<h4><a href="">Project Name</a></h4>
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<div class="updateNavRight"><a href="">View All Projects &raquo;</a></div>
	</div>
	
	<div class="updatesWrapper">
	<h3><span class="eyebrow">Church Advancement</span><br />Updates</h3>
		<div class="speechBubble"><p>latest updates</p></div>
		<%@updates.each do |m|%>
			<div class="update560">
			<div class="updateDate">
				<% 
					created = m.created_at 
					creator = "-"
					if m.user.blank?
						creator = '-'
					else
						creator = m.user.first
					end
				%>
				<span class="month"><%= created.strftime("%b")%></span><br />
				<span class="date"><%=created.strftime("%d")%></span><br />
				<span class="year"><%=created.strftime("%Y")%></span>
			</div>
			<div class="updatePost560">
				<h4><a href=""><%=m.title%></a></h4>
				<p><%=truncate(m.body,:length=>100,:separator=>' ')%> <a href="">READ MORE</a></p>
				<p class="meta">Projects: Project Name | Posted by: <%=creator%></p>
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<%end%>
		<div class="updateNavRight"><a href="">View All Updates &raquo;</a></div>
	</div>
	
	<div class="updatesWrapper">
	<h3><span class="eyebrow">Church Advancement</span><br />Blog Posts</h3>
		<div class="speechBubble"><p>latest<br />blog posts</p></div>
		<%@updates.each do |m|%>
			<div class="update560">
			<div class="updateDate">
				<% 
					created = m.created_at 
					creator = "-"
					if m.user.blank?
						creator = '-'
					else
						creator = m.user.first
					end
				%>
				<span class="month"><%= created.strftime("%b")%></span><br />
				<span class="date"><%=created.strftime("%d")%></span><br />
				<span class="year"><%=created.strftime("%Y")%></span>
			</div>
			<div class="updatePost560">
				<h4><a href=""><%=m.title%></a></h4>
				<p><%=truncate(m.body,:length=>100,:separator=>' ')%> <a href="">READ MORE</a></p>
				<p class="meta">Projects: Project Name | Posted by: <%=creator%></p>
			</div>
			<div class="clearfix"><!--x--></div>
			</div>
		<%end%>
		<div class="updateNavRight"><a href="">View All Posts &raquo;</a></div>
	</div>
	
	
	</div>
	<div id="contentRight300">
		<div class="contentRightWrapper">
			<h3><span class="eyebrow">Learn More About</span><br />Our Reach</h3>
			<p>Lorem ipsum</p>
				<h4 class="projectDetailButton iconDetailVillages">Total No. of Villages Served <span class="darkGreen">8</span></h4>
				<h4 class="projectDetailButton iconDetailPopulation">Total Population Reached <span class="darkGreen">86,000</span></h4>
				<h4 class="projectDetailButton iconDetailProjects">Total No. of Projects Under Way <span class="darkGreen">98</span></h4>
		</div>
		<div class="contentDiv"></div>
		<div class="contentRightWrapper">	
			<h3><span class="eyebrow">Learn More About</span><br />Vision Trips</h3>
			<p>Are you a church leader interested in partnering with Mission of Hope? The best way to learn more about what we are doing is to visit us in Haiti.<br /><a href="">Take a Vision Trip &raquo;</p>
		</div>
	</div>
		<div class="clearfix"><!--x--></div>

</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>