<h1>Listing categories</h1>

<table>
  <tr>
  	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
  	<td><%= category.categoryname %></td>
  	<td><%= link_to 'Show', category %></td>
  	<% if @isadmin %>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
    	<td></td>
    	<td></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<% if @isadmin %>
<%= link_to 'New Category', new_category_path %>
<% end %>
