<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.categoryname %>
</p>



<% if @user.nil? %>
	<%= link_to 'Back', categories_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_category_path(@category) %> | <%= link_to 'Back', categories_path %>
<% else %>
	<%= link_to 'Back', categories_path %>
<%end%>

