<%= form_for(@community) do |f| %>
  <% if @community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% @community.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :communityname %><br />
    <%= f.text_field :communityname %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div>
  	Select Related Projects: <%= collection_select 'community', 'project_ids', Project.order("projectname asc"), :id, :projectname, { :include_blank => 'None'}, { :multiple => true, :projectname =>'community[project_ids][]',:selected => 0 } %>
  </div>
  <div>
  	Select Partners: <%= collection_select 'community', 'partner_ids', Partner.order("partnername asc"), :id, :partnername, { :include_blank => 'None'}, { :multiple => true, :partnername =>'community[partner_ids][]',:selected => 0 } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
