<%= form_for(@community) do |f| %>
  <% if @community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>

      <ul>
      <% @community.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :communityname %><br />
    <%= f.text_field :communityname %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>
  <div class="field">
    Overview Title:<br /> <%= f.text_field :overviewtitle %>
  </div>
  <div class="field">
    Overview Description: <%= f.text_area :overviewdesc %>
  </div>
  <div class="field">
    Spiritual Climate Title:<br /> <%= f.text_field :spiritualtitle %>
  </div>
  <div class="field">
    Spiritual Climate Description: <%= f.text_area :spiritualdesc %>
  </div>
  <div class="field">
    Economy Title:<br /> <%= f.text_field :econtitle %>
  </div>
  <div class="field">
    Economy Description: <%= f.text_area :econdesc %>
  </div>
  <div class="field">
    Education Title:<br /> <%= f.text_field :edtitle %>
  </div>
  <div class="field">
    Education Description: <%= f.text_area :eddesc %>
  </div>
  <div class="field">
    Health Title:<br /> <%= f.text_field :healthtitle %>
  </div>
  <div class="field">
    Health Description: <%= f.text_area :healthdesc %>
  </div>
  <div class="field">
    Needs Title: <br> <%= f.text_field :needstitle %>
  </div>
  <div class="field">
    Needs Description: <%= f.text_area :needsdesc %>
  </div>
  <div class="collectionSelector">
  	Select Related Projects:<br /> <%= collection_select 'community', 'project_ids', Project.order("projectname asc"), :id, :projectname, { :include_blank => 'None'}, { :multiple => true, :projectname =>'community[project_ids][]',:selected => 0 } %>
  </div>
  <div class="collectionSelector">
  	Select Partners:<br /> <%= collection_select 'community', 'partner_ids', Partner.order("partnername asc"), :id, :partnername, { :include_blank => 'None'}, { :multiple => true, :partnername =>'community[partner_ids][]',:selected => 0 } %>
  </div>
  <div>Add image(s):
  <%= f.fields_for :assets do |asset_fields| %>
  	<% if asset_fields.object.new_record? %>
  		<p>
  			<%= asset_fields.file_field :asset%>
  		</p>
  	<% end%>
  <% end %>
  <%= f.fields_for :assets do |asset_fields| %>
  	<% unless asset_fields.object.new_record? %>
  		<p>
  			<%= link_to image_tag(asset_fields.object.asset.url(:thumb)),asset_fields.object.asset.url(:large)%>
  			<%= asset_fields.check_box :_destroy %> Remove Image
  		</p>
  	<% end %>
  <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
