<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
	
<h1>Edit <%= @community.communityname %></h1>

<%= render 'form' %>

<%= link_to 'Show', @community %> |
<%= link_to 'Back', communities_path %>
</div></div>
