<div id="bgHero">
	<div id="mapHeroImg"><%= gmaps4rails(@jason) %></div>
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>

<div id="content" style="padding-top:370px;">

	<h1><span class="eyebrow">Mission of Hope</span><br />Villages We Serve</h1>
<div id="gridWrapperProjects">
	<% @communities.each do |community| %>
		<% @communityimage = community.assets.first%>
		<% if @itemCount.modulo(2) == 0 %>
			<div class="grid2x2Left" style="height:240px;">
				<div class="gridImage  projectsMed" style="background-image: none;')">
					<% if @communityimage.nil? %>
						<a href="/communities/<%=community.id%>" style="background-image: url('/assets/icon-projects-med.png')"></a>
					<% else %>
						<a href="/communities/<%=community.id%>" style="background-color:#C2B092; border-top: 2px solid #C2B092;border-left: 2px solid #C2B092;padding:0; background-image: url('<%=@communityimage.asset.url(:thumb)%>')"></a>
					<% end %>
				</div>
				<div class="gridText">
					<h2><a href="/communities/<%=community.id%>"><%=community.communityname%></a></h2>
					<p><%=truncate(community.overviewdesc,:length=>100,:separator=>' ') %> </p>
					<h3 class="projectDetailButton">
						People Reached:
						<span class="darkGreen"><%=community.population%></span>
					</h3>
					<h3 class="projectDetailButton">
						No. of Projects:
						<span class="darkGreen"><%= community.projects.count%></span>
					</h3>
					<h3 class="projectDetailButton">
						<a href="/communities/<%=community.id%>">View Village Profile &raquo;</a>
					</h3>
				</div>
			</div>
		<%else%>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed" style="background-image: none;')">
					<% if @communityimage.nil? %>
						<a href="/communities/<%=community.id%>" style="background-image: url('/assets/icon-projects-med.png')"></a>
					<% else %>
						<a href="/communities/<%=community.id%>" style="background-color:#C2B092; border-top: 2px solid #C2B092;border-left: 2px solid #C2B092;padding:0; background-image: url('<%=@communityimage.asset.url(:thumb)%>')"></a>
					<% end %>
				</div>
				<div class="gridText">
					<h2><a href="/communities/<%=community.id%>"><%=community.communityname%></a></h2>
										<p><%=truncate(community.overviewdesc,:length=>100,:separator=>' ') %></p>
					<h3 class="projectDetailButton">
						People Reached:
						<span class="darkGreen"><%=community.population%></span>
					</h3>
					<h3 class="projectDetailButton">
						No. of Projects:
						<span class="darkGreen"><%= community.projects.count%></span>
					</h3>
					<h3 class="projectDetailButton">
						<a href="<%=community.id%>">View Village Profile &raquo;</a>
					</h3>
				</div>
			</div>
			<div class="clearfix"></div>		
		<%end%>
		<% @itemCount = @itemCount + 1 %>
	<%end%>

</div>
<br />
<% if !@user.nil? && @user.is_admin == 1 %>
	<div style="clear:both; padding:10px 0px 10px 0px;"><%= link_to 'Click Me to Create a New Community', new_community_path %></div>
<% end %>
<div class="clearfix"></div>

</div>