<p id="notice"><%= notice %></p>

<p>
  <b>Communityname:</b>
  <%= @community.communityname %>
</p>

<p>
  <b>Latitude:</b>
  <%= @community.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @community.longitude %>
</p>


<% if @user.nil? %>
	<%= link_to 'Back', communities_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_community_path(@community) %> | <%= link_to 'Back', communities_path %>
<% else %>
	<%= link_to 'Back', communities_path %>
<%end%>



