<div id="wrapper">
	<%=render 'layouts/navBar'%>
		<p><%= @community.communityname %></p>
		<p>Population: <%= @community.population %></p>
		<p><b><%= @community.overviewtitle %></b></p>
		<p><%= @community.overviewdesc.html_safe %></p>
		
		<p><%= @community.spiritualtitle %></p>
		<p><%= @community.spiritualdesc.html_safe %></p>
		
		<p><%= @community.econtitle %></p>
		<p><%= @community.econdesc.html_safe %></p>
		
		<p><%= @community.edtitle %></p>
		<p><%= @community.eddesc.html_safe %></p>
		
		<p><%= @community.healthtitle %></p>
		<p><%= @community.healthdesc.html_safe %></p>
		
		<p><%= @community.needstitle %></p>
		<p><%= @community.needsdesc.html_safe %></p>



<% if @user.nil? %>
	<%= link_to 'Back', communities_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_community_path(@community) %> | <%= link_to 'Back', communities_path %>
<% else %>
	<%= link_to 'Back', communities_path %>
<%end%>

</div>

