<div id="bgHero">
	<div id="advancementHeroImg"><!--x--></div>
	
</div>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
	<div id="content">
	<div id="heroContent">
		<h1 style="padding-top:40px;">
			<span class="largeText1 greenTransBG"><%= @community.communityname %></span>
			</h1>
			
	</div>
	<div class="contentHeader">
			<div class="contentHeaderLeft">
	<h1><span class="eyebrow">Village Profile</span><br /><%= @community.communityname %></h1>
		<!--<p><b><%= @community.overviewtitle %></b></p>-->
		<p><%= @community.overviewdesc.html_safe %></p>
		
		<h3>Population:</strong> <%= @community.population %></h3>
		<h2><%= @community.spiritualtitle %></h2>
		<p><%= @community.spiritualdesc.html_safe %></p>
		
		<h2><%= @community.econtitle %></h2>
		<p><%= @community.econdesc.html_safe %></p>
		
		<h2><%= @community.edtitle %></h2>
		<p><%= @community.eddesc.html_safe %></p>
		
		<h2><%= @community.healthtitle %></h2>
		<p><%= @community.healthdesc.html_safe %></p>
		
		<h2><%= @community.needstitle %></h2>
		<p><%= @community.needsdesc.html_safe %></p>
	
	</div>
	<div class="contentHeaderRight">
		<h3 class="projectDetailButton">No of </h3>
		
					</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
	<div id="contentLeft560">

		
	
	</div>
	<div id="contentRight300">
		<div class="contentRightWrapper">
			<h3><span class="eyebrow">Learn More About</span><br />Our Reach</h3>

<div id="divImgThumbs">
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-wrapper">
						<div class="ad-image shadow"></div>
					</div><!--wrapper-->
					<div class="ad-controls"></div><!--controls-->
					<div class="ad-nav">
						<div class="ad-back"></div>
						<div class="ad-thumbs">
							&nbsp;
							<ul class="ad-thumb-list">
								<% if @assets.count > 0
								@counter = 0
								@assets.each do |photo|
								@classname = "image" + @counter.to_s
								%>
								<!--<p><%= image_tag photo.asset.url(:medium) %></p>-->
								<li >
									<a href="<%= photo.asset.url(:medium)%>"><img src="<%= photo.asset.url(:thumb) %>" alt="" title="" longdesc="" class="<%= @classname%>" style="width:65px;" /></a>
								</li>
								<% @counter = @counter + 1%>
								<% end %>
								<% end %>
							</ul>
						</div>
						<div class="ad-forward"></div>
					</div><!--adnav-->
				</div><!--gallery-->
		</div><!--thumbs-->
		</div>
		<div class="clearfix"><!--x--></div>

</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>

<% if @user.nil? %>
	<%= link_to 'Back', communities_path %>
<% elsif @user.is_admin == 1%>
	<%= link_to 'Edit', edit_community_path(@community) %> | <%= link_to 'Back', communities_path %>
<% else %>
	<%= link_to 'Back', communities_path %>
<%end%>

</div>

