<div id="bgHero" >
	<%if !@community.nil? && !@community.heroimage.nil? && @community.heroimage != '' %>
		<div id="heroCommunitiesImg" style="background: url(/assets/<%=@community.heroimage%>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
		<!--x-->
		</div>
	<%else%>
		<div id="heroCommunitiesImg">
		<!--x-->
		</div>
	<%end%>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="padding-top:40px;"><span class="largeText1 greenTransBG"><%= @community.communityname %></span></h1>

		</div>
		<div class="contentHeader">
			<div class="contentHeaderLeft">
				<h1 class="alignLeft"><span class="eyebrow">Village Profile</span>
				<br />
				<%= @community.communityname %></h1>
				<!--<p><b><%= @community.overviewtitle %></b></p>-->
				<input type="hidden" class="subscribeData" name="village" value="<%=@community.id%>" />
					<% if !@subscribed || @subscribed.empty? %>
						<div class="subscribe buttonSquareOrange alignRight" style="margin-top:40px;">
						Follow this village
					<% else %>
					<div class="unsubscribe buttonSquareOrange alignRight" style="margin-top:40px;">
						Unfollow this village
					<% end %>
				</div>
				<script>
					$(document).ready(function() {
						$('.subscribe').live("click", function() {
							url = "/subscriptions.json";
							method = "POST";
							submitSubscription(url, method);
						});
						$('.unsubscribe').live("click", function() {
							url = "/subscriptions/<%=@community.id%>.json";
							method = "DELETE";
							submitSubscription(url, method);
						});
							
						function submitSubscription(url, method) {
							$.ajax({
							  type: 'POST',
							  url: url,
							  data: { datatype: "village", sub_id: "<%=@community.id%>", user_id: "<%=@current_user.id%>", _method: method }
							}).success(function( msg ) {
								  console.log( "Successful: " + url);
								  if($(".subscribe").length > 0) {
									  $('.subscribe').text("Unfollow this village");
									  $('.subscribe').addClass("unsubscribe");
									  $('.subscribe').removeClass("subscribe");
								  } else if ($('.unsubscribe').length > 0) {
									  $('.unsubscribe').text("Follow this village");
									  $('.unsubscribe').addClass("subscribe");
									  $('.unsubscribe').removeClass("unsubscribe");
								  }
							}).fail(function( msg ){
								alert("There was an error processing your request.");
							});
						}
					});
				</script>
				<div class="clearfix"></div>
				<p>
					<%= @community.overviewdesc.html_safe unless @community.overviewdesc.nil? %>
				</p>

				<!--<h3>Population:</strong> <%= @community.population %></h3>-->
				<h2><%= @community.spiritualtitle %></h2>
				<p>
					<%= @community.spiritualdesc.html_safe unless @community.spiritualdesc.nil? %>
				</p>

				<h2><%= @community.econtitle %></h2>
				<p>
					<%= @community.econdesc.html_safe unless @community.econdesc.nil?%>
				</p>

				<h2><%= @community.edtitle %></h2>
				<p>
					<%= @community.eddesc.html_safe unless @community.eddesc.nil? %>
				</p>

				<h2><%= @community.healthtitle %></h2>
				<p>
					<%= @community.healthdesc.html_safe unless @community.healthdesc.nil? %>
				</p>

				<h2><%= @community.needstitle %></h2>
				<p>
					<%= @community.needsdesc.html_safe unless @community.needsdesc.nil? %>
				</p>

			</div>
			<div class="contentHeaderRight">
				<h3 class="projectDetailButton" style="padding-top:20px; background-image: url('/assets/icon-population-inset.png'); background-repeat:no-repeat; background-position:95% 50%; height:60px;">No. of Haitians living
				<br />
				in this village 
				<br />
				<span class="darkGreenLarge"><%= @community.population %></span></h3>
				<h3 class="projectDetailButton" style="padding-top:20px; background-image: url('/assets/icon-projects-inset.png'); background-repeat:no-repeat; background-position:95% 50%; height:60px;">
					No. of Projects
				<br />
				underway in this village
				<br />
				<span class="darkGreenLarge"><%= @projectscount %></span><br /><a href="/projects/?commid=<%= @community.id%>">View all projects &raquo;</a></h3>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
			</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
		<div id="contentLeft560">
			<%if @projects.count > 0%>
			<div class="updatesWrapper">
				<!--Projects-->
				<h3><span class="eyebrow"><%= @community.communityname%></span>
				<br />
				Projects</h3>
				<div class="speechBubble">
					<p>
						projects under way
					</p>
				</div>
				<%if @projects.count > 0%>
				<div class="update560">
					<% @counter = 1 %>
					<% @projects.each do |project| %>
						<% if !project.categories.first.categoryicon.nil? && !project.categories.first.categoryicon.blank? %>
							<% @tinyicon = "sm-" + project.categories.first.categoryicon %>
						<%else%>
							<% @tinyicon = "sm-icon-projects.png" %>
						<% end %>
						<% if @counter % 2 != 0 %>
							<div class="updateProjects560Left">
								<div style="height:40px; background:url('/assets/<%=@tinyicon%>') left 50% no-repeat;"><h4 style="padding-left:50px; padding-top:10px;" ><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h4></div>
							</div>
							<%@counter = @counter + 1%>
						<% else%>
							<div class="updateProjects560Right">
								<div style="height:40px; background:url('/assets/<%=@tinyicon%>') left 50% no-repeat;"><h4 style="padding-left:50px; padding-top:10px;" ><a href="/projects/<%=project.id%>"><%=project.projectname%></a></h4></div>
							</div>
							<%@counter = @counter + 1%>
						<%end%>
					<% end %>
					<div class="clearfix"><!--x--></div>
				</div>
				<div class="updateNavRight">
					<a href="/projects/?commid=<%= @community.id%>">View All Projects &raquo;</a>
				</div>
				<% else %>
				<div class="update560">
					No Current <%= @community.communityname%> Projects
					<div class="clearfix">
						<!--x-->
					</div>
				</div>
				<% end %>
			</div>
			<%end%>
			<%if @updates.count > 0%>
			<div class="updatesWrapper">
				<!--Updates-->
				<h3><span class="eyebrow"><%= @community.communityname%></span>
				<br />
				Updates</h3>
				<div class="speechBubble">
					<p>
						latest updates
					</p>
				</div>
				<%if @updates.count > 0%>
				<%@updates.each do |m|%>
					<%@photo = m.assets.last %>
				<div class="update560">
					<div class="updateDate">
						<% created = m.created_at %>
						<span class="month"><%= created.strftime("%b")%></span>
						<br />
						<span class="date"><%= created.strftime("%d")%></span>
						<br />
						<span class="year"><%= created.strftime("%Y")%></span>
						<%unless @photo.nil?%>
							<a href="/updates/<%=m.id%>"><img src="/assets/icon-photo-39x39.png" style="margin-top:15px;width:30px;" /></a>
						<%end%>
					</div>
					<div class="updatePost560">
						<h4><a href="/updates/<%=m.id%>"><%= m.title%></a></h4>
						<p>
							<%= truncate(m.body,:length=>250,:separator=>' ').html_safe %> <a href="/updates/<%=m.id%>">Read More &raquo;</a>
						</p>
						<% @cat = m.categories.order("categoryname asc").limit(1)%>
						<p class="meta">
							<%unless @cat.count==0%>Related Category: <a href="/updates/?cid=<%=@cat.first.id%>"><%=@cat.first.categoryname%></a><%end%> <%if !m.author.nil? && !m.author.blank?%><%unless @cat.count==0%>| <%end%>Update from: <%=m.author%><%end%></p>
					</div>
					<div class="clearfix">
						<!--x-->
					</div>
				</div>
				<%end%>
				<div class="updateNavRight">
					<a href="/updates/?commid=<%= @community.id%>">View All Updates &raquo;</a>
				</div>
				<%else%>
				<div class="update560">
					No <%= @community.communityname%> Updates
				</div>
				<%end%>
			</div>
			<%end%>
			<% if @posts.count > 0%>
			<div class="updatesWrapper">
				<!--Posts-->
				<h3><span class="eyebrow"><%= @community.communityname%></span>
				<br />
				Blog Posts</h3>
				<div class="speechBubble">
					<p>
						latest posts
					</p>
				</div>
				<% if @posts.count > 0%>
				<%@posts.each do |m|%>
				<div class="update560">
					<div class="updateDate">
						<%
 created = m.postdate
%>
						<span class="month"><%= created.strftime("%b")%></span>
						<br />
						<span class="date"><%= created.strftime("%d")%></span>
						<br />
						<span class="year"><%= created.strftime("%Y")%></span>
					</div>
					<div class="updatePost560">
						<h4><a href="/posts/<%=m.id%>"><%= m.title%></a></h4>
						<p>
							<%= truncate(m.metadescription,:length=>250,:separator=>' ') %> <a href="/posts/<%=m.id%>">Read More &raquo;</a>
						</p>
										<% @cat = m.categories.order("categoryname asc").limit(1) %>
				<p class="meta">
					<%unless @cat.count==0%>Related Category: <a href="/updates/?cid=<%=@cat.first.id%>"><%=@cat.first.categoryname%></a><%end%> <%if !m.author.nil? && !m.author.blank?%><%unless @cat.count==0%>| <%end%>Posted by: <%=m.author%><%end%></p>
					</div>
					<div class="clearfix">
						<!--x-->
					</div>
				</div>
				<%end%>
				<div class="updateNavRight">
					<a href="/posts/?commid=<%= @community.id%>">View All Posts &raquo;</a>
				</div>
				<%else%>
				<div class="update560">
					No <%= @community.communityname%> Blog Posts
				</div>
				<%end%>
			</div>
			<%end%>
		</div>
		<div id="contentRight300">
			<div class="contentRightWrapper">
			</div>
			<div class="clearfix">
				<!--x-->
			</div>

		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>

		<% if @user.nil? %>
		<% elsif @user.is_admin == 1%>
		<%= link_to 'Edit', edit_community_path(@community) %> | <%= link_to 'Back', communities_path %>
		<% else %>
		<%= link_to 'Back', communities_path %>
		<%end%>

	</div>

