<div class="rightBoxGreen">
				<h2>Monthly Archives</h2>
				<% @months.uniq.each do |post|%>
					<% @datetime = DateTime.strptime(post,'%B %Y')%>
				<ul class="aboutUsNav">
					<li>
						<a href="/posts/?mid=<%=@datetime.strftime('%m-%Y')%>"><%= post%></a> 
					</li>
				</ul>
				<%end%>
</div>
<% unless @categories.nil? %>
			<div class="rightBoxGreen">
				<h2>Categories</h2>
				<%@categories.each do |cat|%>
				<ul class="aboutUsNav">
					<li>
						<a href="/posts/?cid=<%= cat.id%>"><%= cat.categoryname%></a>
					</li>
				</ul>
				<%end%>
			</div>
<%end%>
<% unless @updates.nil? %>
			<div class="rightBoxGreen">
				<h2>Recent Updates</h2>
				<%@updates.each do |update|%>
				<ul class="aboutUsNav">
					<li>
						<a href="/updates/<%= update.id%>"><%= update.title%></a>
					</li>
				</ul>
				<%end%>
			</div>
<%end%>