<!DOCTYPE html>
<html>
<head>
  <title>MOH Haiti</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

<div><%= yield :scripts %></div>
</body>
</html>
