<!DOCTYPE html>
<html>
<head>
  <title>MOH Haiti</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
<%= yield %>

<div><%= yield :scripts %></div>
<div id="user_nav" style="position:absolute;top:-100px;">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>
<div><% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %></div>

<div id="superFooter">
	<div class="superFooterCol">
		<img src="/assets/logoFooter.png" />
		
	</div>
	<div class="superFooterCol">
		<div class="social">
		<h5>We're Also On:</h5>
		<ul>
			<li class="facebook"><a href="">Facebook</a></li>
			<li class="twitter"><a href="">Twitter</a></li>
			<li class="vimeo"><a href="">Vimeo</a></li>
		</ul>
		</div>
		<p class="clearfix"><a href="">Other ways to contact us &raquo;</a></p>
		<a href=""><img src="/assets/button-newsletter.png" alt="Subscribe to our newsletter" /></a>
	</div>
	<div class="superFooterCol">
		<h5>Learn More About Us</h5>
		<ul>
			<li><a href="/vision_trip">Vision, Mission & Resolutions &raquo;</a></li>
			<li><a href="/trip_faqs">FAQs &raquo;</a></li>
			<li><a href="">Privacy Policy &raquo;</a></li>
			<li><a href="">Media Inquiries &raquo;</a></li>
		</ul>
	</div>
	<div class="superFooterColLast">
		<h5>Get Involved</h5>
		<ul>
			<li><a href="">Donate &raquo;</a></li>
			<li><a href="/child-sponsorship">Child Sponsorship &raquo;</a></li>
			<li><a href="/mission_trips">Mission Trips &raquo;</a></li>
			<li><a href="/church_advancement">Churches &raquo;</a></li>
		</ul>
	</div>
	<p>&copy;<%= Date.today.year %> Mission of Hope Haiti // <a href="http://threetwelvecreative.com" target="_blank" ">Website design & development by ThreeTwelve Creative</a></p>
</div>
</div>
<div id="footer">
	<div id="footerImg"><!--x--></div>
</div>
</body>
</html>
